a(href="#").plain.menu-btn-img#menu-btn-img
	.unit
		.tile
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='15px', height='15px', viewbox='-297 405 15 15', enable-background='new -297 405 15 15', xml:space='preserve')
				rect(height='4', width='4', x='-297', 	y='405'		)
				rect(height='4', width='4', x='-286', 	y='405'		)
				rect(height='4', width='4', x='-297', 	y='416'		)
				rect(height='4', width='4', x='-286', 	y='416'		)
				rect(height='4', width='4', x='-297', 	y='410.5'	)
				rect(height='4', width='4', x='-291.5', y='405'		)
				rect(height='4', width='4', x='-291.5', y='416'		)
				rect(height='4', width='4', x='-291.5', y='410.5'	)
				rect(height='4', width='4', x='-286', 	y='410.5'	)

		.list
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='15px', height='15px', viewbox='-297 405 15 15', enable-background='new -297 405 15 15', xml:space='preserve')
				rect(height='4',  width='4', 	x='-297',	 	y='405', 	)
				rect(height='4',  width='9.5', 	x='-291.5', 	y='405'  	)
				rect(height='4',  width='4', 	x='-297',	 	y='416', 	)
				rect(height='4',  width='9.5', 	x='-291.5', 	y='416'  	)
				rect(height='4',  width='4', 	x='-297',	 	y='410.5'  	)
				rect(height='4',  width='9.5', 	x='-291.5', 	y='410.5'  	)
