ul.reflow li a,
figure .ih.reflow .cell,
figure.gg-singular label,
#gg-sitemap
	line-height: 1.5em
	font-family: $technical
	max-width: $narrow-unit
	text-transform: uppercase
	color: $ink
	font-size: 10px
	.bold
		font-weight: 600



figure.gg-singular section.diagram
	padding-left:   $gttr-dt
	padding-right:  $gttr-dt

@media (max-width: $phone-max)
	figure.gg-singular section.diagram
		padding-left: $gttr-ph
		padding-right: $gttr-ph