.work.iso
  main
    margin-top: 2.5em
    .segment
      figure
        figcaption
          padding-top: 1em
          padding-bottom: 3em

      & + .segment
        margin-top: 2em

        & + .caption
          margin-top: 0

      &.type
        h2 + p
          margin-top: 2.5em
        p + h2
          margin-top: 1.5em
        p + p
          margin-top: 1em
          
        p:last-child
          margin-bottom: 0

      &.code
        margin-bottom: 1.5em

      &.diagram
        margin-top: 3em
        margin-bottom: 4em

  .band.ref
    margin-top: 3em
    & + .band.turn
      margin-top: 0

@media (max-width: $phone-max)
  .work.iso
    main
      margin-top: 1.5em
      .segment
        figure figcaption
          padding-bottom: 2em
        & + .segment
          margin-top: 0
        &.surface,
        &.diagram
          margin-top: 1.5em
          margin-bottom: 1.5em
          h4
            margin: 0 auto 1.5em
        &.blueprint + .blueprint
          margin-top: 1em
        &.type
          h2
            margin: 1em 0

          h2 + p
            margin-top: 1em
            


