$blue:        #2199E7
$blueSky:     rgb(176,234,236)
$yellow:		  #fbf395
$copy:        rgba(0, 0, 0, 0.85)
$bg:          #f1f1f1
$blueDark:    #406da8
$red:         #ff6876
$slate:       #333
$orange:      #e4b071

$border:      1px solid rgba(0, 0, 0, 0.08)
$gttr-ph:     15px
$gttr-dt:     26px
$gttr-dt-top:	22px

$serif:       "Noto Serif", Georgia, serif
$sans:        "CircularStd-Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serfif
$mono:        "InputMonoNarrow-Regular", "InputMonoNarrow-Thin", monospace

$transition:        all 300ms ease
$transition-quick:  all 300ms ease

$wide-unit:   1098px
$narrow-unit: 780px
$phone-max:   500px


// partials
@import "partials/includes.sass"
@import "partials/base.sass"
@import "partials/type.sass"
@import "partials/lists.sass"
@import "partials/segment.sass"
@import "partials/image.sass"
@import "partials/links.sass"
@import "partials/nav.sass"
@import "partials/footer.sass"
@import "partials/motion.sass"
@import "partials/rhythm.sass"
@import "partials/cursor.sass"
@import "partials/cover.sass"

// projects
@import "projects/atop.sass"

.segment.blueprint.wire
  position: relative
  .yoyo
    position: absolute
    left: 0
    top: 0
    z-index: 5
    background: #2e4dd2
    .warn
      padding: $gttr-ph 30px 30px $gttr-ph
      margin: 0
      color: white
      text-align: left

#level-up
  position: fixed
  top: -70px
  left: 0
  opacity: 0
  width: 100%
  z-index: 10
  transition: $transition-quick
  background: rgba(176,234,236, 0.6)
  ol.reset.ghost.nav
    display: flex
    li
      width: 50%
      &:nth-child(2)
        text-align: right



