$blue:        #2199E7
$blueSky:     rgb(176,234,236)
$yellow:		  #fbf395
$copy:        rgba(0, 0, 0, 0.85)
$bg:          #f1f1f1
$blueDark:    #406da8
$red:         #ff6876
$slate:       #333

$border:      1px solid rgba(0, 0, 0, 0.1)
$gttr-ph:     12px
$gttr-dt:     26px
$gttr-dt-top:	22px


$serif:       "Noto Serif", Georgia, serif
$sans:        "CircularStd-Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serfif
$mono:        "InputMonoNarrow-Regular", "InputMonoNarrow-Thin", monospace

$transition:  all 300ms ease

$wide-unit:   1098px
$narrow-unit: 780px
$phone-max:   500px


// partials
@import "partials/includes.sass"
@import "partials/base.sass"
@import "partials/type.sass"
@import "partials/lists.sass"
@import "partials/segment.sass"
@import "partials/image.sass"
@import "partials/links.sass"
@import "partials/nav.sass"
@import "partials/motion.sass"
@import "partials/tooltip.sass"
@import "partials/rhythm.sass"

// projects
@import "projects/atop.sass"



.band.head.relative.unselect.hello
  position: fixed
  width: 100%
  z-index: 10
  top: -70px
  transition: all ease 250ms
  background: rgba(255,255,255,0.8)
  background: rgba(176,234,236,0.8)
  a
    width: 100%
  
  nav
    ol
      li.profile
        text-transform: uppercase
      li
        color: white
        opacity: 0.6
        letter-spacing: 0.06em



