// Type
$display:       "c-std-bold", "Noto Serif", Georgia, serif
$running:		"Noto Serif", Georgia, serif
$technical:		"Roboto Mono", monospace
$notes:			"Noto Serif", Georgia, serif

$font-small:	11px
$border:		1px solid rgba(0, 0, 0, 0.08)
// Colour
$maths:			rgba(33, 153, 231, 1)
$copy:		   	rgba(0, 0, 0, 0.85)
$bg:	    	rgba(241, 241, 241, 1)
$hover:		  	rgba(255, 255, 255, 0.4)
$ink:      		rgba(46, 77, 210, 1)

// Grid
$wide-unit:    	1104px
$narrow-unit:	760px
$phone-max:		500px
$gttr-ph:	 	15px
$gttr-dt:	 	26px
$gttr-dt-top:	22px


@mixin theme-A($alpha)
	background-color: rgba(129, 211, 235, $alpha)

@mixin theme-B($alpha)
	background-color: rgba(228, 176, 113, $alpha)

@mixin tween($speed)
	transition: all $speed ease


// partials
@import "partials/includes.sass"
@import "partials/base.sass"
@import "partials/type.sass"
@import "partials/lists.sass"
@import "partials/segment.sass"
@import "partials/image.sass"
@import "partials/links.sass"
@import "partials/nav.sass"
@import "partials/footer.sass"
@import "partials/motion.sass"
@import "partials/rhythm.sass"
@import "partials/cover.sass"
@import "partials/fallback.sass"
@import "partials/stacking.sass"
@import "partials/mast.sass"
@import "partials/pan.sass"
@import "partials/swatch.sass"
@import "partials/flex.sass"
@import "partials/counters.sass"

//beta
@import "partials/medium.sass"
@import "partials/tiles.sass"
// projects
@import "projects/atop.sass"
@import "projects/gg-sitemap.sass"
@import "projects/gg-ui.sass"
