hgroup
  span.under Advanced Search
  span.chevron &gt;
  br
  span.under Search results for &#8216;omega&#8217; (22)
  span.chevron &gt;
  br
  | OMEGA &mdash; Ball Pen (Black Ink)

hgroup.hr
  span.under Browse Categories
  span.chevron &gt;
  br
  span.under Metal Pens
  span.chevron &gt;
  br
  | OMEGA &mdash; Ball Pen (Black Ink)