ul.reflow
	li
		a(href="#").plain.reflow.before.active Before
	li
		a(href="#").plain.reflow.after After

.segment.blueprint.relative
	figure
		.ih.reflow.before#reflow
			.cell.nav
			.cell.colour
			.cell.stock
			.cell.cycle
			.cell.image
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg')
					line(x1='0' x2='100%' y1='0'    y2='100%' stroke-dasharray="1,1"  style='stroke-width: 1px;' stroke='blue' fill='none')
					line(x1="0" x2="100%" y1="100%" y2="0"    stroke-dasharray="1,1"  style="stroke-width: 1px;" stroke="blue" fill="none")
			.cell.stats
				.tab STATS
				.region
			.cell.colour
				.tab COLOURS
				.region
			.cell.stock 
				.tab STOCK
				.region

		figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet repellendus dolor beatae voluptas quae? Eaque totam, maiores, iusto animi, suscipit dolorum id quam ipsa ab a, alias quia atque eligendi.