section.diagram.gg.sitemap
  margin:     auto
  max-width:  $narrow-unit
  
  .thick
    padding: 1.5em
    
    .thin
      max-width: 12em
      margin: 1em auto 0
      display: block

  .thin
    padding: 0.5em
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMXB4IiBoZWlnaHQ9IjFweCIgdmlld0JveD0iMCAwIDEgMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMSAxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IGZpbGw9IiNFOUVBRUIiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz4NCjwvc3ZnPg0K) 50% 50% repeat-y

  ul.row
    width: 100%
    display: flex
    align-items: flex-start
    
    li.page
      flex:         1
      margin:       0 0.5em

      &.stretch
        align-self: stretch

      &:first-child
        margin-left:  0

      &:last-child
        margin-right: 0
        
      &.up::after
        @include pointUp

      &.down::before
        @include pointDown

      &.join
        @include joiner

      &.join,
      &.up::after,
      &.down::before
        background-position: 50% 50%
        
      &.up::after,
      &.down::before
        background-repeat: no-repeat
        content: ''
        display: block
        height: 20px
        
      .turn
        transition: transform 200ms ease

        label + ul.content
          margin-top: 1.5em

        ul.content
          li
            border-top: 1px solid $ink
            padding:    2px 0
          
            ul.section li
              border-top: none
              padding:    0
            
              &:before
                content:  "― "

@media (max-width: 560px)
  section.gg.sitemap
    ul.row
      li.page
        margin:       0 0.3em

        .thin
          height:   126px
          position: relative
  
          .turn
            position: absolute
            left: 1.05rem
            top: 0.4rem
            height: 2rem
            width: 8rem
            transform: rotate(90deg)
            transform-origin: top left
            
            ul.content
              display: none
