link(rel="prefetch" href="http://droom.io/img/cover/ih-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/gg-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/gr-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/fo-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/konami/coin.wav")