link( href="konami/coin.wav" rel="prefetch")

link( href="img/cover/ih-cover-600.jpg" rel="prefetch")
link( href="img/cover/gg-cover-600.jpg" rel="prefetch")
link( href="img/cover/gr-cover-600.jpg" rel="prefetch")
link( href="img/cover/fo-cover-600.jpg" rel="prefetch")
