link(href="img/touch/favicon.ico" rel="icon" 		type="image/x-icon")
link(href="img/touch/favicon.ico" rel="shortcut icon" 	 type="image/x-icon")
link(href="img/touch/favicon.svg" rel="mask-icon" 	sizes="any" )

//- default
link(href="img/touch/016.gif" rel="icon" type="image/png" sizes="16x16" 		 	)
link(href="img/touch/032.gif" rel="icon" type="image/png" sizes="32x32" 		 	)
link(href="img/touch/036.gif" rel="icon" type="image/png" sizes="36x36" 				)
link(href="img/touch/048.gif" rel="icon" type="image/png" sizes="48x48" 				)
link(href="img/touch/072.gif" rel="icon" type="image/png" sizes="72x72" 				)
link(href="img/touch/096.gif" rel="icon" type="image/png" sizes="96x96" 				)
link(href="img/touch/144.gif" rel="icon" type="image/png" sizes="144x144" 		)
link(href="img/touch/192.gif" rel="icon" type="image/png" sizes="192x192" 		)
//- Apple
link(href="img/touch/057.gif"  rel="apple-touch-icon" sizes="57x57"    )
link(href="img/touch/060.gif"  rel="apple-touch-icon" sizes="60x60"    )
link(href="img/touch/072.gif"  rel="apple-touch-icon" sizes="72x72"    )
link(href="img/touch/076.gif"  rel="apple-touch-icon" sizes="76x76"    )
link(href="img/touch/114.gif"  rel="apple-touch-icon" sizes="114x114"  )
link(href="img/touch/120.gif"  rel="apple-touch-icon" sizes="120x120"  )
link(href="img/touch/144.gif"  rel="apple-touch-icon" sizes="144x144"  )
link(href="img/touch/152.gif"  rel="apple-touch-icon" sizes="152x152"  )
link(href="img/touch/180.gif"  rel="apple-touch-icon" sizes="180x180"  )

//- IE
meta(content="img/touch/070.gif" name="msapplication-TileImage" )
meta(content="img/touch/144.gif" name="msapplication-TileImage" )
meta(content="img/touch/150.gif" name="msapplication-TileImage" )
meta(content="img/touch/310.gif" name="msapplication-TileImage" )
meta(content="img/touch/310x150.gif" name="msapplication-TileImage" )
meta(content="img/touch/browserconfig.xml" name="msapplication-config" )
meta(content="#da532c" name="msapplication-TileColor" )
