body.iso main
	margin-top: 		$gttr-dt
	margin-bottom: 		calc($gttr-dt * 3)

main ul.contents li a.plain .segment.work

header h1 + dl.credits,
header h1 + .plain.contents.btn
	padding-top: $gttr-dt * 4

hgroup
	padding-top: $gttr-ph
	padding-bottom: $gttr-dt
	
footer small
	padding-top: $gttr-dt * 2
	padding-bottom: $gttr-dt
	
.pager .segment.type ul.page li
	padding-top: 	$gttr-dt
	padding-bottom: $gttr-dt

ol.ref
	padding-top: 	$gttr-ph
	padding-bottom: $gttr-dt

.cover-photo dl.credits
	padding-top: $gttr-ph

.cover-aside aside.project
	padding-top: $gttr-ph



ul.contents li .segment.type.work
	padding-top: 	$gttr-dt
	padding-bottom: $gttr-dt

@media (max-width: $phone-max)
	ul.contents li .segment.type.work
		padding-top: 	$gttr-ph
		padding-bottom: $gttr-dt * 2



ul.contents li .segment.type.work dd.project
	padding-bottom: $gttr-dt




header
	padding-top: 	$gttr-dt
	padding-bottom: $gttr-dt
	
@media (max-width: $phone-max)
	header
		padding-top: 	$gttr-ph
		padding-bottom: $gttr-ph
		



nav .segment.type.ghost
	padding-top: 	$gttr-dt
	padding-bottom: $gttr-dt

@media (max-width: $phone-max)
	nav .segment.type.ghost
		padding-top: 	$gttr-ph
		padding-bottom: $gttr-ph




main figure figcaption
	margin-top: 	$gttr-dt
	margin-bottom: 	$gttr-dt

@media (max-width: $phone-max)
	main figure figcaption
		margin-top: 	$gttr-ph
		margin-bottom: 	$gttr-ph



body main
	p
		margin-top: 	$gttr-dt
		margin-bottom: 	$gttr-dt 

	p + p
		margin-top: 0

	h2
		margin-top: 	$gttr-dt
		margin-bottom: 	$gttr-dt
		
	h3
		margin-top: 	$gttr-dt
		margin-bottom: 	$gttr-dt

	table
		margin-top: 	$gttr-dt
		margin-bottom: 	$gttr-dt
		
	.segment.surface,
	.segment.blueprint
		margin-top: 	$gttr-dt
		margin-bottom: 	$gttr-dt

	#ih-product
		padding-top: 	$gttr-dt

