header
  h1
    = "Chris Droom is a Designer "
    span.entity.accent &amp;&amp;
    = " Client-side Developer based in London "
    span.entity.accent.slim &#124;&#124;
    = " Berlin"
    &nbsp;
    span.entity.accent.slim &#124;&#124;
    &nbsp;
    = "KL"