header
  h1
    = "Chris Droom works as a "
    br
    = "Product"
    span.entity.accent.slim &#47;
    = "Service Designer "
    br
    = "in London"
    span.entity.accent.slim &#47;
    = "Berlin"