#gr-flow
	h4 gr&mdash;process_diagram_v2

	.flex-parent
		

		.flex-child.terminal
			label A

		.flex-child.join
			.cell

		.flex-child
			.cell.profile
				.box
					label Profile admin
			.cell.dashboard
				.box
					label Dashboard
			.cell.view
				.box
					label View single receipt

		.flex-child
			.cell.join
			.cell.join
			.cell.join

		.flex-child
			.cell.create
				.box
					label Create new receipt
			.cell.edit 
				.box
					label Edit

		.flex-child
			.cell.join
			.cell.join
			.cell.join

		.flex-child
			.cell.review
				.box
					label Review
		
		.flex-child
			.cell.join
			.cell.join
			.cell.join

		.flex-child
			.cell.send
				.box
					label Send
			.cell.inbox
				.box
					label Receipt emailed to recipient (optional cc to sender)
		
		.flex-child
			.cell.join

		.flex-child.terminal
			label.end A

