#gr-flow
	h4 GR&mdash;user_flow
	.inner
		.box.start
			.terminal
				label A

		.box.join-v.join-v-0
		.box.join-v.join-v-1
		.box.join-v.join-v-2
		.box.join-v.join-v-3

		.box.join-h.join-h-0
		.box.join-h.join-h-1
		.box.join-h.join-h-2
		.box.join-h.join-h-3
		.box.join-h.join-h-4
		.box.join-h.join-h-5

		.box.cell.profile 
			label Profile admin
		.box.cell.dashboard
			label Dashboard
		.box.cell.view
			label View single receipt
		.box.cell.create
			label Create new receipt
		.box.cell.edit 
			label Edit
		.box.cell.review
			label Review
		.box.cell.send
			label Send
		.box.cell.inbox
			label Receipt emailed to recipient (optional cc to sender)

		.box.stop
			.terminal.end 
				label A