.diagram.gr.flow

  .cell.row-1.col-5.brackets
    include hinge-d

  .cell.row-1.col-6.center
    include vertical
    include horizontal

  .cell.row-1.col-7.center
    include vertical
    include horizontal

  .cell.row-1.col-8.center
    include vertical
    include horizontal

  .cell.row-1.col-9.box.brackets
    .layer
      label Recover password

  .cell.row-1.col-11.box.brackets
    .layer
      label Onboarding

  .cell.row-1.col-13.btm
      .terminal.set A

  .cell.row-1.col-15.box.brackets
    .layer
      label 
        | Profile  
        span.br view / edit

  .cell.row-2.col-5.center.brackets
    include vertical-down
    include horizontal-left

  .cell.row-2.col-9.brackets.center.nope.after
    include vertical-up
    include horizontal-right

  .cell.row-2.col-11.brackets.center.nope.after
    include vertical-up
    include horizontal-right

  .cell.row-2.col-12.brackets
    include angle-se

  .cell.row-2.col-13.center.brackets
    include vertical-down
    include horizontal-left

  .cell.row-2.col-14.brackets
    include angle-ne

  .cell.row-3.col-1.center.start
      .terminal S

  .cell.row-3.col-2.center
    include vertical-down
    include horizontal-right

  .cell.row-3.col-3.box.brackets
    .layer
      label
          | Landing 
          span.br
            | Page

  .cell.row-3.col-4.center
    include vertical-down
    include horizontal-right




  .cell.row-3.col-5.box.brackets
    .layer
      label Sign in

  .cell.row-3.col-6.center
    include vertical-down
    include horizontal-right

  .cell.row-3.col-7.brackets.choice
      .layer
          label Recognised email?
      include choice

  .cell.row-3.col-8.center.yes
    include vertical-down
    include horizontal-right

  .cell.row-3.col-9.brackets.choice
      .layer
          label Recognised password?
      include choice

  .cell.row-3.col-10.center.yes
    include vertical-down
    include horizontal-right

  .cell.row-3.col-11.brackets.choice
      .layer
          label Is all mandatory information entered?
      include choice

  .cell.row-3.col-12.center.yes
    include vertical-down
    include horizontal-right

  .cell.row-3.col-13.box.brackets
    .layer
      label Dashboard / View previous receipts
  
  .cell.row-3.col-14.center
    include vertical-down
    include horizontal-right

  .cell.row-3.col-15.box.brackets
    .layer
      label Create new reciept
  
  .cell.row-3.col-16.center
    include vertical-down
    include horizontal-right

  .cell.row-3.col-17.box.brackets
    .layer
      label
        | Complete 
        span.br form

  .cell.row-3.col-18.center
    include vertical-down
    include horizontal-right

  .cell.row-3.col-19.brackets.choice
      .layer
          label 
            | Review. 
            span.br OK?

      include choice

  .cell.row-3.col-20.center.yes
    include vertical-down
    include horizontal-right

  .cell.row-3.col-21.box.brackets
    .layer
      label
          | Send 
          span.br summary

  .cell.row-3.col-22.center
    include vertical-down
    include horizontal-right

  .cell.row-3.col-23.center.end
      .terminal.set A





  .cell.row-4.col-5.center.brackets
    include vertical-down
    include horizontal-right

  .cell.row-4.col-7.center.brackets.nope.before
    include vertical
    include horizontal

  .cell.row-4.col-13.center.brackets
    include vertical-down
    include horizontal-right

  .cell.row-4.col-14.brackets
    include angle-se

  .cell.row-4.col-16.brackets
    include angle-se

  .cell.row-4.col-17.brackets.center
    include vertical-up
    include horizontal-right

  .cell.row-4.col-19.center.brackets.nope.before
    include vertical
    include horizontal

  .cell.row-4.col-21.center
    include vertical-down
    include horizontal-left

  .cell.row-5.col-5.box.brackets
    .layer
      label Sign up

  .cell.row-5.col-6.center
    include vertical-down
    include horizontal-right

  .cell.row-5.col-7.brackets
    include hinge-b

  .cell.row-5.col-13.box.brackets
    .layer
      label Log out
  
  .cell.row-5.col-15.box.brackets
    .layer
      label View / create from existing

  .cell.row-5.col-16.center
    
  .cell.row-5.col-17.box.brackets
    .layer
      label Edit

  .cell.row-5.col-18.center
    include horizontal-left
    include vertical-up

  .cell.row-5.col-19.brackets
    include hinge-b

  .cell.row-5.col-21.box.dashed.brackets
    .layer
      label Send to inbox

