h4 gr&mdash;process_diagram_v2
section.flow
  .row.center
    .terminal A
  
  .row.center
    .cell.join.join-c

  .row
    .cell.box.profile
      label Profile admin
    .cell.join.join-a.strut
    .cell.box.dashboard
      label Dashboard
    .cell.join.join-b.strut
    .cell.box.view
      label View single receipt
      
  .row.flex-end
    .cell.join.join-c
    .cell.join.strut
    .cell.join.join-c
    
  .row.flex-end
    .cell.box.create
      label Create new receipt
    .cell.join.join-a.strut
    .cell.box.edit 
      label Edit
      
  .row.center
    .cell.join.join-e
  
  .row.center
    .cell.box.review
      label Review

  .row.center
    .cell.join.join-c

  .row.flex-end
    .cell.box.send
      label Send
    .cell.join.join-b.strut
    .cell.box.inbox
      label Receipt emailed to recipient
  
  .row.center
    .cell.join.join-c
  
  .row.center
    .stop
      .terminal.end A