ul.menu li 
	.segment.type.work
		padding-top: 	$gttr-dt
		padding-bottom: $gttr-dt
		dd.project
			padding-bottom: $gttr-dt * 1.5

@media (max-width: $phone-max)
	ul.menu li
		.segment.type.work
			padding-top: 	$gttr-ph
			padding-bottom: $gttr-dt * 1.5
			

a.menu-btn-img
	padding-bottom: $gttr-dt * 1.5