.view
	.chrome-3
		.but-l-1
		.but-l-2
		.but-l-3
		.but-r-1
		.chrome-2
			.circle
			.oval
			.chrome-1
				.container.flex.wrap

					.mix.open.term.complete(data-my-order='1')
						.terminal.terminal-a
						.joinery.set
					.mix.open.desc(data-my-order='2') Job Started
					.mix.open.done(data-my-order='3')
						.flex
							.tick-btn.tick-1
								img(src="img/projects/gg/views/tick.svg").tick

					.mix.open.term.complete(data-my-order='4')
						.terminal.terminal-b A
						.joinery.set
					.mix.open.desc(data-my-order='5') Frozen Yoghurt Guava if available if not original x1+ Sunflower seeds topping
					.mix.open.done(data-my-order='6')
						.flex
							.tick-btn.tick-2
								img(src="img/projects/gg/views/tick.svg").tick

					.mix.open.term.complete(data-my-order='7')
						.terminal.terminal-c B
						.joinery.set
					.mix.open.desc(data-my-order='8') Deliver to my work address
					.mix.open.done(data-my-order='9')
						.flex
							.tick-btn.tick-3
								a(href="#" data-filter='.complete').plain.btn.filter
									img(src="img/projects/gg/views/tick.svg").tick


					.mix.complete.reopen(data-my-order='10')
						a(href="#" data-filter='.open').plain.btn.filter.reopen-btn REOPEN

					.mix.open.term.review.complete(data-my-order='11')
						.terminal.terminal-d
					.mix.open.desc.review.complete(data-my-order='12') Review and close
					.mix.open.done.review.complete(data-my-order='13')
						.flex
							.tick-btn.tick-4
								img(src="img/projects/gg/views/tick.svg").tick

					.mix.complete.contact.open(data-my-order='14')
						label

