section.diagram.money
  .view
    .chrome-3
      .but-l-1
      .but-l-2
      .but-l-3
      .but-r-1
      .chrome-2
        .circle
        .oval
        .chrome-1
          .wrap
          .wrap
            .header
              label How much should the GoGetter bring?
            .pot
              p
                span.big RM
                span.big.total 0
            .notes
              .note.note-1(data-type='1', data-value='50')
              .note.note-2(data-type='2', data-value='20')
              .note.note-3(data-type='3', data-value='10')
              .note.note-4(data-type='4', data-value='5')
          .wrap

