figure.gg-singular
  .flex
    .unit
      label
        span.bold index.jade
        br
        | Page settings (excluding images)
      a.example-image-link.plain.zoom(href='img/projects/gg/singular-1.png', data-lightbox='example-set', data-title='Lorem ipsum dolor sit.')
        img.example-image(src='img/projects/gg/singular-1.png')

    .unit
      label
        span.bold partial/hero.jade
        br 
        | The single source of truth
      a.example-image-link.plain.zoom(href='img/projects/gg/singular-2.png', data-lightbox='example-set', data-title='Keyboard.')
        img.example-image(src='img/projects/gg/singular-2.png')

    .unit
      label
        span.bold sass/partial/hero.sass
        br
        | Image settings
      a.example-image-link(href='img/projects/gg/singular-3.png', data-lightbox='example-set', data-title="As you're viewing.").plain.zoom
        img.example-image(src='img/projects/gg/singular-3.png', alt='')


  svg(version='1.1', xmlns='http://www.w3.org/2000/svg').laylines
    line(x1='15%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
    line(x1='85%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
    line(x1='50%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
  img(src="img/projects/gg/singular-hero.png")