section.diagram.gg.singular.align-c
  .flex
    .unit.thick.pad
      label.align-c.block
        span.bold index
        br
        span.inline-block.bold.type.thin Jade
        br
        | Page settings (excluding images)
    .unit.thick.pad
      label.align-c.block
        span.bold partials/hero
        br
        span.inline-block.bold.type.thin Jade
        br
        | The single source of truth
    .unit.thick.pad
      label.align-c.block
        span.bold sass/hero
        br
        span.inline-block.bold.type.thin Sass
        br
        | Image settings

  svg(version='1.1', xmlns='http://www.w3.org/2000/svg').laylines
    line(x1='15%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
    line(x1='85%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
    line(x1='50%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
  
  img(src="img/projects/gg/singular-hero.png").max