figure.gg-singular
  section.diagram
    .flex
      .unit
        label
          span.bold index
          br
          span.bold.type Jade
          br
          | Page settings (excluding images)
      .unit
        label
          span.bold partial/hero
          br
          span.bold.type Jade
          br
          | The single source of truth
      .unit
        label
          span.bold sass/partial/hero
          br
          span.bold.type Sass
          br
          | Image settings

    svg(version='1.1', xmlns='http://www.w3.org/2000/svg').laylines
      line(x1='15%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
      line(x1='85%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
      line(x1='50%', y1='0', x2='50%', y2='100%', style='stroke-width: 1px;' stroke='blue' fill='none')
    
  img(src="img/projects/gg/singular-hero.png")