h4 GG&mdash;Sitemap_v4

section.gg.sitemap
  hgroup.main.thick Main Navigation
  ul.row
    li.page.stretch.join.up.down
      .thin
        .turn
          hgroup Home
          ul.content
            li Hero carousel
              ul.section
                li Dispatch
                li Shopping
                li Food Delivery
                li Helper tasks
            li Partner logos
            li How to use
            li Why to use
            li Showcase
            li Become a GoGetter
    li.page.stretch.join.up.down
      .thin
        .turn
          hgroup Gateway
          ul.content
            li Option to download native apps
            li Log in
            li Register
    li.page.stretch.join.up.down
      .thin
        .turn
          hgroup FAQ
    li.page.stretch.join.up.down
      .thin
        .turn
          hgroup Blog
  hgroup.main.thick Footer Navigation
    ul.thin
      li Contact Info
      li Copyright info
  ul.row
    li.page.join.down
      .thin
        .turn
          hgroup GoGet for Business
          ul.content
            li Option to download native apps
            li Log in
            li Register
    li.page.join.down
      .thin
        .turn
          hgroup Become a GoGetter
          ul.content
            li Benefits of Gogetting
            li Ground Rules
    li.page.join.down
      .thin
        .turn
          hgroup Sign Up Form
    li.page.join.down
      .thin
        .turn
          hgroup About GoGet
          ul.content
            li About GoGet
            li Our Community
            li Our Values
            li The Team
            li Link to Vacanies
    li.page.join.down
      .thin
        .turn
          hgroup Staff Vacancies
    li.page.join.down
      .thin
        .turn
          hgroup Terms of Service