section.flex.wrap.gg-ui
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_01.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_02.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_03.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_04.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_05.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_06.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_07.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_08.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_09.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_10.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_11.png").max
  .unit.unit-12
    img(src="img/projects/gg/ui/gg-ui-1104-12_12.png").max
