section.flex.wrap
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_01.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_02.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_03.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_04.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_05.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_06.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_07.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_08.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_09.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_10.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_11.png")
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_12.png")