section.flex.wrap
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_01.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_02.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_03.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_04.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_05.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_06.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_07.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_08.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_09.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_10.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_11.png").max
  .unit.unit-12
    img(src="img/projects/gg/marks/gg-marks-1104_12.png").max