header.index
  .flex.wrap.inner.bind.center-h
    .unit.top
      nav.flex.center-v
        .unit.top
          a(href="index.html").plain
            img(src="img/logo.png").logo
        .unit
          ol
            li.focus
              a(href="#").plain.caps Sign In
            li
              a(href="#").plain.caps Sign Up
            li 
              a(href="#").plain.caps FAQ



    .unit.center
      section.hero.flex
        .unit.center
          a(href="#slide-prev").arrow.left
            img(src="img/arrow-left.svg").button

        .unit
          h1.shadow Your demands delivered to your doorstep
          .slider-nav
            a(href="#slide-0").active Slide 0 
            a(href="#slide-1") Slide 1
            a(href="#slide-2") Slide 2 

        .unit.center
          a(href="#slide-next").arrow.right
            img(src="img/arrow-right.svg").button


    .unit.bottom
      a(href="#").app.plain
        img(src="img/app-play.png")
      a(href="#").app.plain
        img(src="img/app-store.png")
