body.cv main
  margin-bottom:  $gttr-dt

  hr
    margin-top:     $gttr-dt
    margin-bottom:  $gttr-dt
    border:         none
    border-top:     $border
    height: 1px
  
  dl.job
    & + p
      margin-top:  $gttr-dt

    dt.hide,
    dd.hide
      display: none

  p + ul.skills
    margin-top:     $gttr-dt        
  
  ul.skills li
    @include p()

  // ul.brace
    // border-bottom: $border

  ul.skills,
  dl.job
    margin:         auto
    max-width:      $narrow-unit
    padding-left:   $gttr-dt
    padding-right:  $gttr-dt
    
@media (max-width: $phone-max)
  body.cv main
    ul.skills,
    dl.job
      padding-left: $gttr-ph
      padding-right: $gttr-ph
    
    ul.skills
      margin-left:   $gttr-ph
