.reset
  margin:   0 
  padding:  0
  li
    margin:     0 
    padding:    0
    list-style: none

dl.credits
  display:        inline-block
  min-width:      310px
     
  dd
    display:      inline
    margin:       0

  dd + dd
    display:      block
    margin-left:  5.45555em

  dd:after
    display:      block
    content:      ''
  
  dt
    display:      inline-block
    min-width:    5.15555555em
    
  dt.hide
    display: none

  dd.block
    display: block