a.menu-btn-img
  background: none
  user-select: none
  outline: none
  width: 17px
  height: 17px
  display: block
  line-height: 0
  opacity: 0.4

  &:active,
  &:focus,
  &:hover
    cursor:     pointer
    background: none
    user-select: none
    outline: 0

  &:hover
    opacity: 0.75

  .unit
    position: relative
    width: 17px
    height: 17px
    display: block
    transition: 300ms ease all
    transform-origin: center center
    transform: rotate(90deg)
    
    .tiles,
    .list
      background:   none
      user-select:  none
      outline:      0
      will-change:  transform
      position:     absolute
      transition:   200ms ease all
      top:        0
      left:       0
      width:      17px
      height:     17px
      
      img
        width:    17px
        height:   17px

  .unit .tiles
    opacity: 1

  .unit .list
    opacity: 0

  .unit.rotate
    transform: rotate(0deg)

  .unit.rotate .tiles
    opacity: 0

  .unit.rotate .list
    opacity: 1



