.pager
  border-bottom: $border

  a:nth-child(1)
    border-right: $border
    
  ol.page
    overflow: hidden
    width: 100%

    li
      max-width: 50%

      &:nth-child(1)
        padding-right: $gttr-dt
        
      &:nth-child(2)
        padding-left: $gttr-dt


@media (max-width: $phone-max)
  .pager
    ol.page
      li
        &:nth-child(1)
          padding-right: $gttr-ph
          
        &:nth-child(2)
          padding-left: $gttr-ph

