table.issues
  border-spacing: 0
  margin:     auto
  max-width:  $narrow-unit
  
  thead,
  tbody,
  tfoot
    tr
      td.icon
        width: 5%
        text-align: center

      td.issue
        width: 65%
      
      td, th
        padding: 0.6rem 1rem
        width: calc(100%/3)
        font-weight: 400
        text-align: left
        
        &.top
          border-top: 1px solid $copy
        &.left
          border-left: 1px solid $copy
        &.right
          border-right: 1px solid $copy
        &.bottom
          border-bottom: 1px solid $copy

      &:last-child
        border-bottom: none

  tbody,
  tfoot
    tr
      td, th
        &:nth-child(2)
          padding-left: 0

  tfoot
    tr
      td
        padding-top:    1.1em
        padding-bottom: 1.1em
        text-align:     center
        background:     $grey
