- var fTitle    = "droom.io"
- var workiso   = false
- var work      = false
- var index     = false
- var project   = "Appendix"

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.appendix
    include partials/_top

    article(data-project="appendix")#context
      .cover-title
        include partials/_nav

        .band.head.relative.hr
          .segment.type
            header
              h1=project

      main(role="main")#checkpoint
        ul.plain.brace
          li.main
            dl.job
              dt.hide.year Year
              dd.year 2016
              dt.hide.codename Name
              dd.codename Mayday
              dt.hide.url URL
              dd.url
                a(href="http://www.v8.droom.io").inline v8.droom.io

            ul.index
              li GoGet
                ul
                  li Brand
                  li Website
                  li Web Application
              li GiveReceipt
                ul
                  li Brand
                  li Web Application
                  li Native Application
              li Ideahouse
                ul
                  li Web Application
              li Foriegn Office
                ul
                  li Web Theme

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2015
              dt.hide.codename Name
              dd.codename CARGO
              dt.hide.url URL
              dd.url
                a(href="http://www.v7.droom.io").inline v7.droom.io

            ul.index
              li e3 Media
                ul
                  li Clarks
                  li Kia Motors UK
                  li Orange Brand
              
              li VLT
                ul
                  li Scarlett of Soho

              li Freelance
                ul
                  li Beggars Group
                  li Doobie Kiosk
                  li Ideahouse
                  li GiveReceipt
                  li Google Font Changer
                  li LGN / RedBull

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2010
              dt.hide.codename Name
              dd.codename Gatsby
              dt.hide.url URL
              dd.url
                a(href="http://www.v6.droom.io").inline v6.droom.io


            ul.index
              li School Work
                ul
                  li SSGB
                  li Art-Lite
                  li Beadwork
                  li Grammar

              li Client Work
                ul
                  li Virgin Media
                    ul
                      li Enchanted
                      li Mr Magorium's Wonder Emporium
                      li P.S. I Love You
                  li Beggars
                    ul
                      li Jarvis Cocker
                      li M. Ward
                  li Dancing Bee
                    ul
                      li Eva
                      li The Biography Channel
                      li The Discovery Channel

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2008
              dt.hide.codename Name
              dd.codename Since 1983
              dt.hide.url URL
              dd.url
                a(href="http://www.v5.droom.io").inline v5.droom.io

            ul.index
              li Home
              li Client Work
                ul
                  li Voluntary
                  li Internship
                  li Freelance

              li UWE 1/2
                ul
                  li 50 Photos
                  li The Aeroplane Flies High
                  li Album Covers
                  li (Graphic Design is) Art-lite

                  li Home (is where the heart is)
                  li Products
                  li Portrait of a Partner
                  li Reuse Charity Shops
                  li Radio Recall
                  li SuperOats, UWE (YR2)
                  li Showreel, UWE (YR2)

              li Observed (Life Drawing)
                ul
                  li Penny
                  li Stick
                  li Leg
                  li Upright

              li About


          li.main
            dl.job
              dt.hide.year Year
              dd.year 2007
              dt.hide.codename Name
              dd.codename Brooklyn
              dt.hide.url URL
              dd.url
                a(href="http://www.v4.droom.io").inline v4.droom.io

            ul.index
              li RALPH&amp;CO.
                ul
                  li ESPN
              li Feref
                ul
                  li The Kingdom
                  li The Tudors
              li Dancing Bee
                ul
                  li The Biography Channel
                    ul
                      li Gallery (Eva)
                  li The Discovery Channel
                    ul
                      li Flash Ad 1
                      li Flash Ad 2
                      li Flash Ad 3

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2007
              dt.hide.codename Name
              dd.codename And We All Survived
              dt.hide.url URL
              dd.url
                a(href="http://www.v3.droom.io").inline v3.droom.io

            ul.index
              li Leeds College Art &amp; Design  
                ul 
                  li Being Lenny
                  li Who Am I? (I Am Chris)
                  li Make your own Colin Murray
                  li Reportage

              li City And Guilds Life Drawing
                ul
                  li 1, 2, 3, 4, 5, 6

              li Client
                ul
                  li Gemin-i.org
                    ul
                      li Sucata Run
                        ul
                          li Website
                          li Offline Advertising
                            ul
                              li A5 Flyer
                              li Emailer

                          li Online Advertising
                            ul
                              li 468x60 Flash Banner
                              li 120x60 Flash Banner

                      li Identity &amp; Rights
                      li Global Action Schools
                        ul
                          li Gemini-org Software
                          li Campaign website

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2007
              dt.hide.codename Name
              dd.codename Like The Sun
              dt.hide.url URL
              dd.url
                a(href="http://www.v2.droom.io").inline v2.droom.io

            ul.index
              li Croydon School of Art YR2
                ul
                  li Final Project: 'Boom Boom'
                    ul
                      li Written Pieces
                        ul
                          li Patriarch
                          li National Elf Service
                          li Simon Munery
                          li And Repeat (Punchline)
                          li Obscured Fairfeild Postcards
                          //- li Asterisk

                      li Written Pieces 
                        ul
                          li A Right Royal Faux-Pas
                          li No Hook Pun
                          li Strange Butt True
                          li Today with Des and Mel
                          li The Comedy Store

                  li Read All About It
                    ul
                      li MAlleable (Verity)
                      li Smear Tactics

                  li Obsessiion/Compulsion
                    ul
                      li You're No Fun
                      li Records
              
              li Wallpapers
                ul
                  li Martha Wainwright
                  li You Are [Cat Power] Free
                  li Secretly Candaian Records
                  li Those Who Can't be [Themselves]

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2003&mdash;2004
              dt.hide.codename Name
              dd.codename INDEX.OF
              dt.hide.url URL
              dd.url
                a(href="http://www.v1.droom.io").inline v1.droom.io

            ul.index
              li Croydon School of Art YR1
                ul
                  li Print
                    ul
                      li Charlotte Hatherly
                      li Rose/Fell
                  li Nowhere
                  li Dickenson
                  li He Has Left Us Alone
                  li Saber
                  li Explosions in the Sky
                    ul
                      li Apartment
                      li Tunnel
                  li Cake
                  li Photos
                  //- li Memories

              li Sketchbook work
                  //- li Silly Billy

          li.main
            dl.job
              dt.hide.year Year
              dd.year 2000&mdash;2002 
              dt.hide.codename Name
              dd.codename At Ease
              dt.hide.url URL
              dd.url
                a(href="http://www.v0.droom.io").inline v0.droom.io
            
            ul.index

              li Fine Art (A-Levels)
                ul
                  li Pot Painting
                  li Pepper Study
                  li Toothpaste study
                  li T.S. Elliot study
                  li Picasso study 1
                  li Picasso study 2 

              li Websites
                ul
                  li NPMW
                  li CD—COM
                  li MyVitriol.net
                  li Capcom Fiend

              li Uploads
                ul
                  li Mars Volta
                  li ActiveDesk icons
                  li AmpTech Winamp Skin



      include partials/_footer
      include partials/_scripts
