- var fTitle    = "droom.io"
- var workiso   = false
- var index     = false

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body
    include partials/_top

    article(data-project="profile").fade-in#context
      .cover-title
        include partials/_nav
        
        .band.head.relative.hr
          .segment.type
            header
              h2
                = "Appendix "
              small Sitemap

      main(role="main")
        .segment.type.appendix
          ul.brace
            li.main
              hgroup 
                span.year 2016
                span.url 
                  a(href="http://www.v8.droom.io").inline droom.io
                span.name Mayday
              ul
                li GiveReceipt
                  ul
                    li Brand
                    li Web Application
                    li Native Application
                li GoGet
                  ul
                    li Brand
                    li Website
                    li Web Application
                li ATOP Watches (Campaign)
                li Ideahouse
                  ul
                    li Web Application

            li.main
              hgroup 
                span.year 2014
                span.url 
                  a(href="#").inline droom.io
                span.name Circus
              ul
                li Clarks
                li Kia Motors UK
                li Orange Brand
                li Scarlett of Soho
                li ATOP Watches
            
            li.main
              hgroup 
                span.year 2010
                span.url 
                  a(href="#").inline droom.io
                span.name Gatsby

              ul
                li School Work
                  ul
                    li SSGB
                    li Art-Lite
                    li Beadwork

                li Client Work
                  ul
                    li Virgin Media
                      ul
                        li Enchanted 
                        li 
                    li Beggars
                      ul
                        li Jarvis Cocker
                        li M. Ward
                    li Dancing Bee
                      ul
                        li Eva
                        li The Biography Channel
                        li The Discovery Channel

            li.main
              hgroup 
                span.year 2008
                span.url 
                  a(href="#").inline droom.io
                span.name Since 1983
              ul 
                li UWE (YR1)
                  ul
                    li Home
                    li Reuse Charity Shops
                    li Album Covers
                    li Yeah Monkey
                    li Aeroplane
                    li Products
              ul
                li Virgin Media
                  ul
                    li Enchanted MPU

            li.main
              hgroup 
                span.year 2007
                span.url 
                  a(href="#").inline droom.io
                span.name Brooklyn
              ul 
                li Feref
                  ul
                    li The Kingdom
                    li The Tudors
              ul 
                li Gemin-i.org
                  ul
                    li Sucata Run
              ul 
                li Dancing Bee
                  ul
                    li Eva
                    li The Biography Channel
                    li The Discovery Channel

            li.main
              hgroup 
                span.year 2006
                span.url 
                  a(href="#").inline droom.io
                span.name Like The Sun
              ul 
                li Leeds College Art &amp; Design  
                  ul 
                    li Colin &amp; Edith
                      ul
                        li I hate Colin &amp; Edith
                        li Make your own Colin Murray
                    
                    li Who Am I? (I Am Chris)
                    li Reportage
                
                li Gemin-i.org
                  ul
                    li Sucata Run
                      ul
                        li Banner Advert
                        li A5 Flyer
                        li Campaign website

                    li Identity &amp; Rights
                    li Global Action Schools
                      ul
                        li Gemini-org software skin
                        li Campaign website

                li Those Who Can't be Themselves
                li Martha
                li You Are [Cat Power] Free

            li.main
              hgroup 
                span.year 2004
                span.url 
                  a(href="#").inline droom.io
                span.name And We All Survived
              ul
                li City And Guilds Life Drawing
                  ul
                    li 1, 2, 3, 4
                li Art Foundtion YR2
                  ul
                    li Obsessive/Compulsion
                      ul
                        li POGS
                        li Records
                    li Ha Ha
                      ul
                        li Patriarch
                        li National Elf Service
                        li Simon Munery
                        li Comedy Store
                        li Asterisk
                        li Des &amp; Mel
                        li Fairfeild Postcard
                        li Punchline (Rhythm)

                    li Read All About It
                      ul
                        li Verity
                        li Smear

            li.main
              hgroup 
                span.year 2000 
                span.url 
                  a(href="#").inline droom.io
                span.name index.of
              ul
                li Websites
                  ul
                    li MyVitriol.net
                    li Capcom Fiend
                    li NPMW

                li Art Foundtion (YR1)
                  ul
                    li Silly Billy
                    li Drawings from Amsterdam
                    li Memories
                    li Slapdash
                    li Explosions in the Sky
                      ul
                        li Cards
                        li Apartment
                        li Sky/Ground
                    li Nowhere

                li John Ruskin College
                  ul
                    li Apple Drawing
                    li Pot painting

                li Harris C.T.C
                  ul
                    li Lesuire Centre

                li Experiments
                  ul
                    li Rose/Fell
                    li Bosh
                    li He has left us alone 
                    li Charlotte Hatherly
                    li ActiveDesk icons


      include partials/_footer
      include partials/_scripts
