- var fTitle    = "droom.io"
- var workiso   = false
- var index     = false

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.cv
    include partials/_top

    article(data-project="profile").fade-in#context
      .cover-title
        include partials/_nav

        .band.head.relative.hr
          .segment.type
            header
              h2
                = "Curriculum Vitae"
              dl.reset.credits
                dt Ver.
                dd 12.10.2016

      .cover-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Info
              dd Christopher Droom
              dt.dim Address
              dd 35 Norhyrst Avenue
              dd South Norwood
              dd London
              dd SE25 4BY

            dl.reset.credits
              dt.dim Contact
              dd 
                a(href="mailto:yo@droom.io").inline yo@droom.io
              dd 
                a(tel="07522532192").inline +44 (0)7522 532 192

            dl.reset.credits
              dt.dim Skills
              dd Modular, OOCSS (Sass, SCSS)
              dd Standards-based HTML (Jade, Slim)
              dd Trivial jQuery
              dd Motion (After Effects)
              dd Grunt, SVN, GIT

      main(role="main")

        .segment.type
          p I’m a friendly and ambitious designer with over nine years’ professional experience thinking and creating in the digital space. My background is in advertising but I've transitioned into digital product design over the past 2 years, resulting in a fairly broad skill set. I’m particularly interested in typography, grids, and design systems.

        hr
        ul.plain.brace
          li.main
            dl.job
              dt.hide.position Position
              dd.position Product Designer
              dt.hide.company Company
              dd.company Freelance
              dt.hide.location Location
              dd.location London, UK
              dt.hide.date Date
              dd.date Mar 2015 &ndash; Present

            p Preferring a little more freedom, I took what I had learnt at VLT Labs and applied it to working with my own clients on an individual basis. Selecting and managing my own clients allowed me to build more personal relationships and get much more involved in the products.
            p.rep
              a(href="https://www.linkedin.com/in/chrisdroom") &times;1 recommendation
              |  for this position. 
          
          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Product Designer
              dt.hide.company Company
              dd.company 
                a(href="http://vltlabs.com/") VLT Labs
                |  (
                a(href="http://wearevlt.com/") VLT
                | )
              dt.hide.location Location
              dd.location Kuala Lumpur, Malaysia
              dt.hide.date Date
              dd.date Jun 2014 &ndash; May 2015

            p At VLT Labs I became fully immersed in the South-East Asian startup environment, personally working with 5 startups at differing stages of maturity — in a design (research, visual) and front-end capacity. This was very stimulating work and I learnt a great deal about process, tooling and workflow. Due to the position being client-facing, I became more practised at presenting my approaches to stakeholders and communicating the thought behind decisions.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Interaction Designer
              dt.hide.company Company
              dd.company 
                a(href="http://www.e3.co.uk/") e3 Media
              dt.hide.location Location
              dd.location Bristol, UK
              dt.hide.date Date
              dd.date Oct 2011 &ndash; Feb 2014

            p 
              | I began life here at e3 as a Junior but progressed to ’Interaction Designer’ having inherited a large part of 
              a(href="https://www.e3.co.uk/work/case-studies/kia") the key account 
              | from a Senior Designer/Developer. In 2012, Kia Motors UK served 4.8 million visitors a month and my primary duties involved creating and maintaining Flash modules using a combination of OOP (AS2/AS3) and traditional Flash animation. Created consistently high-performing Rich Media OLA including a YouTube masthead with the highest interaction rates for Kia Motors UK (Q3, Jan 2013) and the highest ever performing Telegraph HTPO (Q3, Jan 2013).




            p I initiated meetings between design and site-build teams to discuss advances in web practices and how they might affect us. I gave presentations on web typography and Scalable Vector Graphics (SVG).
     
            //- ul.circle.small.key
              li Lead Designer for Kia Motors UK responsive email newsletters, working closely with Front-End Developers to achieve an attractive and robust system that has since been rolled out to all their email communications.
              li Storyboarded and animated several motion pieces, including work for Orange Brand, FriendsLife Insurance and Kia Motors UK.
              li Designed e3's first interactive 'Retina' iPad adverts.

            p.rep
              a(href="https://www.linkedin.com/in/chrisdroom") &times;3 recommendations
              |  for this position.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Junior Designer
              dt.hide.company Company
              dd.company 
                a(href="http://www.darewest.com/") Dare West 
                |  (
                a(href="https://thisisdare.com/") Dare
                | )
              dt.hide.location Location
              dd.location Bristol, UK
              dt.hide.date Date
              dd.date Jan 2011 &ndash; Sep 2011

            p 
            | Dare West is the production arm for 
            a(href="https://thisisdare.com/") Dare London
            | , with the same clients and exacting standards as their parent company. I gained a good understanding of brands, guidelines, and large-agency conventions, working to tight deadlines in a very high-pressured environment. 

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Digital/Flash Designer &amp; Front-End Developer 
              dt.hide.company Company
              dd.company Freelance
              dt.hide.location Location
              dd.location Bristol, UK
              dt.hide.date Date
              dd.date Aug 2010 &ndash; Dec 2010

            p Remote and inhouse freelancing in Bristol. Notable work: Standard format OLA design &amp; build for 
              a(href="http://www.4ad.com/") 4AD/Beggars Banquet
              |  (M. Ward, Jarvis Cocker, The XX).
            p.rep
              a(href="https://www.linkedin.com/in/chrisdroom") &times;2 recommendations
              |  for this position.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Digital/Flash Designer
              dt.hide.company Company
              dd.company
                | Freelance, 
                a(href="http://aquent.co.uk/") Aquent
              dt.hide.location Location
              dd.location London, UK
              dt.hide.date Date
              dd.date Jun 2007 &ndash; Sep 2009

            p 
              | Short-burst work in and around London. Invaluable exposure to many offices, methods and clients. Residence varied from day-stints to months. Contracts gained via Aquent LCC or recommendation. 
              a(href="http://virginmedia.com/") Virgin Media
              | , 
              a(href="http://www.proximitylondon.com/") Proximity London
              | , 
              a(href="http://www.feref.com/") Feref
              | , 
              a(href="http://www.magharl.co.uk/") Magnet Harlequin
              | , 
              a(href="http://www.ralphandco.com/") Ralph &amp; Co.
              | , 
              a(href="http://www.reedbusiness.com/") Reed Business Information
              = " et al."

            p.rep
              a(href="https://www.linkedin.com/in/chrisdroom") &times;1 recommendation
              |  for this position.
              
          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Design Intern
              dt.hide.company Company
              dd.company 
                a(href="http://www.dancingbee.net/") Dancing Bee
              dt.hide.location Location
              dd.location London (Clapham), UK
              dt.hide.date Date
              dd.date Mar 2007 &ndash; Jun 2007

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Volunteer Web &amp; Print Designer
              dt.hide.company Organisation
              dd.company 
                a(href="http://orgs.tigweb.org/gemini.org") Gemin-i.org
              dt.hide.location Location
              dd.location London (Whitechapel), UK
              dt.hide.date Date
              dd.date Aug 2006 &ndash; Jan 2007 


      include partials/_footer
      include partials/_scripts
