- var fTitle    = "droom.io"
- var workiso   = false
- var index     = false
- var project   = "Curriculum Vitae"

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.cv
    include partials/_top

    article(data-project="profile").fade-in#context
      .cover-title
        include partials/_nav

        .band.head.relative.hr
          .segment.type
            header
              h1=project
              dl.reset.credits
                dt Updated
                dd #{Date()}

      .cover-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Name
              dd Christopher Droom
              dt.dim Address
              dd 35 Norhyrst Avenue
              dd South Norwood
              dd London
              dd SE25 4BY
              dt.dim Contact
              dd 
                a(href="mailto:yo@droom.io").inline yo@droom.io
              dd 
                a(tel="07522532192" href="tel:07522532192").inline +44 (0)7522 532 192

            dl.reset.credits
              dt.dim Skills
              dd UI/UX (Adobe&copy; Suite, InVision)
              dd Modular, OOCSS (Sass, SCSS)
              dd Standards-based HTML (Jade, Slim)
              dd Conversant jQuery
              dd Motion (After Effects)
              dd Grunt, SVN, GIT

      main(role="main")#checkpoint
        hr

        p Friendly and ambitious designer &plus; front-end developer with over nine years’ experience thinking and making in digital spaces. Familiar with the design process at all stages&mdash;from user research to deployment&mdash;resulting in lucid and holistic approaches. I’m especially intereststed in typography, SVG, and design systems.
        ul.skills
          li Design with an emphasis on user goals and needs
          li Semantic HTML(Jade) / CSS3(Sass/SCSS), conversant jQuery
          li Comprehensive experience designing + building Responsively
          li Experience with team-based agile methods
          li Continuous learner with a welcoming attitude to progression


        hr
        ul.plain.brace
          li.main
            dl.job
              dt.hide.position Position
              dd.position Product Designer
              dt.hide.company Company
              dd.company Freelance
              dt.hide.location Location
              dd.location Asia / London, UK
              dt.hide.date Date
              dd.date Mar 2015 &ndash; Present

            p
              | Preferring a little more freedom to travel, I took what I had learnt at VLT Labs and applied it to working with my own clients on an independent basis, affording me time to get a deeper understanding of each product and to push concepts further. I became well-practised at managing feature prioritisation, timelines and delivery. During less busy periods I was able to spend more time on side-projects and learn new techniques in the fast-moving front-end environment. 
              a(href="https://www.linkedin.com/in/chrisdroom") &times;1 recommendation
              |  for this position. 
          
          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Product Designer
              dt.hide.company Company
              dd.company 
                a(href="http://vltlabs.com/") VLT Labs
                |  (
                a(href="http://wearevlt.com/") VLT
                | )
              dt.hide.location Location
              dd.location Kuala Lumpur, Malaysia
              dt.hide.date Date
              dd.date Jun 2014 &ndash; May 2015

            p At VLT Labs I became fully immersed in the South-East Asian startup environment, personally working with 5 startups at different stages of maturity. This was a client-facing design (research, ux/ui) and front-end position. I became more practised at presenting my approaches to stakeholders and communicating the thought behind decisions. This was very stimulating and rewarding work and I learnt a great deal about process, tooling and workflow.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Interaction Designer
              dt.hide.company Company
              dd.company 
                a(href="http://www.e3.co.uk/") e3 Media
              dt.hide.location Location
              dd.location Bristol, UK
              dt.hide.date Date
              dd.date Oct 2011 &ndash; Feb 2014

            p 
              | I left e3 with the title of ‘Interaction Designer’, a new role created for me to better encompass the range of work I had been creating — be it UI, OLA, code-based animation and FMV motion graphics. My comfort with the development (SVN) workflow meant I was able to greatly speed up the turnaround for each project. It was at e3 that I realised being at in the intersection of design and development disciplines within a team could be hugely benfeicial. 
              a(href="https://www.linkedin.com/in/chrisdroom") &times;3 recommendations
              |  for this position.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Junior Designer
              dt.hide.company Company
              dd.company 
                a(href="http://www.darewest.com/") Dare West 
                |  (
                a(href="https://thisisdare.com/") Dare
                | )
              dt.hide.location Location
              dd.location Bristol, UK
              dt.hide.date Date
              dd.date Jan 2011 &ndash; Sep 2011

            p 
              | Dare West is the production arm for 
              a(href="https://thisisdare.com/") Dare London
              | , with the same client list and exacting standards as their parent company. I gained a heightened sensitivity to corprate identity, ATL + BTL campaigns, and large-agency conventions, working to tight deadlines in a very high-pressured environment. Duties included art-working for the majority of Dare’s roster, including Vodafone, Barclays, BarclayCard, Sainsbury’s, Standard Life and Premier Inn.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Digital/Flash Designer &amp; Front-End Developer 
              dt.hide.company Company
              dd.company Freelance
              dt.hide.location Location
              dd.location Bristol, UK
              dt.hide.date Date
              dd.date Aug 2010 &ndash; Dec 2010

            p 
              | Remote and inhouse freelancing in Bristol. Notable work: Standard format OLA design &amp; build for 
              a(href="http://www.4ad.com/") 4AD/Beggars Banquet
              |  (M. Ward, Jarvis Cocker, The XX). 
              a(href="https://www.linkedin.com/in/chrisdroom") &times;2 recommendations
              |  for this position.

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Digital/Flash Designer
              dt.hide.company Company
              dd.company
                | Freelance, 
                a(href="http://aquent.co.uk/") Aquent
              dt.hide.location Location
              dd.location London, UK
              dt.hide.date Date
              dd.date Jun 2007 &ndash; Sep 2009

            p 
              | Short-burst work in and around London. Invaluable exposure to many offices, methods and clients. Residence varied from day-stints to months. Contracts gained via Aquent LCC or recommendation. 
              a(href="http://virginmedia.com/") Virgin Media
              | , 
              a(href="http://www.proximitylondon.com/") Proximity London
              | , 
              a(href="http://www.feref.com/") Feref
              | , 
              a(href="http://www.magharl.co.uk/") Magnet Harlequin
              | , 
              a(href="http://www.ralphandco.com/") Ralph &amp; Co.
              | , 
              a(href="http://www.reedbusiness.com/") Reed Business Information
              = " et al."

            p.rep
              a(href="https://www.linkedin.com/in/chrisdroom") &times;1 recommendation
              |  for this position.
              
          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Design Intern
              dt.hide.company Company
              dd.company 
                a(href="http://www.dancingbee.net/") Dancing Bee
              dt.hide.location Location
              dd.location London (Clapham), UK
              dt.hide.date Date
              dd.date Mar 2007 &ndash; Jun 2007

          hr
          li.main
            dl.job
              dt.hide.position Position
              dd.position Volunteer Web &amp; Print Designer
              dt.hide.company Organisation
              dd.company 
                a(href="http://orgs.tigweb.org/gemini.org") Gemin-i.org
              dt.hide.location Location
              dd.location London (Whitechapel), UK
              dt.hide.date Date
              dd.date Aug 2006 &ndash; Jan 2007 


      include partials/_footer
      include partials/_scripts
