doctype html
html(lang="en")
  head
    include partials/_head

  body.work
    include partials/_banner
    .band.head.hr.relative
      .segment.type
        h2
          = "Overview"
        small 2012&ndash;2015

    hr


    main(role='main')

    .segment.type
        ul.overview
          li e3 Media
            ul
              li Kia Motors
              li Orange
              li The Royal Navy
          li Dare West
            ul
              li Sainsbury's
              li Premier Inn
              li Nestle (Shreddies)
          li Virgin Media
            ul
              li Sony Pictures
              li Premier Inn
              li Nestle (Shreddies)

      ul.work-list

        li.band
          .segment.type
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, autem a nam aperiam, beatae vero, eveniet soluta iure dolorum hic rerum, asperiores pariatur sit! Nihil temporibus ducimus, eius odit quibusdam.


    include partials/_footer
    include partials/_scripts
