- var fTitle    = "droom.io"
- var workiso   = false
- var index     = true

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.profile
    article(data-project="profile").fade-in#context
      .cover-title
        include partials/_nav
        
        .band.head.relative.hr
          .segment.type
            header
              h1
                = "Chris Droom is a Designer "
                span.entity.accent &amp;&amp;
                = " Client-side Developer based in London "
                span.entity.accent.slim &#124;&#124;
                = " Berlin"
                &nbsp;
                span.entity.accent.slim &#124;&#124;
                &nbsp;
                = "KL"

      .jacket
      
      .segment.type
        include partials/_feed
        
    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts