- var fTitle    = "droom.io"
- var workiso   = false
- var index     = true
- var page      = "index"


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.profile
    article(data-project="profile").fade-in#context
      .cover-title
        include partials/_nav
        
        .band.head.relative.hr
          .segment.type
            include intro/fed

      main(role="main")
        include partials/_feed
        
    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts