- var workiso = false

doctype html
include partials/_html
  head
    include partials/_head

  body.profile(itemscope itemtype="http://schema.org/WebPage" data-project="profile")
    div.js-animsition.animsition(data-animsition-in-duration="500" data-animsition-in-class="fade-in")#context
      .cover-title
        include partials/_nav
        .band.head.relative.hr
          .segment.type
            header
              h2
                = "Chris Droom is a Designer "
                span.accent &amp;&amp;
                = " Client-side Developer based in London "
                span.accent.slim &#124;&#124;
                = " Berlin"
                &nbsp;
                span.accent.slim &#124;&#124;
                &nbsp;
                = "KL"

      .cover-photo.me
        
      .cover-aside
        main(role="main")#checkpoint-nav
          .segment.type
            p.bind
              strong 
                = "Hello"
              &mdash;
              = "I'm a friendly and ambitious Digital Designer from South London, England. You can find me on "

              a(href="http://codepen.io/droom") CodePen

              = ", "
              a(href="https://github.com/droom") GitHub
              = " or "

              a(href="https://twitter.com/droomio") Twitter

              = ". You can view my work history and testimonials on "
              a(href="http://uk.linkedin.com/in/chrisdroom") LinkedIn
              = "."

      include partials/_footer
      include partials/_scripts
