- var fTitle    = "v8.droom.io"
- var workiso   = false
- var work      = false
- var index     = true
- var page      = "index"

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.index
    article(data-project="profile")#context
      .cover-title
        include partials/_nav
        
        .band.head.relative.hr
          .segment.type
            header
              h1
                = "Chris Droom is a UX"
                &nbsp;
                = "Designer working housing charity Shelter in London."

              include components/menu-btn-img

      main(role='main')
        ul.menu.reset.animate-1#menu
          li
            a(href="work-goget.html").plain
              .segment.type.work.gg
                dl.reset.credits
                  dt.project Project
                  dd.project
                    = "GoGet Brand "
                    span.entity.accent.slim /
                    = " App "
                    span.entity.accent.slim /
                    = " Web"
                  dt.client Client
                  dd.client GoGet
                  dt.model Model
                  dd.model Marketplace
                  
          li
            a(href="work-ideahouse.html").plain
              .segment.type.work.ih
                dl.reset.credits
                  dt.project Project
                  dd.project Ideahouse Web
                  dt.client Client
                  dd.client Ideahouse
                  dt.model Model
                  dd.model Wholesaler

          li
            a(href="work-givereceipt.html").plain
              .segment.type.work.gr
                dl.reset.credits
                  dt.project Project
                  dd.project
                    = "GiveReceipt Brand "
                    span.entity.accent.slim /
                    = " App "
                    span.entity.accent.slim /
                    = " Web"
                  dt.client Client
                  dd.client DVG Web
                  dt.model Model
                  dd.model SaaS

          li
            a(href="work-foreign.html").plain
              .segment.type.work.fo
                dl.reset.credits
                  dt.project Project
                  dd.project Foreign Office Theme
                  dt.client Client
                  dd.client Self initiated
                  dt.model Model
                  dd.model Editorial

          li.disable
            .segment.type.work.blank
              dl.reset.credits
                dt.project Project
                dd.project ATOP Watches
                dt.client Client
                dd.client Ideahouse
                dt.model Model
                dd.model Store

          li.disable
            .segment.type.work.blank
              dl.reset.credits
                dt.project Project
                dd.project Rainbow Theme
                dt.client Client
                dd.client Self initiated
                dt.model Model
                dd.model Editorial
        
    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts