- var workiso   = false
- var index     = true

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.profile

    .hello(style="background-image:url(img/small.jpg")
    //- .hello

    include partials/_footer
    include partials/_scripts
