- var workiso   = false
- var index     = true

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head


  body.profile(itemscope itemtype="http://schema.org/WebPage" data-project="profile")
    div.js-animsition.animsition(data-animsition-in-duration="500" data-animsition-in-class="fade-in")#context
      .cover-title
        include partials/_nav
        .band.head.relative.hr
          .segment.type
            header
              h2
                = "Chris Droom is a Designer "
                span.accent &amp;&amp;
                = " Client-side Developer based in London "
                span.accent.slim &#124;&#124;
                = " Berlin"
                &nbsp;
                span.accent.slim &#124;&#124;
                &nbsp;
                = "KL"

      .cover-photo.me
        .segment.type
          dl.reset.credits
            dt.hide Number
            dd 
              a(href="tel:07522532192").plain 07522 532 192
            dt.hide Email
            dd 
              a(href="mailto:yo@droom.io").plain wave@droom.io


      .cover-aside
        main(role="main")#checkpoint-nav
          .segment.type
            p
              &copy;
              = "2016. "
              a(href="https://github.com/droom/mayday" aria-label="View code on GitHub") Judge code
              = "."


      //  ↓↓↓ MIXPANEL ↓↓↓ 
      script(type='text/javascript').
        mixpanel.track("INDEX!");
      // ↑↑↑ MIXPANEL ↑↑↑ 
              
      include partials/_footer
      include partials/_scripts
