- var workiso   = true

- var project   = "Atop Watches"
- var client    = "Ideahouse"
- var studio    = "Reformist.io"
- var date      = "May 2012"
- var repo      = "https://github.com/droom/atop-mobile"

- var URLShort  = "givereceipt.com"
- var URLLong   = "http://www.givereceipt.com"
- var URLNext   = "project-givereceipt.html"
- var URLPrev   = "project-foreign.html"

- var prevTitle = "Foreign Office"
- var nextTitle = "GiveReceipt Web/App"


doctype html
include partials/_html

  head
    include partials/_head

  body.work.iso(data-project="atop")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.atop#checkpoint-nav

      .cover-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Front-End
              dd UX &plus; UI
            dl.reset.credits
              dt Stack
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Sublime

            dl.reset.credits
              dt With
              dd
                a(href="https://www.instagram.com/_jessicatzy/") Jessica Tzy
                = " (Photog., Artwork)"

      main(role="main")

        .segment(id="waypoint-atop").relative.center
          .atop-live
            .face
            .hand-large
            .hand-small
            .seconds
            .unit
            .day


        .segment.code
          pre.comment.
            // JSON object stores all our needed product values
          pre.
            var productArr = [{
              "title"   :  "VWA—01",
              "colour"  :  "purple",
              "code"    :  "vwa01",
              "hex"     :  "bf5ea1",
              "backing" :  false,
              "url"     :  "http://ideahouse.com.my/product-detail...VWA-01"
              },
              ...
            ];
          pre.comment.
            // We retreive those values on when the watch is clicked
          pre.
            $('a.watch').click(function () {
              var productChoice = $(this).data('id');
              var productHex = productArr[productChoice-1].hex;
              $('.logo').attr('fill', '#'+productHex);
            });


      include partials/_footer
      include partials/_scripts
