- var workiso = true

- var project   = "Atop Watches"
- var prevTitle = "Foreign Office"
- var prevURL   = "project-foreign.html"
- var nextTitle = "GiveReceipt Web/App"
- var nextURL   = "project-givereceipt.html"

doctype html
include partials/_html

  head
    include partials/_head

  body.work.iso(data-project="atop")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_banner
        .band.head.hr.relative
          a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left
          .segment.type.relative

            header
              h2=project
              dl.reset.credits
                dt Client
                dd SaltyCustom
                dt Studio
                dd VLT Labs
                dt Date
                dd July 2015
                dt Repo
                dd (Private)

          a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right

      .belly-photo.atop#checkpoint-nav

      .belly-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
            dl.reset.credits
              dt Stack
              dd Balsamiq
              dd Paper
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Adobe© InDesign
              dd InVision


      main(role="main")

        .segment(id="waypoint-atop").relative.center
          .atop-live
            .face
            .hand-large
            .hand-small
            .seconds
            .unit
            .day


        .segment.type
          h3 A campaign site for Taiwanese watch manufacturer ATOP.
          p Before I discovered the joys of MacBooks, I used to put together my own Windows builds because I am a huge dweeb. A key component of any PC is its motherboard. This is like the central nevous system of a computer and therefore one of its most important parts. A trusted name in mid-level motherboards at the time was ASUS, a manufacturer from Taiwan. This is all I knew about Taiwan until I came across these watches.

        .segment.code
          pre.comment.
            // JSON object stores all our needed product values
          pre.
            var productArr = [{
              "title"   :  "VWA—01",
              "colour"  :  "purple",
              "code"    :  "vwa01",
              "hex"     :  "bf5ea1",
              "backing" :  false,
              "url"     :  "http://ideahouse.com.my/product-detail...VWA-01"
              },
              ...
            ];
          pre.comment.
            // We retreive those values on when the watch is clicked
          pre.
            $('a.watch').click(function () {
              var productChoice = $(this).data('id');
              var productHex = productArr[productChoice-1].hex;
              $('.logo').attr('fill', '#'+productHex);
            });

        .segment.type
          h3 SVG
          p In 2010, there was a lot of hype around SVG, primarily because of retina screens. Here we had an image format that could. We had a list of watches  12 in total–we needed a way to keep track of them and extend if necessary. The most straight forward to keep track of all this data was to bung it in a JSON object.

      include partials/_footer
      include partials/_scripts
