- var workiso     = true

- var project     = "GoGet Brand/Public"
- var client      = "GoGet"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var repo        = "Private"

- var URLPrev     = "project-foreign.html"
- var URLNext     = "project-foreign.html"

- var prevTitle   = "Foreign Office"
- var nextTitle   = "Foreign Office"

- var role        = [ 'Identity', 'UX + UI' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'InVision' ]


doctype html
include partials/_html

  head
    include partials/_head

  body.work.iso(data-project="goget")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast
      .cover-photo.gg#checkpoint-nav
      .cover-aside
        include partials/_role


      main(role="main")
        .segment.type
          h3 GoGet is a community focused errands and delivery service, currently operating in Kuala Lumpur

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eius laborum quasi iusto dolores id porro ea laboriosam cumque inventore ipsam cum iste, a rerum quis esse consequatur, harum labore.


        .segment.surface
          figure
            .gg-2
              .unit
                img(src="img/projects/gg/gg-research-1.jpg")
              .unit.tuck
                img(src="img/projects/gg/gg-research-2.jpg")


        .segment.blueprint
          figure
            .gg-24
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_01.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_02.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_03.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_04.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_05.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_06.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_07.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_08.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_09.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_10.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_11.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_12.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_13.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_14.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_15.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_16.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_17.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_18.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_19.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_20.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_21.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_22.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_23.png")
              .unit
                img(src="img/projects/gg/ui/gg-ui-1104_24.png")
            figcaption 
              small I began thinking about the UI for the app first as I preffered the Identity to be led by these decisions rather than the other way around.

        .segment.blueprint
          figure
            .gg-12
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_01.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_02.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_03.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_04.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_05.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_06.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_07.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_08.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_09.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_10.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_11.png")
              .unit
                img(src="img/projects/gg/marks/gg-marks-1104_12.png")
            figcaption 
              small UI based on transport markings found around Malaysia.


        .segment.type
          h3 Blueprint

        .segment.blueprint
          figure
            include partials/_gg-wire
            figcaption
              small We decided early on to prompt users to enter company information after the registration process to reduce cognitive load and friction.




        .segment.surface.squash
          figure
            img(src="img/projects/gg/gg-types.jpg")


      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.youtube.com/watch?v=lL1_xwe8x0c") Bloomberg TV Malaysia: ‘Leapfrogging’ to Grow Errands Market: GoGet's Chia



      include partials/_footer
      include partials/_scripts
