- var workiso   = true

- var project   = "GoGet Brand/Web"
- var client    = "GoGet"
- var studio    = "VLT Labs"
- var date      = "March 2015"
- var repo      = "Private"

- var URLShort  = "givereceipt.com"
- var URLLong   = "http://www.givereceipt.com"
- var URLNext   = "project-givereceipt.html"
- var URLPrev   = "project-foreign.html"

- var prevTitle = "Foreign Office"
- var nextTitle = "Give Receipt"


doctype html
include partials/_html

  head
    include partials/_head

  body.work.iso(data-project="goget")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.gg#checkpoint-nav

      .cover-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI

            dl.reset.credits
              dt Stack
              dd Balsamiq
              dd Paper
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Adobe© InDesign
              dd InVision


      main(role="main")
        .segment.surface
          figure
            .half
              img(src="img/projects/gg/gg-research-1.jpg").slice
              img(src="img/projects/gg/gg-research-2.jpg").slice
            figcaption

        .segment.blueprint.squash
          figure
            img(src="img/projects/gg/gg-marks.png")
            figcaption 
              small Initial exploration of wordmarks. Things I needed to communicate. Safety (Trustworthy), Speed (Reliable, Efficient), A sense of community (Friendly)


        .segment.blueprint.squash
          figure
            img(src="img/projects/gg/gg-ui.png")
            figcaption 
              small UI based on transport markings found around Malaysia.

        
        .segment.surface.squash
          figure
            img(src="img/projects/gg/gg-types.jpg")




      include partials/_footer
      include partials/_scripts
