- var workiso   = true

- var project   = "Foreign Office (tumblr)"
- var client    = "Reformist.io"
- var studio    = "Reformist.io"
- var date      = "July 2012"
- var repo      = "—"

- var URLShort  = "givereceipt.com"
- var URLLong   = "http://www.givereceipt.com"
- var URLNext   = "project-ideahouse.html"
- var URLPrev   = "project-givereceipt.html"

- var prevTitle = "project-givereceipt.html"
- var nextTitle = "project-ideahouse.html"


doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.fo#checkpoint-nav
        .segment.type.dark
          dl.reset.credits
            dt.hide Photo
            dd Georgetown central market, Guyana

      .cover-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
              dd Front-End
            dl.reset.credits
              dt Stack
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Sublime
        
      main(role="main")
        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-baseline.png")
            figcaption

        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-georgia.png")
            figcaption


        .segment.type
          h3 Design Responsively
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur totam, dolores itaque. Accusamus iusto repudiandae doloribus ipsam ex eum nobis veniam blanditiis placeat maxime, modi, saepe corporis sint molestiae dolorum.
        

        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-reflow.gif").faint
            figcaption



      include partials/_footer
      include partials/_scripts
