- var workiso = true

- var project   = "GoGet Brand/Web"
- var prevTitle = "Foreign Office"
- var nextTitle = "Give Receipt"
- var prevURL   = "project-foreign.html"
- var nextURL   = "project-givereceipt.html"

doctype html
include partials/_html

  head
    include partials/_head

  body.work.iso(data-project="goget")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_banner
        .band.head.hr.relative
          a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left
          .segment.type.relative

            header
              h2=project
              dl.reset.credits
                dt Client
                dd GoGet
                dt Studio
                dd VLT Labs
                dt Repo
                dd (Private)
                dt Live
                dd.live
                  a(href="http://www.goget.my/" aria-label="Visit GoGet") goget.my

          a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right

      .belly-photo.gg#checkpoint-nav

      .belly-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI

            dl.reset.credits
              dt Stack
              dd Balsamiq
              dd Paper
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Adobe© InDesign
              dd InVision


      main(role="main")


        .segment.surface
          figure
            .half
              img(src="img/projects/gg-research-1.jpg").slice
              img(src="img/projects/gg-research-2.jpg").slice
            figcaption

              

        .segment.blueprint
          figure
            img(src="img/projects/gg-marks.png")
            figcaption 
              small Initial exploration of wordmarks. Things I needed to communicate. Safety (Trustworthy), Speed (Reliable, Efficient), A sense of community (Friendly)


        .segment.blueprint
          figure
            img(src="img/projects/gg-ui.png")
            figcaption 
              small UI based on transport markings found around Malaysia.

        
        .segment.surface
          figure
            img(src="img/projects/gg-types.jpg")




      include partials/_footer
      include partials/_scripts
