- var workiso = true

- var project   = "GiveReceipt Web/App"
- var prevTitle = "GoGet Brand/Web"
- var nextTitle = "Foreign Office"
- var nextURL   = "project-foreign.html"
- var prevURL   = "project-goget.html"

doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="givereceipt")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_banner
        .band.head.hr.relative
          a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left
          .segment.type.relative
            
            header
              h2=project
              dl.reset.credits
                dt Client
                dd GiveReceipt
                dt Studio
                dd SixLeaves
                dt Date
                dd July 2015
                dt Repo
                dd (Private)
                dt Live
                dd.asia
                  a(href=nextURL aria-label="Visit GiveReceipt") givereceipt.com

          a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right

      .belly-photo.gr#checkpoint-nav

      .belly-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
              dd Front-end build

            dl.reset.credits
              dt Stack
              dd Adobe&copy; Illustrator
              dd Adobe&copy; Photoshop
              dd Adobe&copy; InDesign
              dd Ruby Slim
              dd Sass (&plus;Bootstap)
              
      main(role="main")
        .segment.type
          h3 GiveReceipt is an invoicing tool designed for small businesses, to be in sympathy with new (2015) tax regulations in Malaysia.
          p GiveReceipt is straightforward Software as Service that allows SMEs to easily document transactions. CEO's David Sin and Belinda So explain the benefits in more depth on The Edge

        .segment.blueprint.relative
          a(href="#").pan PAN IMAGE
          figure
            img(src="img/projects/gr-wire.png").drag#yope
            figcaption
              span.notice Lorem ipsum dolor sit amet drag
              | User flow for the web app. We decided early on to prompt users to enter company information after the registration process to reduce cognitive load and friction.

        .segment.blueprint.relative
          .safety
          figure
            img(src="img/projects/gr-id.png").yope
            figcaption 
 
        .segment.surface
          figure
            img(src="img/projects/gr-invoice.png").yope
            figcaption

        .segment.surface
          figure
            img(src="img/projects/gr-cards.png").drag
            figcaption  
              small
                = "20mm "
                &times;
                = " 230mm, 240gsm"
                br
                = "Namecards. These were die-cut to show off our corrigated motif."


      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live") GiveReceipt gets CIP 500 grant only 3mths after going live
            li
              a(href="https://www.youtube.com/watch?v=ay4PJQxgrqM") The Edge TV (YouTube)
            li
              a(href="https://vulcanpost.my/168215/givereceipt-online-business-transactions/") Vulcan post
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live") GiveReceipt gets CIP 500 grant only 3mths after going live (Digital News Asia)



      include partials/_footer
      include partials/_scripts
