- var workiso   = true

- var project   = "Foreign Office (tumblr)"
- var client    = "Reformist.io"
- var studio    = "Reformist.io"
- var date      = "July 2012"
- var repo      = "—"

- var URLShort  = "givereceipt.com"
- var URLLong   = "http://www.givereceipt.com"

- var prevTitle = "project-givereceipt.html"
- var prevURL   = "project-givereceipt.html"
- var nextTitle = "project-ideahouse.html"
- var nextURL   = "project-ideahouse.html"

doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_nav
        include partials/_mast

      .belly-photo.fo#checkpoint-nav

      .belly-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
              dd Front-End
            dl.reset.credits
              dt Stack
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Sublime
        
      main(role="main")

        .segment.center.blueprint
          figure
            img(src="img/projects/fo-baseline.png")
            figcaption
              small
                = "Hanging puncutation wasn't a big thing in 2010 and I honestly don't recall a single template that used it. Fast-forward to 2015 and it's more common — the biggest one being on Medium. Credit to the excellent typographer "
                a(href="http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2") Mark Boulton
                = " for bringing this to my attention in the first place in 2005."

        .segment.center.blueprint
          figure
            img(src="img/projects/fo-reflow.gif").faint
            figcaption

        .segment.center.blueprint
          figure
            img(src="img/projects/fo-georgia.png")
            figcaption

      include partials/_footer
      include partials/_scripts
