- var workiso   = true

- var project   = "Ideahouse Web"
- var client    = "Ideahouse"
- var studio    = "VLT Labs"
- var date      = "March 2015"
- var repo      = "Private"

- var URLShort  = "givereceipt.com"
- var URLLong   = "http://www.givereceipt.com"
- var URLNext   = "project-givereceipt.html"
- var URLPrev   = "project-foreign.html"

- var prevTitle = "Foreign Office"
- var nextTitle = "Give Receipt"


doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="ideahouse")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_nav
        include partials/_mast

      .belly-photo.ih#checkpoint-nav
        .segment.type
          dl.reset.credits
            dt Photo
            dd Winnie Tzp

      .belly-aside
        aside.project(role="complementary")#checkpoint-nav
          .segment.type
              dl.reset.credits
                dt Role
                dd UX &plus; UI
                dd Front-End build

              dl.reset.credits
                dt Stack
                dd Adobe&copy; Photoshop
                dd HTML Jade
                dd Sass (Semantic UI)

              dl.reset.credits
                dt With
                dd
                  a(href="https://www.instagram.com/_jessicatzy/") Jessica Tzy
                  = " (Icons, Colours)"
                dd Bon Woo Meng (Back-End)

      main(role="main")

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://medium.com/@drooooom/625d23ba4114") Designing the experience with Local Storage (Medium)

      include partials/_footer
      include partials/_scripts
