- var workiso   = true

- var project   = "GiveReceipt Web/App"
- var client    = "DVG Web"
- var studio    = "SixLeaves"
- var date      = "July 2015"
- var repo      = "Private"

- var URLShort  = "givereceipt.com"
- var URLLong   = "http://www.givereceipt.com"
- var URLNext   = "project-foreign.html"
- var URLPrev   = "project-goget.html"

- var prevTitle = "GoGet Brand/Web"
- var nextTitle = "Foreign Office"


doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="givereceipt")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_nav
        include partials/_mast

      .belly-photo.gr#checkpoint-nav

      .belly-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
              dd Front-end build

            dl.reset.credits
              dt Stack
              dd Adobe&copy; Illustrator
              dd Adobe&copy; Photoshop
              dd Adobe&copy; InDesign
              dd Ruby Slim
              dd Sass (&plus;Bootstap)
              
      main(role="main")


        .segment.blueprint.relative
          a(href="#").pan PAN IMAGE
          figure
            img(src="img/projects/gr-wire.png").drag#yope
            figcaption
              span We decided early on to prompt users to enter company information after the registration process to reduce cognitive load and friction.

        .segment.blueprint.relative
          .safety
          figure
            img(src="img/projects/gr-id.png").yope
            figcaption 
 
        .segment.surface
          figure
            img(src="img/projects/gr-invoice.png").yope
            figcaption

        .segment.surface
          figure
            img(src="img/projects/gr-cards.png").drag
            figcaption  
              small
                = "20mm "
                &times;
                = " 230mm, 240gsm"
                br
                = "Namecards. These were die-cut to show off our corrigated motif."


      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live") GiveReceipt gets CIP 500 grant only 3mths after going live
            li
              a(href="https://www.youtube.com/watch?v=ay4PJQxgrqM") The Edge TV (YouTube)
            li
              a(href="https://vulcanpost.my/168215/givereceipt-online-business-transactions/") Vulcan post
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live") GiveReceipt gets CIP 500 grant only 3mths after going live (Digital News Asia)



      include partials/_footer
      include partials/_scripts
