- var project   = "Foreign Office (tumblr)"
- var prevTitle = "project-givereceipt.html"
- var prevURL   = "project-givereceipt.html"
- var nextTitle = "project-ideahouse.html"
- var nextURL   = "project-ideahouse.html"

doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#yoyo
      .belly-title
        include partials/_banner
        .band.head.hr.relative.move
          a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left
          .segment.type.relative

            header
              h2=project
              dl.reset.credits
                dt Client
                dd SaltyCustom
                dt Studio
                dd VLT Labs
                dt Date
                dd July 2015
                dt Repo
                dd (Private)
                dt Live
                dd.asia
                  a(href="http://blog.droom.name/" aria-label="Visit Blog") blog.droom.name
          
          a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right

      .belly-photo.fo#what

      .belly-aside
        aside.project(role="complementary")#what
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
            dl.reset.credits
              dt Stack
              dd Balsamiq
              dd Paper
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Adobe© InDesign
              dd InVision
        
      main(role="main")

        .segment.type
          h3.intro An editorial theme for tumblr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui rerum, iure tempore, corporis debitis dicta. Delectus, quidem reiciendis voluptates adipisci architecto itaque eos non nesciunt, consectetur repellat veniam ea labore! Distinctio molestias ea magnam nostrum ab officiis sapiente unde necessitatibus nisi doloremque! Est fuga ad, ratione veritatis, libero qui tempore id! Saepe. Distinctio nesciunt sed alias quos, temporibus dolorem eaque minima. Voluptate odit debitis explicabo veniam exercitationem fugit, labore sint, quibusdam dignissimos dolores quaerat adipisci aspernatur corrupti! Perferendis quae nostrum inventore, perspiciatis. Ab veritatis repellat laboriosam placeat ad modi, quae temporibus eum magnam molestiae consectetur quod enim, voluptas, assumenda dolores itaque? Ex autem iste qui expedita consequuntur assumenda omnis. Doloremque, repellendus neque. Iure inventore, necessitatibus vero itaque voluptas eos amet quia optio, eius libero veniam soluta modi cum alias quisquam tenetur facere voluptates consequatur omnis excepturi id. Velit vitae voluptatum suscipit nostrum! Eniam consequuntur repellat, itaque. Repellat aperia

          h3 RWD
          p I late 2011, the term responsive web design was being thrown around a lot and gaining traction. It wasn‘t until late 2011 when front-end developer +steveavery sent the office this article. NB: it’s not fully responsive in that the media itself is the same for all broswers, but i’m limited by the CMS. with more flexibilty i would have used retina.js

          h3 Tooling
          p Looking back at the source code for this makes me realise how useful all the build tools we have are. In 2012 I’d write long-hand, vanilla CSS, meticulously  indent my CSS (and manually create a .min), write all my vendor prefixes out. 

          p Hanging punctuation wasn’t a big thing in 2010 and I don’t recall a single template on ant publishing platform that used it. Fast-forward to 2015 and it’s more common — the biggest one being on Medium.

          h3 Georgia Pro 

          p After sampling a near hundred webfonts, I settled on this. Its generous x-height means it performs well at the small sizes (copyright, captions, etc). It’s a very stable, sober looking face, without being too stiff. body copy set in serifs easier to read.




        .segment.blueprint
          figure
            img(src="img/projects/fo-baseline.png")
            figcaption
              small
                = "Hanging puncutation wasn't a big thing in 2010 and I honestly don't recall a single template that used it. Fast-forward to 2015 and it's more common — the biggest one being on Medium. I need to credit the excellent Designer "
                a(href="http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2") Mark Boulton
                = " for bringing this to my attention in the first place in 2005."

        .segment.type
          h3 Known unknowns
          p This was the first site I designed that sat on top a content management system. This means that, although we could limit and guide content, we ultimately have no control over it.
          p When print material is designed, all content is available to the designer up front. They know excatly what they're working with and it's another reason why high-end print design looks so seductive I'm not making excuses here but getting a nice type rag or making images look good on user generated content is one order tougher."

        .segment.blueprint
          figure
            img(src="img/projects/fo-reflow.gif").faint
            figcaption
              small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quae in odit enim, voluptatibus quidem deleniti minus quisquam, consequuntur soluta libero cum iusto molestiae nobis culpa sed similique accusantium ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque molestiae sed adipisci ipsum hic commodi, praesentium excepturi laboriosam sequi ab, architecto quasi inventore perferendis magnam illum alias, recusandae minus.


        .segment.type
          h3 Georgia Pro
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ducimus quae ab quo soluta culpa ex quibusdam dolor magni recusandae optio dolorem ipsa, deleniti excepturi nisi libero. Ad, eius quod!


        .segment.blueprint
          figure
            img(src="img/projects/fo-georgia.png")
            figcaption
              small
                = "Hanging puncutation wasn't a big thing in 2010 and I honestly don't recall a single template that used it. Fast-forward to 2015 and it's more common — the biggest one being on Medium. I need to credit the excellent Designer "
                a(href="http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2") Mark Boulton
                = " for bringing this to my attention in the first place in 2005."

        .segment.type
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui rerum, iure tempore, corporis debitis dicta. Delectus, quidem reiciendis voluptates adipisci architecto itaque eos non nesciunt, consectetur repellat veniam ea labore! Distinctio molestias ea magnam nostrum ab officiis sapiente unde necessitatibus nisi doloremque! Est fuga ad, ratione veritatis, libero qui tempore id! Saepe. Distinctio nesciunt sed alias quos, temporibus dolorem eaque minima. Voluptate odit debitis explicabo veniam exercitationem fugit, labore sint, quibusdam dignissimos dolores quaerat adipisci aspernatur corrupti! Perferendis quae nostrum inventore, perspiciatis. Ab veritatis repellat laboriosam placeat ad modi, quae temporibus eum magnam molestiae consectetur quod enim, voluptas, assumenda dolores itaque? Ex autem iste qui expedita consequuntur assumenda omnis. Doloremque, repellendus neque. Iure inventore, necessitatibus vero itaque voluptas eos amet quia optio, eius libero veniam soluta modi cum alias quisquam tenetur facere voluptates consequatur omnis excepturi id. Velit vitae voluptatum suscipit nostrum! Eniam consequuntur repellat, itaque. Repellat aperia



      include partials/_footer
      include partials/_scripts
