- var fTitle  = "droom.io/work"
- var workiso     = false
- var work        = false

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body(data-project="work").style
    article.fade-in#context
      main(role='main')#checkpoint
        .segment.type
          hr
          nav This is an example of nav display copy
          hr 
          h1 This is an example of h1 display copy.
          hr 

          h2 h2 display copy introduces each project
          hr 

          h3 This is an example of h3 display copy
          hr 

          h4 This is an example of h4 display copy
          hr

          h5 This is an example of h5 display copy
          hr 

          h6 This is an example of h6 display copy
          
          hr 
          
          hgroup This is an example of hgroup copy


          hr
          p This is an example of p copy lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae maiores, fugit itaque, omnis ab enim aperiam optio et laborum cupiditate reiciendis, inventore eveniet, libero sint porro quibusdam nostrum voluptatum minus.
          hr
      include partials/_footer
      include partials/_scripts