- var fTitle    = "v8.droom.io"
- var workiso   = false
- var work      = false
- var index     = true
- var page      = "index"

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.timeline
    article(data-project="profile")#context
      .cover-title
        include partials/_nav
        
        .band.head.relative.hr
          .segment.type
            header
              h1
                = "Chris Droom is a UX"
                &nbsp;
                = "Designer working at housing charity Shelter, in London."
                
            .mix-controls
              button.control(type='button', data-filter='all') All
              button.control(type='button', data-filter='.study') Case Studies
              button.control(type='button', data-filter='.event') Event
              button.control(type='button', data-filter='.yellow') Articles
              button.control(type='button', data-filter='.codepen') Codepen

      main(role='main')
        ul.menu.reset#hello

          li.mix.codepen
            .segment.type.work
              dl.reset.credits
                dt.date Date
                dd.date 19.09.16 
                dt.project Project
                dd.project
                  a(href="http://codepen.io/droom/details/dXxmmE/").inline.dark Clockwerk CodePen 'Picked Pen'
                  | , selected by Chris Coyier(!) 

          li.mix.study
            a(href="work-ideahouse.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.project Project
                  dd.project Ideahouse Web
                  dt.client Client
                  dd.client Ideahouse
                  dt.model Model
                  dd.model Wholesaler

          li.mix.study
            a(href="work-givereceipt.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.project Project
                  dd.project
                    = "GiveReceipt Brand "
                    span.entity.accent.slim /
                    = " App "
                    span.entity.accent.slim /
                    = " Web"
                  dt.client Client
                  dd.client DVG Web
                  dt.model Model
                  dd.model SaaS


          li.mix.codepen
            .segment.type.work.blank
              dl.reset.credits
                dt.date Date
                dd.date 12.09.16
                dt.project Project
                dd.project
                  | Project (Behance): ‘
                  a(href="https://www.behance.net/gallery/42759827/Reformistio").inline.dark Reformist.io
                  | ’.

          li.mix.study
            a(href="work-foreign.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.project Project
                  dd.project Foreign Office Theme
                  dt.model Model
                  dd.model Editorial

          li.mix.codepen
            .segment.type.work.blank
              dl.reset.credits
                dt.date Date
                dd.date 12.09.16
                dt.project Project
                dd.project
                  | Featured in 
                  a(href="http://codepen.io/droom/pen/grBPYq").inline.dark CSS Animation Weekly Issue #7

          li.mix.event
            a(href="work-foreign.html").plain
              .segment.type.work.blank
                dl.reset.credits
                  dt.project Date
                  dd.project 04.09.16
                  dt Event
                  dd
                    | Exhibition: 
                    a(href="http://news.droom.name/post/150930613259/under-the-same-sun-art-from-latin-america-today").inline.dark Under the Same Sun
                    | , Camberwell


    include partials/_pager
    include partials/_top
    //- include partials/_footer
      
  include partials/_scripts
  script.
    var containerEl = document.querySelector('#hello');
    //- var mixer = mixitup(containerEl);
    var mixer = mixitup(containerEl, {
      animation: {
        effects: 'fade translateY(200px)'
      }
    });


