- var fTitle      = "droom.io/work/gr"
- var workiso     = true

- var project     = "GiveReceipt"
- var client      = "DVG Web"
- var studio      = "SixLeaves"
- var date        = "July 2015"
- var repo        = "Private"
- var status      = "Live"
- var model        = "SaaS"

- var URLTitle    = "givereceipt.com"
- var URLProject  = "http://www.givereceipt.com"
- var URLPrev     = "work-foreign.html"
- var URLNext     = "work-goget.html"
- var prevTitle   = "Foreign Office"
- var nextTitle   = "GoGet Brand/Web"

- var role        = [ 'Identity', 'UX + UI', 'Front-End' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'HTML (Ruby Slim)' ]
- var collab      = [ 'Hass']


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head
    
  body.work.iso

    include partials/_top

    article(data-project="givereceipt").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast
      .cover-photo.gr#checkpoint-nav
      .cover-aside
        include partials/_role
        
      main(role="main")

        .segment.type

          h3 Venture funded SaaS. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis architecto doloremque perferendis officia amet magnam rem suscipit quaerat.
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eius laborum quasi iusto dolores id porro ea laboriosam cumque inventore ipsam cum iste, a rerum quis esse consequatur, harum labore.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aliquam cupiditate sed dolorem totam! Temporibus harum exercitationem dolorem nemo iure aliquam reprehenderit assumenda? Atque similique rem, enim debitis facilis. Doloribus!
       


        .segment.blueprint.squash
          figure
            img(src="img/projects/gr/gr-wire.png")
            figcaption We decided early on to prompt users to enter company information after the registration process to reduce cognitive load and friction.

        .segment.blueprint.squash
          figure
            img(src="img/projects/gr/gr-id.png")
 
        .segment.surface.squash
          figure
            img(src="img/projects/gr/gr-invoice.png")

        .segment.surface.squash
          figure
            img(src="img/projects/gr/gr-cards.png")
            figcaption  
              = "20mm "
              &times;
              = " 230mm, 240gsm"
              br
              = "Namecards. These were die-cut to show off our corrigated motif."


      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live") GiveReceipt gets CIP 500 grant only 3mths after going live
            li
              a(href="https://www.youtube.com/watch?v=ay4PJQxgrqM") The Edge TV (YouTube)
            li
              a(href="https://vulcanpost.my/168215/givereceipt-online-business-transactions/") Vulcan post
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live") GiveReceipt gets CIP 500 grant only 3mths after going live (Digital News Asia)



      include partials/_footer
      include partials/_scripts
