doctype html
html(lang="en")
  head
    include partials/_head

  body.work
    include partials/_banner

    .band.head.hr.relative

      a(href="work.html").back.move.move-left

      .segment.type
        h2 GiveReceipt Web/App

        dl.credits
          dt Client
          dd GiveReceipt
          dt Studio
          dd SixLeaves
          dt Date
          dd July 2015
          dt Live
          dd.live
            a(href="#") GiveReceipt.com
          dt Repo
          dd.source
            a(href="#") github.com/droom/gr-web
          dd.source
            a(href="#") github.com/droom/gr-app

      a(href="work-gg.html").move.move-right

    hr

    aside.project(role="complementary")
      .segment.type
        dl.credits
          dt Role
          dd Identity
          dd UX
          dd UI
          dd Front-End

        dl.credits
          dt Stack
          dd Adobe&copy; Illustrator
          dd Adobe&copy; Photoshop
          dd Adobe&copy; InDesign
          dd Ruby Slim
          dd Sass

    main(role="main")
      .segment.type
        h3 GiveReceipt is an invoicing tool for small businesses, designed to be in sympathy with new tax regulations in Malaysia.

      .segment.blueprint
        figure
          img(src="img/projects/gr-wire.png")
          figcaption Trade Gothic Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores, labore, odit repudiandae voluptate necessitatibus ipsa pariatur ducimus velit vel minima facere obcaecati officia, iste dolor modi dolorem voluptates quidem!

      .segment.type
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ut ratione sequi inventore laboriosam fugit. Soluta perspiciatis pariatur non, asperiores et architecto nostrum tenetur eos. Iste, ipsa explicabo vero voluptatem.

      .segment.blueprint
        figure
          img(src="img/projects/gr-id.png")
          figcaption Lorem ipsum dolor sit amet

      .segment.type
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ut ratione sequi inventore laboriosam fugit. Soluta perspiciatis pariatur non, asperiores et architecto nostrum tenetur eos. Iste, ipsa explicabo vero voluptatem.

      .segment.surface
        figure
          img(src="img/projects/gr-invoice.png")
          figcaption Lorem ipsum dolor sit amet

      .segment.type
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ut ratione sequi inventore laboriosam fugit. Soluta perspiciatis pariatur non, asperiores et architecto nostrum tenetur eos. Iste, ipsa explicabo vero voluptatem.

      .segment.surface
        figure
          img(src="img/projects/gr-cards.png")
          figcaption Lorem ipsum dolor sit amet

      .segment.type
        dl.credits
          dt Ref.
          dd Vulcan post
          dd Yahoo Singapore
          dd Producky

    include partials/_footer
    include partials/_scripts
