doctype html
html(lang="en")
  head
    include partials/_head

  body.work
    include partials/_banner
    .band.head.hr.relative
      .segment.type
        h2
          = "Selected Work"
        small 2012&ndash;2015

    hr

    main(role='main')

      ul.work-list


        li.band.hr
          a.plain(href="work-foreign.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Foreign Office (theme)
                dt Client
                dd.client &mdash;
                dt Studio
                dd.studio Reformist.io


        li.band.hr
          a.plain(href="work-atop.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 ATOP Watches
                dt Client
                dd.client ATOP Watches
                dt Studio
                dd.studio DROOM+TZY

        li.band.hr
          a.plain(href="work-goget.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 GoGet Malaysia
                dt Client
                dd.client GoGet
                dt Studio
                dd.studio VLT



        li.band.hr
          a.plain(href="work-givereceipt.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Give Receipt
                dt Client
                dd.client DVG Web
                dt Studio
                dd.studio Six Leaves

        li.band.hr
          a.plain(href='work-ideahouse.html')
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Ideahouse
                dt Client
                dd.client Ideahouse
                dt Studio
                dd.studio DROOM&plus;TZY


    include partials/_footer
    include partials/_scripts
