doctype html
html(lang="en")
  head
    include partials/_head

  body.work.iso
    include partials/_banner
    .band.head.hr.relative.move
      a(href="work-gr.html").move.move-left
      .segment.type
        h2 Post Office

        dl.credits
          dt Client
          dd SaltyCustom
          dt Studio
          dd VLT Labs
          dt Date
          dd July 2015
          dt Repo
          dd (Private)

          dt Live
          dd.asia
            a(href="http://blog.droom.name/" aria-label="Visit Blog") droom.name

      a(href="work-ih.html").move.move-right

    hr

    aside.project(role="complementary")
      .segment.type
        dl.credits
          dt Role
          dd Identity
          dd UX &plus; UI

        dl.credits
          dt Stack
          dd Balsamiq
          dd Paper
          dd Adobe© Illustrator
          dd Adobe© Photoshop
          dd Adobe© InDesign
          dd InVision

    main(role="main")




      .segment.type
        h3 Before I discovered the joys of MacBooks, I used to put together my own Windows builds because I am a huge dweeb.

        p A key component of any PC is its motherboard. This is like the central nevous system of a computer and therefore one of its most important parts. A trusted name in mid-level motherboards at the time was ASUS — a manufacturer from Taiwan. This is all I knew about Taiwan until I came across these watches.


      .segment.type.notice
        p
          em
            = "There is one Behance page accosiated with this project:"
          br
          ol
            li
              a(href="https://medium.com/@drooooom/625d23ba4114") Post Office desktop/mobile layout


      .segment.blueprint
        figure
          img(src="img/projects/post-baseline.png")
          figcaption Lorem

      .segment.type
        h3 Georgia Pro
        p After sampling a near hundred webfonts, I settled on this. Its generous x-height means it performs well at the small sizes (copyright, captions, etc). It's a very stable, sober looking face, without being too stiff.

      //- .band.turn
      //-   .segment.type
      //-     .half
      //-       h4 Previous
      //-       small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam quo placeat officiis quia unde illo quod facere, distinctio iste odit earum fuga impedit a nesciunt, neque vero dolorum suscipit.
      //-     .half
      //-       h4 Next
      //-       small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam quo placeat   officiis quia unde illo quod facere, distinctio iste odit earum fuga impedit a nesciunt, neque vero dolorum suscipit.


      //- .segment.type.notice.turn
      //-   .half
      //-     h4 Previous
      //-     small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam quo placeat officiis quia unde illo quod facere, distinctio iste odit earum fuga impedit a nesciunt, neque vero dolorum suscipit.
      //-   .half
      //-     h4 Next
      //-     small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam quo placeat officiis quia unde illo quod facere, distinctio iste odit earum fuga impedit a nesciunt, neque vero dolorum suscipit.


    include partials/_footer
    include partials/_scripts
