include partials/_order

- var workiso     = true
- var fTitle      = "droom.io/work/goget"
- var project     = "GoGet WebApp<br />LOM"
- var client      = "GoGet"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var status      = "In Production"
- var model       = "Marketplace"
- var role        = [ 'Identity', '<abbr title=\"User Experience\">UX</abbr>+<abbr title=\"User Interface\">UI</abbr>', 'Front-End' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'InVision' ]

- var live        = false
- var repo        = false

- var stage       = true
- var stageTitle  = "clients.droom.io/go"
- var stageURL    = "http://clients.droom.io/go"

- var prevTitle   = order1[3]
- var prevURL     = order2[3]

- var nextTitle   = order1[1]
- var nextURL     = order2[1]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    article(data-project="goget" itemscope itemtype="http://schema.org/CreativeWork").fade-in#context
      main(role="main")

        .segment.blueprint.pad
          figure
            hgroup gg&mdash;combined prototype views
            include projects/gg/views
            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    include partials/_footer
  include partials/_scripts
