doctype html
html(lang="en")
  head
    include partials/_head
  body.work.iso
    include partials/_banner
    .band.head.hr.relative
      a(href="work-gr.html").move.move-left
      .segment.type
        h2 GoGet
        dl.credits
          dt Client
          dd GoGet
          dt Studio
          dd VLT Labs
          dt Repo
          dd (Private)
          dt Live
          dd.live
            a(href="http://www.goget.my/" aria-label="Visit GoGet") goget.my
      a(href="work-ih.html").move.move-right
    hr
    aside.project(role="complementary").excuse
      .segment.type
        dl.credits
          dt Role
          dd Identity
          dd UX &plus; UI
          //- dd Front-End (Public face)

        dl.credits
          dt Stack
          dd Balsamiq
          dd Paper
          dd Adobe© Illustrator
          dd Adobe© Photoshop
          dd Adobe© InDesign
          dd InVision

    main(role="main")

      .segment.type
        h3 GoGet is a community focused errands and delivery service currently operating in Kuala Lumpur.

        p
          = "I used a "
          a(href="https://gist.github.com/droom/96381e758de1a927671b") modified verion
          = " of the Design Sprint methoolody developed by Google Ventures to tackle this problem."

        p This was an interesting problem in that there were two seperate user experiences, with the ability for the user to switch between both.

      .segment.type.notice
        p
          em
            = "There is one Medium article accosiated with this project:"
          //- br
          ol
            li
              a(href="https://medium.com/p/5fd245753f08/edit") A practical use for CSS columns


      //- .segment.type.notice
      //-   p
      //-     em
      //-       = "Please note: my capacity for this was project was "
      //-       strong Branding
      //-       = ", "
      //-       strong User Interface
      //-       = " and "
      //-       strong User Experience
      //-       = " . Front-End hasn't been implemented in a way I would like and I've arranged with the GoGet team to spend time on this in December 2015."

      .segment.blueprint
        figure
          img(src="img/projects/gg-wire.png")
          figcaption Initial exploration of wordmarks. Things I needed to communicate
            ul
              li Safety (Trustworthy)
              li Speed (Reliable, Efficient)
              li A sense of community (Friendly)

      //- .segment.layout
      //-   video(autoplay loop muted)
      //-     source(src="mov/atop.ogg" type="video/ogg")
      //-     source(src="mov/atop.mp4" type="video/mp4")
      //-     p Your browser does not support the <code>video</code> element.


      .segment.blueprint
        figure
          img(src="img/projects/gg-id.png")
          figcaption Initial exploration of wordmarks. Things I needed to communicate
            ul
              li Safety (Trustworthy)
              li Speed (Reliable, Efficient)
              li A sense of community (Friendly)

      .segment.blueprint
        figure
          img(src="img/projects/gg-ui.png")
          figcaption UI based on transport markings found around Malaysia.

      .segment.blueprint
        figure
          img(src="img/projects/gg-ui-notify.png")
          figcaption In-app notifications

      .segment.layout
        figure
          img(src="img/projects/gg-layout-desktop.jpg").desktop
          img(src="img/projects/gg-layout-mobile.jpg").mobile
          figcaption Public face redesign

    include partials/_footer
    include partials/_scripts
