- var workiso     = true

- var project     = "Foreign Office (tumblr)"
- var client      = "Reformist.io"
- var studio      = "Reformist.io"
- var date        = "July 2012"
- var repo        = "—"

- var URLTitle    = "blog.droom.name"
- var URLProject  = "http://blog.droom.name"

- var URLPrev     = "work-goget.html"
- var URLNext     = "work-goget.html"
- var prevTitle   = "work-goget.html"
- var nextTitle   = "work-goget.html"

- var role        = [ 'Identity', 'UX + UI', 'Front-End' ]
- var stack       = [ 'Adobe© Illustrator', 'Adobe© Photoshop', 'HTML (Vanilla)', 'CSS (Vanilla)' ]


doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.fo#checkpoint-nav
        .segment.type.dark
          dl.reset.credits
            dt.hide Photo
            dd Enmore market, Guyana

      .cover-aside
        include partials/_role
        
      main(role="main")

        .segment.type
          h3 An editorial theme for tumblr
          p 
            = "In 2010 I was looking for a sober, type-led tumblr theme to start blogging about design things that occupied my thoughts. I’m not a good writer and my ideas are few and far between, but as "
            a(href="https://twitter.com/RellyAB") @RellyAB
            = " said, " 
            q To become a good writer, you need to do a lot of shitty writing first.
            a(href="#").plain
              sup 1

          p By using the tumblr platform, the predicted paucity of written updates could at least be mitigated with other types of media to prevent it from become another graveyard. This also with the added benefit of being separate from my portfolio in case it was complete garbage.

          p There were (and are) a wealth of themes to choose from, partly down to how well they’ve built that community, but I couldn’t find precisely what I was looking for. Either the type wasn’t legible enough, it had artifacts or detailing I found extraneous, or it was simply too gimmicky. (On reflection, this whole foray might have just have been a subconcious avoidavnce stragegy to keep me from approaching what I feared...)


        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-georgia.png")
            figcaption After sampling quite a few webfonts, I settled on Georgia Pro. Its generous x-height means it performs well at the small sizes (copyright, captions, etc).


        .segment.type
          h3 Design Responsively
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur totam, dolores itaque. Accusamus iusto repudiandae doloribus ipsam ex eum nobis veniam blanditiis placeat maxime, modi, saepe corporis sint molestiae dolorum.
        

        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-reflow.gif").faint
            figcaption



        .segment.swatch.fo
          .flex-2
            .unit
              .colour.colour-1
              .colour.colour-2
            .unit
              .colour.colour-3
              .colour.colour-6



      .band.ref
        .segment.type
          ol.ref
            li Words and pictures: Copy and the design process (Published by the now defunt Five Simple Steps)
            li
              a(href="http://www.georgiaverdana.com/") Georgia Pro 




      include partials/_footer
      include partials/_scripts
