- var workiso     = true

- var project     = "Ideahouse Web"
- var client      = "Ideahouse"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var repo        = "Private"
- var status      = "In Production"
- var model       = "B2B Commerce"

- var URLTitle    = "givereceipt.com"
- var URLProject  = "http://www.givereceipt.com"
- var URLNext     = "work-givereceipt.html"
- var URLPrev     = "work-foreign.html"
- var prevTitle   = "Foreign Office"
- var nextTitle   = "Give Receipt"

- var role        = [ 'UX + UI', 'Front-End' ]
- var stack       = [ 'Adobe© Illustrator', 'Adobe© Photoshop', 'HTML, CSS, jQuery' ]
- var collab      = [ 'Jessica Tzy (Icons, Pallette)', 'Bon Woo Meng (Back-End)' ]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    include partials/_top

    article(data-project="ideahouse").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.ih#checkpoint-nav
        .segment.type.light
          dl.reset.credits
            dt Photo
            dd Winnie Tzp
            
      .cover-aside
        include partials/_role

      main(role="main")

        .segment.type
          h3 A responsive, uncluttered site, tailor made for both Ideahouse’s existing agents &amp; prospective ones.

        .segment.type
          h3 Product Isolated

          p The most information-dense view on the site is the product page itself, so that's where I started the redesign. The biggest problem on the existing site was that two sets of data were grouped into one table, making it very confusing to scan unti you understood the quirk. By grouping this information into a narrow module, we could ensure it'll scale down to a mobile viewport. 

        .segment.center.blueprint.relative
          ul.layout
            li
              a(href="#").switch.desktop.active Before
            li
              a(href="#").switch.mobile After

          figure
            section#layout.desktop
              .cell.nav
              .cell.colour
              .cell.stock
              .cell.cycle
              .cell.image


              .cell.stats
                .tab STATS
                .region

              .cell.colour
                .tab COLOURS
                .region
              
              .cell.stock 
                .tab STOCK
                .region


            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus laboriosam cum porro consequatur maiores voluptatem nisi non odio maxime quia assumenda, aliquid, quaerat soluta voluptatum accusamus.

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://medium.com/@droomio/625d23ba4114") Designing the experience with Local Storage (Medium)

      include partials/_footer
      include partials/_scripts
