include partials/_order

- var workiso     = true

- var fTitle      = "droom.io/work/givereceipt"
- var project     = "GiveReceipt"
- var client      = "DVG Web"
- var studio      = "SixLeaves"
- var date        = "July 2015"
- var status      = "Live"
- var model       = "SaaS"
- var role        = [ 'Identity', 'UX + UI', 'Front-End' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'HTML (Ruby Slim)' ]
- var collab      = [ 'Hassanin Ahmed (RoR)']

- var live        = true
- var liveTitle   = "givereceipt.com"
- var liveURL     = "http://www.givereceipt.com/"

- var repo        = false

- var prevTitle   = order1[1]
- var prevURL     = order2[1]

- var nextURL     = order2[3]
- var nextTitle   = order1[3]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    article(data-project="givereceipt").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast
      .cover-photo.gr#checkpoint
      .cover-aside
        include partials/_role
        
      main(role="main")

        h2 Easy to use, web-based + native accounting software. 

        .segment.relative.squash
          figure
            img(src="img/projects/gr/iso.png")


        p A new goods and services tax (GST) in Malaysia brought about a change in the market, affecting small business owners in particular. It became required by law to issue receipts with every purchase. Heavy accounting software would not be suitable for the majority of small traders and GiveReceipt sought to plug that gap.


        .segment.blueprint
          figure.gg.flow
            hgroup gr&mdash;process_diagram_v2
            include projects/gr/flow
            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corrupti, deserunt rem eaque iure, sit omnis ducimus incidunt dolore atque voluptatibus minus nobis. Minus quas velit eligendi iusto corporis tenetur.


        h3 Creating an identity
        p Professional accounting software is usually very staid. GiveReceipt aims to be more accessible, especially for small sole-traders. The name itself is comparatively informal, and we visuals that worked alongside that. 
        
        p If we were to pare a physical POS ribbon receipt down to its essence, we’d have a few ingredients: its form factor, the perforated edge caused my the blade, the light GSM of the stock. The perforation and aspect is something we could take forward as the basis for the identity. We're still dealing with money so the bright teal is grounded with sensible dark grey/white.

        .segment.blueprint.squash
          figure
            img(src="img/projects/gr/logo.png")
            figcaption The application for this was broad from the outset — Website, App, EDM, banners, clothing. The primary lockup worked well in conventional settings but I know it wouldn’t translate to settings where a full-bleed arrangement wasn’t possible. Ideal usage (L): ‘Give Receipt’ would fit snuggly in the space above. Alternate usage (R).

        .segment.align-c.swatch.gr
          .colour.colour-1
          .colour.colour-2
          .colour.colour-3

        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gr/block-0.png")
              .unit.pad.tuck
                img(src="img/projects/gr/block-1.png")
            figcaption 20mm × 230mm, 240gsm namecards. Die-cut to show off our corrigated motif.

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live").inline GiveReceipt gets CIP 500 grant only 3mths after going live
            li
              a(href="https://www.youtube.com/watch?v=ay4PJQxgrqM").inline The Edge TV (YouTube)
            li
              a(href="https://vulcanpost.my/168215/givereceipt-online-business-transactions/").inline Vulcan post
            li
              a(href="https://www.digitalnewsasia.com/startups/givereceipt-gets-CIP500-grant-only-3mths-after-going-live").inline GiveReceipt gets CIP 500 grant only 3mths after going live (Digital News Asia)

    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts