- var workiso = false


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work(data-project="work")
    div.js-animsition.animsition(data-animsition-in-duration="500" data-animsition-in-class="fade-in")#context

      include partials/_nav
      .band.head.hr.relative
        .segment.type.mast
          heeader
            h2 Selected Work
            small 2012 &ndash; 2016


      main(role='main')#checkpoint-nav
        ul.work-list.reset

          li
            a(href="work-goget.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 GoGet Brand/Public
                  dt.client Client
                  dd.client GoGet
                  dt.studio Studio
                  dd.studio VLT Labs

          li
            a(href="work-foreign.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 Foreign Office
                  dt.client Client
                  dd.client Reformist.io
                  dt.studio Studio
                  dd.studio Reformist.io

                  
          li.disable
            .segment.type.work
              dl.reset.credits
                dt.hide Project name
                dd.project.h3 GiveReceipt Brand/Web
                dt.client Client
                dd.client DVG Web
                dt.studio Studio
                dd.studio Six Leaves

          li.disable
            .segment.type.work
              dl.reset.credits
                dt.hide Project name
                dd.project.h3 ATOP Watches
                dt.client Client
                dd.client Ideahouse
                dt.studio Studio
                dd.studio Reformist.io

          li.disable
            .segment.type.work
              dl.reset.credits
                dt.hide Project name
                dd.project.h3 Ideahouse
                dt.client Client
                dd.client Ideahouse
                dt.studio Studio
                dd.studio Reformist.io


      include partials/_footer
      include partials/_scripts
