doctype html
html(lang="en")
  head
    include partials/_head

  body.work
    include partials/_banner
    .band.head.hr.relative
      .segment.type
        h2
          = "Selected Work"
        small 2012&ndash;2015

    hr

    main(role='main')

      ul.work-list
        li.band.hr
          a.plain(href="work-mayday.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Mayday
                dt Client
                dd Reformist
                dt Studio
                dd Reformist


      ul.work-list
        li.band.hr
          a.plain(href="work-post.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Post Office
                dt Client
                dd &mdash;
                dt Studio
                dd DROOM+TZY



      ul.work-list
        li.band.hr
          a.plain(href="work-atop.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 ATOP Web
                dt Client
                dd ATOP Watches
                dt Studio
                dd DROOM+TZY


      ul.work-list
        li.band.hr
          a.plain(href="work-gr.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 GiveReceipt Web/App
                dt Client
                dd DVG Web
                dt Studio
                dd Six Leaves

        li.band.hr
          a.plain(href="work-gg.html")
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 GoGet Malaysia
                dt Client
                dd GoGet
                dt Studio
                dd VLT

        li.band.hr
          a.plain(href='work-ih.html')
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Ideahouse
                dt Client
                dd Ideahouse
                dt Studio
                dd DROOM&plus;TZY


    include partials/_footer
    include partials/_scripts
