- var workiso     = true

- var project     = "Foreign Office (tumblr)"
- var client      = "Reformist.io"
- var studio      = "Reformist.io"
- var date        = "July 2012"
- var repo        = "—"

- var URLTitle    = "blog.droom.name"
- var URLProject  = "http://blog.droom.name"

- var URLPrev     = "work-goget.html"
- var URLNext     = "work-goget.html"
- var prevTitle   = "work-goget.html"
- var nextTitle   = "work-goget.html"

- var role        = [ 'Identity', 'UX + UI', 'Front-End' ]
- var stack       = [ 'Adobe© Illustrator', 'Adobe© Photoshop', 'HTML (Vanilla)', 'CSS (Vanilla)' ]


doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.fo#checkpoint-nav
        .segment.type.dark
          dl.reset.credits
            dt.hide Photo
            dd Enmore market, Guyana

      .cover-aside
        include partials/_role
        
      main(role="main")

        .segment.type
          h3 An editorial theme for tumblr
          p 
            = "In 2010 I was looking for a sober, type-led tumblr theme to start jotting down design concerns that occupied my thoughts. I’m not a good writer and my ideas are few and far between, but as "
            a(href="https://twitter.com/RellyAB") @RellyAB
            = " once said, " 
            q To become a good writer, you need to do a lot of shitty writing first.
            a(href="#").plain
              sup 1

          p By using the tumblr platform, the predicted paucity of written updates could at least be mitigated with other types of media to keep it from becoming another graveyard. It also had the added benefit of being separate from my portfolio in case it was complete garbage.

          p There were (and are) a wealth of themes to choose from, but I couldn’t find precisely what I was looking for. Either the type choices weren’t right, or it had artefacts or detailing I found extraneous, or it was just too gimmicky. (On reflection, this whole foray might have just have been a subconscious avoidance strategy to keep me from doing what I feared. It was still a good exercise.)


          h3 Georgia &plus;&plus;

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga pariatur ex sapiente commodi cupiditate, excepturi expedita accusamus tenetur aut deleniti laudantium, ipsam vitae labore quia optio, assumenda fugit minima. Qui!




        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-georgia.png")
            figcaption After sampling quite a few webfonts, I settled on Georgia Pro. Its generous x-height means it performs well at the small sizes (copyright, captions, etc).


        .segment.type
          h3 Design Responsively
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur totam, dolores itaque. Accusamus iusto repudiandae doloribus ipsam ex eum nobis veniam blanditiis placeat maxime, modi, saepe corporis sint molestiae dolorum.
        

        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-reflow.gif").faint
            figcaption


        .segment.swatch.fo
          .colour.colour-1
          .colour.colour-2
          .colour.colour-3


      .band.ref
        .segment.type
          ol.ref
            li Words and pictures: Copy and the design process (Published by the now defunt Five Simple Steps)
            li
              a(href="http://www.georgiaverdana.com/") Georgia Pro 




      include partials/_footer
      include partials/_scripts
