include partials/_order

- var workiso     = true

- var fTitle      = "droom.io/work/ideahouse"
- var project     = "Ideahouse Web"
- var client      = "Ideahouse"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var repo        = "Private"
- var status      = "In Production"
- var model       = "B2B Commerce"
- var URLTitle    = "ideahouse.com.my"
- var URLProject  = "http://www.ideahouse.com.my/"

- var role        = [ 'UX + UI', 'Front-End' ]
- var stack       = [ 'Adobe© Illustrator', 'Adobe© Photoshop', 'HTML, CSS, jQuery' ]
- var collab      = [ 'Jessica Tzy (Icons, Pallette)', 'Bon Woo Meng (Back-End)' ]

- var prevTitle   = order1[0]
- var nextTitle   = order1[2]
- var prevURL     = order2[0]
- var nextURL     = order2[2]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    include partials/_top

    article(data-project="ideahouse").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.ih#checkpoint
        .segment.type.light
          dl.reset.credits
            dt Photo
            dd Winnie Tzp
            
      .cover-aside
        include partials/_role

      main(role="main")

        .segment.type
          h3 A responsive, progressive web-app, tailor made for both Ideahouse’s existing agents &amp; prospective ones.

        .segment.type
          h3 Product Isolated
          p The most information-dense view on the site is the product page itself, so that's where I started the redesign. The biggest problem on the existing site was that two sets of data were grouped into one table, making it very confusing to scan unti you understood the quirk. By grouping this information into a narrow module, we could ensure it'll scale down to a mobile viewport. 

        include projects/ih/reflow

        .segment.swatch.ideahouse
          .colour.colour-1
          .colour.colour-2
          .colour.colour-3
          .colour.colour-4

        .segment.relative.squash
          figure
            img(src="img/projects/ih/views.png")
            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus laboriosam cum porro consequatur maiores voluptatem nisi non odio maxime quia assumenda, aliquid, quaerat soluta voluptatum accusamus.

        section.center.slider
          div
            img(src="img/app-1.png")
          div
            img(src="img/app-2.png")
          div
            img(src="img/app-3.png")
          div
            img(src="img/app-4.png")
          div
            img(src="img/app-2.png")
          div
            img(src="img/app-3.png")
          div
            img(src="img/app-2.png")

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://medium.com/@droomio/625d23ba4114").inline Designing the experience with Local Storage (Medium)

      include partials/_page
      include partials/_footer
      include partials/_scripts
