include partials/_order

- var workiso     = true
- var fTitle      = "droom.io/work/goget"
- var project     = "GoGet Brand/Public Face"
- var client      = "GoGet"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var status      = "In Production"
- var model       = "Marketplace"
- var role        = [ 'Identity', 'UX + UI', 'Front-End' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'InVision' ]

- var live        = false
- var repo        = false

- var stage       = true
- var stageTitle  = "clients.droom.io/go"
- var stageURL    = "http://clients.droom.io/go"

- var prevTitle   = order1[3]
- var prevURL     = order2[3]

- var nextTitle   = order1[1]
- var nextURL     = order2[1]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    article(data-project="goget" itemscope itemtype="http://schema.org/CreativeWork").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast
      .cover-photo.gg(itemprop="image")#checkpoint
      .cover-aside
        include partials/_role

      main(role="main")
        //- .segment.type
        
        h2(itemprop="description") GoGet is a community-focused errands and delivery marketplace, currently operating in Kuala Lumpur
        p GoGet began in 2014 and—simply put—matches those with complementary resources. This exchange, between equals in a safe community, is at the core of their offering.

        //- .segment.type
        h3
          = "A " 
          span.entity &rarr;
          = " B"

        p
          = "As Francesca explains, GoGet is more ‘"
          a(href="https://www.youtube.com/watch?v=lL1_xwe8x0c").inline logistics and human resource
          = "’"
          a(href="#ref").plain.glide-slow
            sup
          = " than straight up tech and after the first meeting it was clear that ‘speed’ and ‘dispatch’ needed to be communicated in the new identity. I hit upon the idea of calling upon some markings I had seen on the side of trucks transporting goods around KL."
          a(href="#ref").plain.glide-slow
            sup

        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-research-1.jpg")
              .unit.pad
                img(src="img/projects/gg/gg-research-2.jpg")

        .segment.blueprint
          figure
            .flex.wrap.gg-ui
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_01.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_02.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_03.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_04.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_05.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_06.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_07.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_08.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_09.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_10.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_11.png")
              .unit.unit-12
                img(src="img/projects/gg/ui/gg-ui-1104-12_12.png")
            
            figcaption Initial UI experiments, carried through to the core product.

        .segment.blueprint
          figure
            .flex.wrap
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_01.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_02.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_03.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_04.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_05.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_06.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_07.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_08.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_09.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_10.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_11.png")
              .unit.unit-12
                img(src="img/projects/gg/marks/gg-marks-1104_12.png")
            
            figcaption Initial wordmark exploration

        //- .segment.type
        h3 Public face: Immediate problems
        table.issues
          thead
            tr
              th.top.left.caps(colspan="2") Problem
              th.top.left.caps.right Type
          tbody
            tr
              td.top.left.icon &#x2717;
              td.top.issue It doesn’t work on mobiles
              td.top.left.right.type Technical
            tr
              td.top.left.icon &#x2717;
              td.top.issue Doesn't reflect the quality of the service
              td.top.left.right.type Cosmetic
            tr
              td.top.left.icon &#x2717;
              td.top.issue Broken features
              td.top.left.right.type Technical
            tr
              td.top.left.icon &#x2717;
              td.top.issue Cluttered
              td.top.left.right.type Informational
            tr
              td.top.left.icon &#x2717;
              td.top.issue Hard to find things
              td.top.left.right.type Informational
          tfoot
            tr
              td(colspan="3").top.bottom.left.right
                | View 
                a(href="https://drive.google.com/open?id=0B-nn3m_0dK5edlVjMW5nVk1vRms#").inline screenshots of the original site
                |  on Google Drive.


        .segment.blueprint
          hgroup GG&mdash;Sitemap_v4
          figure
            include projects/gg/sitemap
            figcaption Lorem...

        //- .segment.type
        h3 A Singular Hero
        p
          = "GoGet's public face is fairly conventional in its layout. A hero image introduces each page, with content modules sitting below. Whilst marking up the third hero module, I felt I could "
          a(href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself").inline DRY this all out
          | , despite having different content on each of them (and a carousel on one). This will be made available on GitHub.

        .segment.surface.squash
          include projects/gg/singular

        .segment.swatch.goget
          .colour.colour-1
          .colour.colour-2
          .colour.colour-3
          .colour.colour-4

        .segment.surface.squash
          figure
            img(src="img/projects/gg/gg-layout-1.jpg")

        .segment.surface.squash
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-layout-3.jpg")
              .unit.pad
                img(src="img/projects/gg/gg-layout-2.jpg")

        //- .segment.type
        p The new identity is being applied to digital and printed materials and elements have been folded in to a temporary website. The public face I’m designing is currently in production and is set to go live Summer/Autumn 2016.

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.youtube.com/watch?v=lL1_xwe8x0c").inline Bloomberg TV Malaysia: ‘Leapfrogging’ to Grow Errands Market: GoGet’s Chia
            li I think ‘A’ stands for the vechicle grade, but I need to make sure of this.
            li 
              a(href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself").inline Don’t repeat yourself (Wikipedia) 


    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts
