include partials/_order

- var workiso     = true
- var fTitle      = "droom.io/work/goget"
- var project     = "GoGet.my <span class=\"scope\">Brand <span class=\"entity accent slim\">/</span> App <span class=\"entity accent slim\">/</span> Web</span>"
- var client      = "GoGet"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var status      = "In Production"
- var model       = "Marketplace"
- var role        = [ "Identity", "<abbr title=\"User Experience\">UX</abbr>+<abbr title=\"User Interface\">UI</abbr>", 'Front-End' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'InVision' ]
- var live        = false
- var repo        = false
- var stage       = true
- var stageTitle  = "clients.droom.io/go"
- var stageURL    = "http://clients.droom.io/go"

- var prevTitle   = order1[3]
- var prevURL     = order2[3]
- var nextTitle   = order1[1]
- var nextURL     = order2[1]

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    article(data-project="goget" itemscope itemtype="http://schema.org/CreativeWork").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast
      .cover-photo.gg(itemprop="image")#checkpoint
      .cover-aside
        include partials/_role

      main(role="main")
        h2(itemprop="description") GoGet is a community-focused errands and delivery marketplace, currently operating in Kuala Lumpur
        p GoGet began in 2014,  matching  those with complementary resources: those looking with not enough time with those with not enough income. This exchange between equals in a safe community, is at the core of their offering. They were already up and running with an MVP when we met in early 2015 and I was tasked with taking the brand and the app further.

        h3
          = "A " 
          span.entity.accent &rarr;
          = " B"

        p GoGet were already working with a logo they had drawn up. As both founders happily admitted: neither have leanings towards design and this was simply a placeholder. As far as I could tell, there were two main problems with the identity: the wordmark didn’t convey the product, and the constituent parts weren’t unified. As Francesca explains on Bloomberg, GoGet is more ‘logistics and human resource’ than straight-up tech, and after the first meeting it was clear that ‘speed’ and ‘dispatch’ needed to be core to the new identity.

        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-research-1.jpg").max
              .unit.pad
                img(src="img/projects/gg/gg-research-2.jpg").max

        p When driving around KL (or rather being driven around) I had always noticed the markings on the side HGV’s hauling materials around the city. I hit upon the idea of calling upon some markings I had seen on the side of trucks transporting goods around KL. Given that the service originated here.

        .segment.surface.align-c
          ul.swatch.goget
            li.colour
            li.colour
            li.colour
            li.colour

        p A note about colour: When possible, I would attempt to retain brand colours thorough a refresh. More than any other ingredient, colours build recognition and equity and are the most jarring change to get used to. In this case, the change was justified. The Australian car-share service by the same name were using the same palette and we needed to do all we could to assert ourselves as a completely separate entity.


        .segment.blueprint
          figure
            include projects/gg/ui
            figcaption Initial UI experiments, carried through to the core product.

        .segment.blueprint
          figure
            include projects/gg/wordmark
            figcaption Initial wordmark exploration

        h3
          = "Brand " 
          span.entity.accent &rarr;
          = " App"


        .segment.surface
          figure
            img(src="img/projects/gg/paper.png").max
            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa temporibus veniam, molestiae similique doloremque facere.


        .segment.blueprint.pad
          figure
            hgroup gg&mdash;combined prototype views
            include projects/gg/views
            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            

        h3 Public face
        p Fast-forward to 2016 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores aut vero maxime, blanditiis placeat, obcaecati veritatis illum veniam suscipit delectus incidunt ad, sunt vitae cupiditate optio nostrum nam itaque. Animi.

        table.issues
          thead
            tr
              th.top.left.caps(colspan="2") Immediate problem
              th.top.left.caps.right Type
          tbody
            tr
              td.top.left.icon &#x2717;
              td.top.issue It doesn’t work on mobiles
              td.top.left.right.type Technical
            tr
              td.top.left.icon &#x2717;
              td.top.issue Doesn't reflect the quality of the service
              td.top.left.right.type Cosmetic
            tr
              td.top.left.icon &#x2717;
              td.top.issue Broken features
              td.top.left.right.type Technical
            tr
              td.top.left.icon &#x2717;
              td.top.issue Cluttered
              td.top.left.right.type Informational
            tr
              td.top.left.icon &#x2717;
              td.top.issue Hard to find things
              td.top.left.right.type Informational
          tfoot
            tr
              td(colspan="3").top.bottom.left.right
                | View 
                a(href="").inline screenshots of the original site
                |  on Google Drive.

        .segment.blueprint.pad
          figure
            hgroup gg&mdash;combined prototype views
            include projects/gg/sitemap
            figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, reprehenderit tenetur eum eius, ullam hic atque amet facilis ratione.

        .segment.surface
          figure
            img(src="img/projects/gg/gg-layout-1.jpg").max

        .band.ref
          h3 A Singular Hero
          p
            = "GoGet's public face is fairly conventional in its layout. A hero image introduces each page, with content modules sitting below. Whilst marking up the third hero module, I felt I could "
            a(href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself").inline
              abbr(title="Don't repeat yourself") DRY 
              | this all out
            | , despite having different content on each of them (and a carousel on one). This will be made available on GitHub.
          .segment.surface
            figure
              include projects/gg/singular




        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-layout-3.jpg").max
              .unit.pad
                img(src="img/projects/gg/gg-layout-2.jpg").max





        p The new identity is being applied to digital and printed materials and elements have been folded in to a temporary website. The public face I’m designing is currently in production and is set to go live Summer/Autumn 2016.

        h3 So what would I have done differently?
        p Towards the end of the project I could see I got too bogged down with UI. This biggest failure is that it affected other members of the team. If I ever have a project of this scope again I will do things in this order: UX &rarr; BRAND &rarr; UI. The UX is the most important and difficult problem to solve. Instead it was BRAND &rarr; UI &rarr; UX. So why didn‘t I start with UX? Well the truth is, I was too scared to. Up until this point I had done no UX, let alone lead design sprints to inform them. No-one knows the product better than the owner. Doubly so if its founders are anything like GoGet’s. The new identity is being applied to digital and printed materials and elements have been folded in to a temporary website. The public face I’m designing is currently in production and is set to go live Summer/Autumn 2016.


        .segment.surface.align-c
          a(href="http://clients.droom.io/go").plain.cta
            span View staging project on 
            span.inline clients.droom.io/go

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.youtube.com/watch?v=lL1_xwe8x0c").inline Bloomberg TV Malaysia: ‘Leapfrogging’ to Grow Errands Market: GoGet’s Chia
            li I think ‘A’ stands for the vechicle grade, but I need to make sure of this.
            li 
              a(href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself").inline Don’t repeat yourself (Wikipedia) 


    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts
