include partials/_order

- var workiso     = true
- var fTitle      = "droom.io/work/givereceipt"
- var project     = "GiveReceipt <span class=\"scope\">Brand <span class=\"entity accent slim\">/</span> App <span class=\"entity accent slim\">/</span> Web</span>"
- var client      = "DVG Web"
- var studio      = "SixLeaves"
- var date        = "July 2015"
- var status      = "Live"
- var model       = "SaaS"
- var role        = [ 'Identity', '<abbr title=\"User Experience\">UX</abbr>+<abbr title=\"User Interface\">UI</abbr>', 'Front-End' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'HTML (Ruby Slim)' ]
- var collab      = [ 'Hassanin Ahmed (RoR)', 'Jessica Tzy (Icons)' ]
- var live        = true
- var liveTitle   = "givereceipt.com"
- var liveURL     = "http://www.givereceipt.com/"
- var repo        = false
- var prevTitle   = order1[1]
- var prevURL     = order2[1]
- var nextURL     = order2[3]
- var nextTitle   = order1[3]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
      main(role="main")
        .segment.blueprint.pad
          figure.gg.flow
            include projects/gg/flow
            figcaption


  include partials/_scripts