- var workiso     = true

- var project     = "Ideahouse Web"
- var client      = "Ideahouse"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var repo        = "Private"
- var status      = "In Production"
- var model       = "B2B Commerce"

- var URLTitle    = "givereceipt.com"
- var URLProject  = "http://www.givereceipt.com"
- var URLNext     = "work-givereceipt.html"
- var URLPrev     = "work-foreign.html"
- var prevTitle   = "Foreign Office"
- var nextTitle   = "Give Receipt"

- var role        = [ 'UX + UI', 'Front-End' ]
- var stack       = [ 'Adobe© Illustrator', 'Adobe© Photoshop', 'HTML (Jade), CSS (Sass), jQuery' ]
- var collab      = [ 'Jessica Tzy (Icons, Pallette)', 'Bon Woo Meng (Back-End)' ]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso
    include partials/_top

    article(data-project="ideahouse").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.ih#checkpoint-nav
        .segment.type.light
          dl.reset.credits
            dt Photo
            dd Winnie Tzp
            
      .cover-aside
        include partials/_role

      main(role="main")

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://medium.com/@droomio/625d23ba4114") Designing the experience with Local Storage (Medium)

      include partials/_footer
      include partials/_scripts
