doctype html
html(lang="en")
  head
    include partials/_head

  body.work
    include partials/_nav

    .band.head.hr.relative
      .segment.type
        h2
          = "Selected Work"
        small 2012&ndash;2015

    hr
    main(role="main")
      .segment.type
        h3 Case studies to be added 27/10/2015.

      ul.work-list
        li.band.hr
          a(href="work-gr.html" aria-title="View project: GiveReceipt Web/App").plain
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 GiveReceipt Web/App
                dt Client
                dd DVG Web
                dt Studio
                dd Six Leaves

        li.band.hr
          a(href="work-gg.html").plain
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 GoGet Malaysia
                dt Client
                dd The Co.
                dt Studio
                dd VLT

        li.band.hr
          a(href="work-ih.html").plain
            .segment.type.work
              dl.credits
                dt.hide Project name
                dd.project.h3 Ideahouse
                dt Client
                dd Ideahouse
                dt Studio
                dd DROOM+TZY


    include partials/_footer
    include partials/_scripts
