doctype html
html(lang="en")
  head
    include partials/_head

  body.work.iso
    include partials/_banner
    .band.head.hr.relative
      a(href="work-gr.html" tabindex="-1").move.move-left
      .segment.type
        h2 Mayday theme (jekyll)
        dl.credits
          dt Client
          dd SaltyCustom
          dt Studio
          dd VLT Labs
          dt Date
          dd July 2015
          dt Repo
          dd (Private)
      a(href="work-ih.html" tabindex="-1" aria-hidden="true" or role="presentation").move.move-right

    hr
    aside.project(role="complementary")
      .segment.type
        dl.credits
          dt Role
          dd Identity
          dd UX &plus; UI

        dl.credits
          dt Stack
          dd Balsamiq
          dd Paper
          dd Adobe© Illustrator
          dd Adobe© Photoshop
          dd Adobe© InDesign
          dd InVision

    main(role="main")
      .segment.type.intro
        h3 Before I discovered the joys of MacBooks, I used to put together my own Windows builds because I am a huge dweeb.
        p A key component of any PC is its motherboard. This is like the central nevous system of a computer and therefore one of its most important parts. A trusted name in mid-level motherboards at the time was ASUS — a manufacturer from Taiwan. This is all I knew about Taiwan until I came across these watches.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloribus, laboriosam quasi numquam aut dicta ex repellat nulla illo perspiciatis rerum sit dolores dolore, veniam vero, iure ipsam a asperiores.

    include partials/_footer
    include partials/_scripts
