- var workiso = false

doctype html
include partials/_html

  head
    include partials/_head

  body.work(itemscope itemtype="http://schema.org/WebPage" data-project="work")
    div.js-animsition.animsition(data-animsition-in-duration="500" data-animsition-in-class="fade-in-up-sm")#yoyo

      include partials/_banner
      .band.head.hr.relative
        .segment.type
          h2
            = "Selected Work"
          small 2012&ndash;2015
      
      main(role='main')#checkpoint-nav
        ul.work-list.reset.pure
          li
            a(href="project-goget.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 GoGet App
                  dt.client Client
                  dd.client GoGet
                  dt.studio Studio
                  dd.studio VLT

          li
            a(href="project-givereceipt.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 GiveReceipt Web
                  dt.client Client
                  dd.client DVG Web
                  dt.studio Studio
                  dd.studio Six Leaves
          
          li
            a(href="project-foreign.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 Foreign Office (tumblr)
                  dt.client Client
                  dd.client &mdash;
                  dt.studio Studio
                  dd.studio Reformist.io

          li
            a(href="project-atop.html").plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 ATOP Watches
                  dt.client Client
                  dd.client ATOP Watches
                  dt.studio Studio
                  dd.studio DROOM+TZY

          li
            a(href='project-ideahouse.html').plain
              .segment.type.work
                dl.reset.credits
                  dt.hide Project name
                  dd.project.h3 Ideahouse
                  dt.client Client
                  dd.client Ideahouse
                  dt.studio Studio
                  dd.studio DROOM&plus;TZY


      include partials/_footer
      include partials/_scripts
