- var workiso     = true

- var project     = "Foreign Office"
- var client      = "Reformist.io"
- var studio      = "Reformist.io"
- var date        = "July 2012"
- var repo        = "—"

- var URLTitle    = "blog.droom.name"
- var URLProject  = "http://blog.droom.name"

- var URLPrev     = "work-goget.html"
- var URLNext     = "work-goget.html"
- var prevTitle   = "work-goget.html"
- var nextTitle   = "work-goget.html"

- var role        = [ 'Identity', 'UX + UI', 'Front-End' ]
- var stack       = [ 'Adobe© Illustrator', 'Adobe© Photoshop', 'HTML (Vanilla)', 'CSS (Vanilla)' ]


doctype html
html(class="no-js" lang="en")
  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .cover-title
        include partials/_nav
        include partials/_mast

      .cover-photo.fo#checkpoint-nav
        .segment.type.dark
          dl.reset.credits
            dt.hide Photo
            dd Enmore market, Guyana

      .cover-aside
        include partials/_role
        
      main(role="main")

        .segment.type
          h3 An editorial theme for tumblr
          p 
            = "In 2010 I was looking for a sober, type-led blogging theme to start jotting down design realted musings as they occured to me. I’m not skilled at writing and my ideas are few and far between, but as "
            a(href="https://twitter.com/RellyAB") @RellyAB
            = " once said, " 
            q To become a good writer, you need to do a lot of shitty writing first.
            a(href="#ref").plain.glide-slow
              sup

          p By using the tumblr platform, the predicted paucity of updates could at least be mitigated with ‘re-blogging’ the content of others. It also had the benefit of being separate from my portfolio in case it was complete garbage.

          p 
            = "There were (and are) a wealth of themes to choose from, but I couldn’t find precisely what I was looking for. Either the type choices didn't jive with me, it had artefacts or detailing I found superfluous, or it was just too gimmicky. (On reflection, this whole exercise might have just have been a subconscious avoidance strategy to keep me from doing what I feared"
            &hellip; 
            = "). So began my first forary into desiging for CMSes and ‘the known unknowns.’"
            a(href="#ref").plain.glide-slow
              sup

          h3 Georgia &plus;&plus;

          p 
            = "The most important component to get right was the typeface. At this point I was already a huge fan of Georgia; Its ubiquity is a testament to how well it performs, but I think it also prevents us from fully seeing its beauty. During the build, Webtype had released Georgia Pro"
            a(href="#ref").plain.glide-slow
              sup
            = ", an updated version of the Matthew Carter classic with new weights and extra hinting. Side-by-side, the new  letters looked even better."

        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-georgia.png")
            figcaption After sampling quite a few webfonts, I settled on Georgia Pro. Its generous x-height means it performs well at the small sizes (copyright, captions, etc). Amongst the new cuts was even a small caps.

        .segment.type
          h3 RWD FTW 
          p 
            = "Sometime in mid-2012 the words 'responsive and 'design' accounted for about 65% of the words in my twitterfeed, but it was only when Front-Ender/UX Designer/pal "
            a(href="https://twitter.com/steveavery") @steveavery
            = " sent a working demo"
            a(href="#ref").plain.glide-slow
              sup
            = " around the office that the penny dropped for me."

          p Responsive design was such a huge revelation that might have actually rewired my brain, much in the same way CSS did a decade earlier. The mental model I used to design for screens had now been forever changed.

        .segment.center.blueprint.squash
          figure
            img(src="img/projects/fo/fo-reflow.gif").faint
            figcaption A single post is divided up into three subdivions: date, content and tags. On a wide desktop, date and tags site at opposite sides of the screen. On a smaller table, they stack on top of each other on the left hand side. I had used regular floats to move these sections about. 

        .segment.swatch.fo
          .colour.colour-1
          .colour.colour-2
          .colour.colour-3

        .segment.surface.squash
          figure
            img(src="img/projects/fo/fo-layout.jpg")

        .segment.type
          p Revisiting the source for this 4 years later makes me appreciate (even more) how useful all the build tools we now have are. Back then, I was writing vanilla CSS, manually typing out vendor-prefixes, meticulously indenting and then minifying with some online service. Ridiculous. But at least it kept me from writing.


      .band.ref#ref
        .segment.type
          ol.ref
            li Words and pictures: Copy and the design process (published by the now defunct Five Simple Steps)
            li 
              a(href="https://adactio.com/articles/4938") One Web, Jeremy Keith
            li
              a(href="http://www.fontbureau.com/blog/georgia_verdana/") Georgia Pro &amp; Verdana Pro: More Widths. More Weights. More Possibilities. 
            li The demo in question was (I think) from Leigh Howells at Headscape which I can't seem to track down now. I'll email and update.

      include partials/_footer
      include partials/_scripts
