include partials/_order

- var workiso     = true
- var fTitle      = "droom.io/work/goget"
- var project     = "GoGet.my <span class=\"scope\">Brand <span class=\"entity accent slim\">/</span> App <span class=\"entity accent slim\">/</span> Web</span>"
- var client      = "GoGet"
- var studio      = "VLT Labs"
- var date        = "March 2015"
- var status      = "In Production"
- var model       = "Marketplace"
- var role        = [ "Identity", "<abbr title=\"User Experience\">UX</abbr>+<abbr title=\"User Interface\">UI</abbr>", 'Front-End (Public face)' ]
- var stack       = [ 'Balsamiq', 'Paper', 'Adobe© Illustrator', 'Adobe© Photoshop', 'Adobe© InDesign', 'InVision' ]
- var collab      = [ 'Hassanin Ahmed (Back-End)', 'Looi Ferng Yi (Back-End)' , 'Fai Wong (Back-End)' ]

- var live        = false
- var repo        = false
- var stage       = true
- var stageTitle  = "clients.droom.io/go"
- var stageURL    = "http://clients.droom.io/go"

- var prevTitle   = order1[3]
- var prevURL     = order2[3]
- var nextTitle   = order1[1]
- var nextURL     = order2[1]

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body.work.iso.goget
    article(data-project="goget" itemscope itemtype="http://schema.org/CreativeWork").fade-in#context
      .cover-title
        include partials/_nav
        include partials/_mast
      .cover-photo.gg(itemprop="image")#checkpoint
        .segment.type
          dl.reset.credits
            dt Photo
            dd
              &copy;
              = "GoGet"

      .cover-aside
        include partials/_role

      main(role="main")
        h2(itemprop="description") GoGet is a community-focused errands and delivery marketplace, starting life in the founders’ hometown of Kuala Lumpur and recently expanding to Hong Kong.

        p GoGet began in 2014, with the aim of matching  those with complementary resources. This exchange between equals, within a safe platform, is what the team at GoGet strive to build. They were already up and running with an MVP when we met in early 2015 and I was tasked with furthering both the brand and the service. My involvement with GoGet could be broken down into three parts: Identity, Product (webapp), and the public facing website.

        h3 Identity
        p Up until this point, GoGet were  working with a logo they had drawn up internally. As both founders readily admitted, neither have design leanings and this simply just a stop-gap. In my opinion, there were three problems with the existing identity: the wordmark didn’t convey the product, the constituent parts weren’t unified and the colours didn’t compliment each other too well.

        p 
          = "As " 
          a(href="https://www.youtube.com/watch?v=lL1_xwe8x0c").inline.glide-slow Francesca explains to Bloomberg.tv
          sup
          = ", GoGet is more ‘logistics and human resource’ than straight-up tech. After the first meeting it was clear that ‘speed’ and ‘dispatch’ needed to be primarily communicated in the new identity."
        h3
          = "A " 
          span.entity.accent &rarr;
          = " B"

        p When driving around (or rather being driven around) KL, I had always been drawn to the markings I’d seen on the side HGV’s hauling materials around the city, taking photographs of them as I do with other bits of interesting type. I hit upon the idea of using these to inform the new identity.

        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-research-1.jpg").max
              .unit.pad
                img(src="img/projects/gg/gg-research-2.jpg").max

        .segment.blueprint
          figure
            include projects/gg/ui
            figcaption

        .segment.blueprint
          figure
            include projects/gg/wordmark
            figcaption

        p A note about changing brand colours: When possible, I would attempt to carry brand colours thorough a refresh.  More than any other ingredient, colours build familiarity, and are the most jarring change to get used to (think hunting for the Foursqaure icon after their refresh). In this case, the change was justified,  even crucial. Being a compound of regular English words, it’s perhaps not surprising that there’s another company operating under the same name: a car sharing service in Australia. They were using this same blue/orange palette and although the two companies aren’t stepping on each others’ toes (in function or proximity), the close ties of the two countries meant we needed to be a distinct as possible visually.


        .segment.surface.align-c
          ul.swatch.goget
            li.colour
            li.colour
            li.colour
            li.colour


        h3 Discovery

        p 
          = "I used a "
          a(href="https://gist.github.com/droom/96381e758de1a927671b").inline.glide-slow modified version 
          sup
          = " of Google Ventures’ Design Sprint methodology to dig in and conduct research to figure out where the app was failing. Crucially, this was conducted with the product owners, with everyone’s input valued and the founders' insights extensively called upon."
          p We decided there were two separate user journeys, GoGetter (‘I run errands’) and Poster (‘I need someone to run an errand’) with the ability for the user to switch between the two. These distinct use cases offered us two well defined personas to work with. As we only had 3 months with GoGet, we had to hone in on one journey per persona: Create a job + Claim a job.

        .segment.surface
          figure
            img(src="").max

          figure.gg.flow
            picture.max.blend
              source(srcset="img/projects/gg/story-large.jpg" media="(min-width: 900px)")
              source(srcset="img/projects/gg/story-mid.jpg" media="(min-width: 500px)")
              source(srcset="img/projects/gg/story-small.jpg")
              img(src="img/projects/gg/story-large.jpg").max
            figcaption Initital storyboarding.


        .segment.blueprint.pad.chart
          figure.gg.flow
            hgroup Create a job user flow (Poster)
            picture.max.blend
              source(srcset="img/projects/gg/flow-v.png" media="(max-width: 750px)")
              source(srcset="img/projects/gg/flow-h.png" media="(min-width: 751px)")
              img(src="img/projects/gg/flow-h.png").max.blend
            figcaption

        h3 Prototyping
        p When sketching  out possible interfaces, I figured the multiple stages for creating a new job could be whittled down into one view, with the most common options preselected. The best way to communicate this was to use paper prototypes. These were great at getting the point across without spending too much time crafting things that might not be taken forward.

        .segment.surface
          figure
            img(src="img/projects/gg/paper.png").max
            figcaption Low-fidelity wireframes, created in Balsamiq, printed and cropped. Using non-precious, tactile representations like these allows for things to be scrapped, rearranged and encourages new ideas generation across disciplines.

        .segment.blueprint.pad.interactive.border#gg-views
          include components/interactive
          hgroup Open job prototype
          figure
            include projects/gg/views
            figcaption Each job in progress could be displayed within one view, this being slightly different depending on your relationship to the job. As the GoGetter, you’re able to update your progress as you go, keeping the Poster informed along the way. For jobs with more than one stop/task. The GoGetter can prioritise as they see fit.

        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-app-1.jpg").max
              .unit.pad
                img(src="img/projects/gg/gg-app-2.jpg").max

        p One crucial part to this flow is letting the GoGetter know how much they’ll need to cover the cost of the transaction (to be reimbursed upon completion). This is straightforward with set prices and prior knowledge, but without those, a rough estimate is all that’s possible. If you were to ask someone in real life to run an errand for you, the natural flow would be to give them enough money to cover the errand, with increments of note denominations. Using this as a starting point, I came up with this payment interaction.

        .segment.blueprint.pad.interactive.border#gg-money
          include components/interactive
          figure
            hgroup Rejected: Payment interaction concept
            include projects/gg/money
            figcaption Payment interaction concept: In all honesty it is a little goofy and this particular feature wasn‘t taken further than concept in the original web build.

        h3 Public face

        p As I mentioned earlier, we only had 3 months with GoGet and there was only a certain amount we could accomplish in that time. With the know-how and expertise of a team, it made sense to tackle the most pressing and complex problems first. This meant putting the public facing / on-boarding pages on the back burner.

        p Fast-forward to 2016 and I was back in England and more experienced in service design. I still wanted to tackle those pages as it wasn’t reflecting well on anyone involved. Fortunately, Fran and Fung were willing to take some time out to entertain this. The following collaboration was conducted over Skype with their marketing team.

        table.issues
          thead
            tr
              th.top.left.caps(colspan="2") Immediate problem
              th.top.left.caps.right Type
          tbody
            tr
              td.top.left.icon &#x2717;
              td.top.issue It doesn’t work on mobiles
              td.top.left.right.type Technical
            tr
              td.top.left.icon &#x2717;
              td.top.issue Doesn't reflect the quality of the service
              td.top.left.right.type Cosmetic
            tr
              td.top.left.icon &#x2717;
              td.top.issue Broken features
              td.top.left.right.type Technical
            tr
              td.top.left.icon &#x2717;
              td.top.issue Cluttered
              td.top.left.right.type Informational
            tr
              td.top.left.icon &#x2717;
              td.top.issue Hard to find things
              td.top.left.right.type Informational
          tfoot
            tr
              td(colspan="3").top.bottom.left.right
                | View 
                a(href="").inline screenshots of the original site
                |  on Google Drive.

        .segment.blueprint.pad
          figure
            hgroup Revised Sitemap
            include projects/gg/sitemap
            figcaption Alongside insight from the team, I used SEO Spider to audit and identify existing architectural problems. The original IA was a little confusing, with overlapping and broken content. We streamlined this before adding new content.

        h3 A Singular Hero
        p
          = "GoGet's public face is fairly conventional in its layout. A hero image introduces each page, with content modules sitting below. Whilst marking up the third hero module, I felt I could "
          a(href="https://en.wikipedia.org/wiki/Dont_repeat_yourself").inline
            abbr(title="Don't repeat yourself") DRY 
            | this all out
          | , despite having different content on each of them (and a carousel on one). This will be made available on GitHub.
        
        .segment.surface
          figure
            include projects/gg/singular

        .segment.surface
          figure
            img(src="img/projects/gg/gg-layout-1.jpg").max

        .segment.surface
          figure
            .flex
              .unit.pad
                img(src="img/projects/gg/gg-layout-3.jpg").max
              .unit.pad
                img(src="img/projects/gg/gg-layout-2.jpg").max

        p The public face I’m designing is currently in production and is set to go live Winter 2016.

        .segment.surface.align-c
          a(href="http://clients.droom.io/go").plain.cta
            span View staging project on 
            span.inline clients.droom.io/go

      .band.ref
        .segment.type
          ol.ref
            li
              a(href="https://www.youtube.com/watch?v=lL1_xwe8x0c").inline Bloomberg.tv Malaysia: ‘Leapfrogging’ to Grow Errands Market: GoGet’s Chia
            li 
              a(href="https://gist.github.com/droom/96381e758de1a927671b").inline 3 Day Sprint
            li 
              a(href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself").inline Don’t repeat yourself (Wikipedia)

    include partials/_pager
    include partials/_top
    include partials/_footer
      
  include partials/_scripts
