- var fTitle  = "droom.io/work"
- var workiso = false

doctype html
html(class="no-js" lang="en")
  head
    include partials/_head

  body(data-project="work").work
    include partials/_top
    article.fade-in#context
      include partials/_nav
      .band.head.hr.relative
        .segment.type.mast
          header
            h2 Selected Work
            include components/view
            
      main(role='main')#checkpoint
        ul.work.reset#work

          li
            a(href="work-goget.html").plain
              .segment.type.work.gg
                dl.reset.credits
                  dt.project Project
                  dd.project.h3 GoGet Brand/Public
                  dt.client Client
                  dd.client GoGet
                  dt.model Model
                  dd.model Marketplace
                  
          li
            a(href="work-ideahouse.html").plain
              .segment.type.work.ih
                dl.reset.credits
                  dt.project Project
                  dd.project.h3 Ideahouse Web
                  dt.client Client
                  dd.client Ideahouse
                  dt.model Model
                  dd.model Wholesaler

          li
            a(href="work-givereceipt.html").plain
              .segment.type.work.gr
                dl.reset.credits
                  dt.project Project
                  dd.project.h3 GiveReceipt Brand/Web
                  dt.client Client
                  dd.client DVG Web
                  dt.model Model
                  dd.model SaaS

          li
            a(href="work-foreign.html").plain
              .segment.type.work.fo
                dl.reset.credits
                  dt.project Project
                  dd.project.h3 Foreign Office
                  dt.client Client
                  dd.client Reformist.io
                  dt.model Model
                  dd.model Theme

                  
          li.disable
            .segment.type.work
              dl.reset.credits
                dt.project Project
                dd.project.h3 ATOP Watches
                dt.client Client
                dd.client Ideahouse
                dt.model Model
                dd.model Store

          li.disable
            .segment.type.work
              dl.reset.credits
                dt.project Project
                dd.project.h3 GoGet App
                dt.client Client
                dd.client GoGet
                dt.model Model
                dd.model Marketplace
      
          li.disable
            .segment.type.work
              dl.reset.credits
                dt.project Project
                dd.project.h3 Rainbow Theme
                dt.client Client
                dd.client Reformist.io
                dt.model Model
                dd.model Theme (tumblr)

      include partials/_footer
      include partials/_scripts