doctype html
html(lang="en")
  head
    include partials/_head

  body.work
    include partials/_banner

    .band.head.hr.relative.move

      a(href="work-gr.html").move.move-left

      .segment.type
        h2 Doobie

        dl.credits
          dt Client
          dd SaltyCustom

          dt Studio
          dd VLT Labs

          dt Date
          dd July 2015

          dt Repo
          dd (Private)

      a(href="work-ih.html").move.move-right

    hr

    aside.project(role="complementary")
      .segment.type
        dl.credits
          dt Role
          dd Identity
          dd UX &plus; UI

        dl.credits
          dt Stack
          dd Balsamiq
          dd Paper
          dd Adobe© Illustrator
          dd Adobe© Photoshop
          dd Adobe© InDesign
          dd InVision


    main(role="main")
      a(href="")
      .segment.type
        h3 Goget Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam non ea eligendi, quae incidunt porro cumque similique voluptatum earum eum placeat dolore culpa nesciunt minus sint autem, ad hic.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloribus, laboriosam quasi numquam aut dicta ex repellat nulla illo perspiciatis rerum sit dolores dolore, veniam vero, iure ipsam a asperiores.

      .segment.blueprint
        figure
          img(src="img/projects/gg-wire.png")
          figcaption User flow for the web app. Users will be prompted to enter company information after the registration process.

      .segment.type
        p Lorem ipsum dolor sit amet.

      .segment.blueprint
        figure
          img(src="img/projects/gg-id.png")
          figcaption Lorem

      .segment.type
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloribus, laboriosam quasi numquam aut dicta ex repellat nulla illo perspiciatis rerum sit dolores dolore, veniam vero, iure ipsam a asperiores.


      .segment.blueprint
        figure
          img(src="img/projects/gg-ui.png")
          figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia excepturi totam suscipit esse ratione natus quos, aut molestias eligendi delectus consequuntur voluptas sapiente in quae quisquam amet possimus illum. Eum.

      .segment.type
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloribus, laboriosam quasi numquam aut dicta ex repellat nulla illo perspiciatis rerum sit dolores dolore, veniam vero, iure ipsam a asperiores.

      .segment.blueprint
        figure
          img(src="img/projects/gg-ui-notify.png")
          figcaption Lorem ipsum dolor sit amet

      .segment.type
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ut ratione sequi inventore laboriosam fugit. Soluta perspiciatis pariatur non, asperiores et architecto nostrum tenetur eos. Iste, ipsa explicabo vero voluptatem.

      .segment.blueprint
        figure
          img(src="img/gg-wire.png")
          figcaption Lorem ipsum dolor sit amet




    include partials/_footer
    include partials/_scripts
