.dark
	dt, dd, p, a, small, h1, h2, h3, h4
		color: $copy

.light
	dt, dd, p, a, small, h1, h2, h3, h4
		color: white

.accent
	color: $maths
	// color: #fad7ae

.segment.surface
	label, ul, ol, li
		color: $ink

.segment.blueprint
	hgroup,
	label,
	figure figcaption,
	figure figcaption a,
	ul li,
	ol li,
	span
		color: $ink