figure figcaption
  max-width: 340px

.align-l
  text-align: left
.align-r
  text-align: right
.align-c
  text-align: center

.entity
  margin-top: -1em
  display: inline-block

.ndash
  position: relative
  top: -0.09em
  padding: 0 0.1em
  
.br
  display: block

.prise
  letter-spacing: 0.06em

.caps
  text-transform: uppercase

.break
  word-break: break-word

.ghost
  pointer-events: none
  
.target
  pointer-events: auto