@font-face
  font-style: normal
  font-weight: normal
  font-family: 'c-std-bold-subset'
  src: url('../fonts/c-std-bold-subset.eot')
  src: url('../fonts/c-std-bold-subset.eot?#iefix') format('embedded-opentype'), url('../fonts/c-std-bold-subset.woff2') format('woff2'), url('../fonts/c-std-bold-subset.woff') format('woff'), url('../fonts/c-std-bold-subset.ttf') format('truetype')

@font-face
  font-family: 'hndi-std'
  src: url('../fonts/hndi-std-reg.eot?#iefix') format('embedded-opentype'), url('../fonts/hndi-std-reg.woff') format('woff'), url('../fonts/hndi-std-reg.ttf')  format('truetype'), url('../fonts/hndi-std-reg.svg#hndi-std-reg') format('svg')
  font-weight: 400
  font-style: normal
  
@font-face
  font-family: 'hndi-std'
  src: url('../fonts/hndi-std-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/hndi-std-bold.woff') format('woff'), url('../fonts/hndi-std-bold.ttf') format('truetype'), url('../fonts/hndi-std-bold.svg#hndi-std-bold') format('svg')
  font-weight: 700
  font-style: normal