@mixin h1()
  font-family:    $display1
  font-style:     normal
  font-weight:    700
  // letter-spacing: -.0425em
  margin-left:    -.045em
  font-size:      44px
  line-height:    48px

@mixin h2()
  font-family:    $display1
  font-style:     normal
  font-weight:    700
  font-size:      32px
  line-height:    40px
  // letter-spacing: -.02em

@mixin h3()
  font-family:    $display2
  font-style:     normal
  font-weight:    600
  font-size:      22px
  line-height:    28px
  // letter-spacing: -0.01em

@mixin h4()
  font-family:    $display2
  font-style:     normal
  font-weight:    600
  font-size:      15px
  line-height:    19px

@mixin hgroup()
  font-family:    $running
  font-style:     normal
  font-weight:    normal
  font-size:      20px
  line-height:    25px
  // letter-spacing: .04em

@mixin p()
  font-family:    $running
  // font-size:      16px
  // line-height:    26.5px
  font-size:      1.05rem
  line-height:    1.58rem

@mixin small()
  font-family:    $running
  font-size:      0.8rem
  line-height:    1.28rem

@mixin tiny()
  font-family:    $running
  font-size:      10.5px
  line-height:    15.5px

html, body
  @include p()

h1, .h1
  @include h1()

@media (max-width: $phone-max)
  h1, .h1
    @include h2()

h2, .h2
  @include h2()
@media (max-width: $phone-max)
  h2, .h2
    @include h3()

h3, .h3
  @include h3()

h4, .h4,
h5, .h5,
h6, .h6
  @include h4()

h5, .h5
  opacity: 0.8
h6, .h6
  opacity: 0.6

nav,
nav ol li,
nav ul li
  @include h4()

hgroup, .hgroup
  @include hgroup()

table, th, td, p
  @include p()

footer .flex .unit
  @include small()

@media (max-width: $phone-max)
  table, th, td
    @include small()

ol li, ul li, dl, dd, dt, label, figcaption, small, label, sup
  @include small()

@media (max-width: $phone-max)
  ul.menu li dl.credits dd.project
    @include small()
    
ul.menu.tile li .segment.work dl.credits dd.project.h3
  @include small()
