@mixin huge()
  font-family:    $running
  font-size:      10.5px
  line-height:    15.5px
  
@mixin tiny()
  font-family:    $running
  font-size:      10.5px
  line-height:    15.5px

@mixin bigger()
  font-family:    $running
  font-size:      10.5px
  line-height:    15.5px

@mixin menu()
  font-family:    $running
  font-size:      10.5px
  line-height:    15.5px


html, body
  font-family:  $running
  font-size:    16px
  line-height:  19px
  font-style:   normal
  font-weight:  normal

h1, h2, h3, h4, h5, h6, nav, nav ol li, .h1, .h2, .h3, .h4, .h5, .h6, .nav
  font-family:  $display
  font-style:   normal
  font-weight:  normal

h1, h2, h3, .h1, .h2, .h3
  text-rendering: geometricPrecision

dl.credits dl
  font-weight:  400
  
dl.credits dt
  font-weight:  700

.entity
  font-family: $entity
  font-weight: 400
  text-rendering: optimizeLegibility

h1, .h1
  @include huge()

h2, .h2
  @include bigger()
  
h3, .h3
  @include menu()

nav li
  @include menu()

hgroup
  @include menu()

p, li, dl, dd, dt, label, figcaption, small
  @include menu()

table, th, td
  @include menu()

