@mixin h1()
  font-family:    $display
  font-style:     normal
  font-weight:    normal
  font-size:      50px
  line-height:    52.5px
  letter-spacing: -0.045em
  margin-left:    -0.045em

@mixin h2()
  font-family:    $display
  font-style:     normal
  font-weight:    normal
  font-size:      35px
  line-height:    40px
  letter-spacing: -0.038em


  font-style: normal
  font-weight: 400
  font-size: 35px
  line-height: 37px
  letter-spacing: -.038em
    

    
@mixin h3()
  font-family:    $display
  font-style:     normal
  font-weight:    normal
  font-size: 24px
  line-height: 28px
  letter-spacing: -0.03em

  font-size: 25px
  line-height: 29px
  letter-spacing: -0.03em

@mixin h4()
  font-family:    $display
  font-style:     normal
  font-weight:    normal
  font-size:      16px
  line-height:    19px
  letter-spacing: -0.01em

@mixin h5()
  font-family:    $display
  // text-rendering: geometricPrecision
  font-style:     normal
  font-weight:    normal
  font-size:      13.5px
  line-height:    16px
  letter-spacing: -0.01em


@mixin hgroup()
  font-family:    $running
  font-style:     normal
  font-weight:    normal
  letter-spacing: 0.04em
  font-size:      20px
  line-height:    25px

@mixin p()
  font-family:    $running
  font-size: 16px
  line-height: 26.5px

@mixin small()
  font-family:    $running
  font-size:      10.5px
  line-height:    15.5px
  

html, body
  @include p()

h1, .h1
  @include h1()

@media (max-width: $phone-max)
  h1, .h1
    @include h2()

h2, .h2
  @include h2()
  
h3, .h3
  @include h3()

h4, .h4
  @include h4()

nav,
nav ol li,
nav ul li
  @include h4()

@media (max-width: $phone-max)
  nav,
  nav ol li,
  nav ul li
    @include h5()

hgroup, .hgroup
  @include hgroup()

table, th, td, p
  @include p()

@media (max-width: $phone-max)
  table, th, td
    @include small()

ol li, ul li, dl, dd, dt, label, figcaption, small, label, sup
  @include small()
