ul
  &.swatch
    li.colour
      width: 40px
      height: 40px
      border-radius: 50%
      display: inline-block

      + &.outline
        border: #ddd 1px solid

      + li.colour
        margin-left: 15px

  &.fo
    li.colour
      &:nth-child(1)
        background: #154b0d
      &:nth-child(2)
        background: #C14D4D
      &:nth-child(3)
        background: #fcf9f9

  &.ideahouse
    li.colour
      &:nth-child(1)
        background: #f4c95b
      &:nth-child(2)
        background: #60af74
      &:nth-child(3)
        background: #5ec5e2
      &:nth-child(4)
        background: #fff

  &.gr
    li.colour
      &:nth-child(1)
        background: #95ffe1
      &:nth-child(2)
        background: #222
      &:nth-child(3)
        background: #fff

  &.goget
    li.colour
      &:nth-child(1)
        background: #00b4ad
      &:nth-child(2)
        background: #ffc611
      &:nth-child(3)
        background: #23262f
      &:nth-child(4)
        background: #fff

