.band.head.fixed
  a(href="work.html" tabindex="-1").move-up
  nav(role="navigation")
    ol
      li
        a(href="index.html").profile droom
      li
        a(href="work.html").work Case Studies
  a(href="index.html" tabindex="-1").move-out
  hr
