.band.head.relative.unselect#head
  a(href="work.html" tabindex="-1").move.move-up
  nav(role="navigation").ghost
    ol.reset.ghost
      li.ghost.nolist.space.profile.caps
        a(href="index.html").target Droom.io
      li.ghost.nolist.work
        a(href="work.html").target Case Studies

.band.js.hr
  .segment.type
    h4 
      | Hey there. There are some features on here that need JavaScript to work. Please enable it for the full experience. 
      a(href="http://enable-javascript.com/") View instructions
      | .

.band.head.relative#return
  a(href="#head" tabindex="-1").move.move-top
  .segment.type.ghost
    ol.reset.ghost.nav
      li.ghost.nolist.space.caps Droom.io
      li.ghost.nolist
        = project

