.band.head.relative
  a(href="index.html" tabindex="-1").move.move-out
  nav(role="navigation").unselect
    ol
      li
        a(href="index.html").profile droom
      li
        a(href="work.html").work Case Studies
  a(href="work.html" tabindex="-1").move.move-up
  hr
