.band.head.relative.unselect#head
  a(href="work.html" tabindex="-1").move.move-up
  nav(role="navigation")
    ol
      li.profile
        a(href="index.html") droom.io
      li.work
        a(href="work.html") Case Studies


.band.js.hr
  .segment.type
    h4 
      | Hey there. There are some features on here that need JavaScript to work. Please enable it for the full experience. 
      a(href="http://enable-javascript.com/") View instructions
      | .


.band.head.relative.unselect.hello
  a(href="#head" tabindex="-1").move.move-top
  nav
    ol
      li.profile droom.io
      li.work
        = project




