.band.head.relative.unselect
  nav(role="navigation")
    ol
      li
        a(href="index.html").profile droom
      li
        a(href="work.html").work Case Studies

  a(href="work.html" tabindex="-1").move.move-up

  hr
