.band.head
  a(name="top")
  header(role="banner")
    h1
      = "droom"
      span.hide-mobile .name

    nav(role="navigation")
      ol
        li.profile
          a(href="index.html") Profile
        li.work
          a(href="work.html") Work
  hr
