.band.head.relative.unselect#head
  a(href="work.html" tabindex="-1").move.move-up
  nav(role="navigation")
    ol
      li
        a(href="index.html").profile droom
      li
        a(href="work.html").work Case Studies


//- .band.notice.hr.relative
//-   .segment.type
//-     h4 
//-       | There are some features on here that need JavaScript to work. 
//-       br
//-       | Please enable it for the full experience. 
//-       a(href="http://enable-javascript.com/") Instructions
//-       | .


.band.head.relative.unselect.hello
  a(href="#head" tabindex="-1").move.move-top
  nav
    ol
      li.profile droom.io
      li.work
        = project




