aside.project(role="complementary")
  .segment.type
    dl.reset.credits.feed
      dt 19.09.16
      dd
        | Featured in 
        a(href="http://codepen.io/droom/details/dXxmmE/").inline.dark CSS Animation Weekly Issue #8

      dt 12.09.16
      dd
        | Featured in 
        a(href="http://codepen.io/droom/pen/grBPYq").inline.dark CSS Animation Weekly Issue #7

      dt 12.09.16
      dd
        | Project (Behance): ‘
        a(href="https://www.behance.net/gallery/42759827/Reformistio").inline.dark Reformist.io
        | ’.

      dt 04.09.16
      dd
        | Exhibition: 
        a(href="http://news.droom.name/post/150930613259/under-the-same-sun-art-from-latin-america-today").inline.dark Under the Same Sun
        | , Camberwell