dl.reset.credits

  dt 19.09.16
  dd 
    | Published in 
    a(href="http://cssanimation.curated.co/issues/8?m=web#NLC4Rt1").inline.dark CSS Animation Weekly Issue #8

  dt 12.09.16
  dd 
    | Published in 
    a(href="http://cssanimation.curated.co/issues/7?m=web#eivCVMD").inline.dark CSS Animation Weekly Issue #7

  dt 12.09.16
  dd 
    | Project (Behance): ‘
    a(href="https://www.behance.net/gallery/42759827/Reformistio").inline.dark Reformist.io
    | ’.

  dt 04.09.16
  dd 
    | Exhibition: 
    a(href="http://news.droom.name/post/150930613259/under-the-same-sun-art-from-latin-america-today").inline.dark Under the Same Sun
    | , Camberwell