footer(role="contentinfo").band.hr
  .type
    p
      a(href="#top" aria-label="Back to top") Back to top
    p
      = "Made by Chris Droom "
      &copy;
      = "2016"
      br
      a(href="http://github.com/droom" aria-label="View code on GitHub") Judge code
