if project
  .band.hr.relative.turn
    a(href=prevURL tabindex="-1").move.move-left
    ul.page
      li
        a(href=prevURL)
          small Previous project
          if prevTitle
            h3
              = prevTitle
      li
        a(href=nextURL)
          small Next project
          if nextTitle
            h3 
              = nextTitle
    a(href=nextURL tabindex="-1").move.move-right


footer(role="contentinfo").band.hr
  .segment.type
    p
      = "Made by Chris Droom "
      sup &copy;
      = "2016"
      br
      a(href="https://github.com/droom/mayday" aria-label="View code on GitHub").pull Judge code
