//- if project
//-   .band.hr.turn.relative.pager
//-     .segment.type
//-       a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="400").move.move-left.animsition-link
//-       a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="400").move.move-right.animsition-link
//-       ul.reset.page.ghost
//-         li.ghost
//-           a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="400").h4.animsition-link.ghost=prevTitle
//-         li.ghost
//-           a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="400").h4.animsition-link.ghost=nextTitle



footer(role="contentinfo").band.hr
  .segment.type
    p
      = "Made by Chris Droom "
      &bull;
      = " 2016"
      br
      a(href="https://github.com/droom/mayday" aria-label="View code on GitHub").pull Judge code
