.band.hr
  hr
  footer(role="contentinfo")
    p
      a(href="#top" aria-label="Back to top") Back to top
    p
      = "Made by Chris Droom "
      &copy;
      = "2015."
      br
      a(href="http://github.com/droom" aria-label="View code on GitHub") Judge code
      = ". "
