//- if project
//-   .band.hr.relative.turn
//-     ul.reset.page
//-       li
//-         a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="400").animsition-link.plain.move-left
//-           .segment.type
//-             dl.reset.credits
//-               dt.hide Project name
//-               dd.project.h4
//-                 = prevTitle
//-               dt.client Client
//-               dd.client DVG Web
//-               dt.studio Studio
//-               dd.studio Six Leaves

//-       li
//-         a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="400").animsition-link.plain.move-right
//-           .segment.type
//-             dl.reset.credits
//-               dt.hide Project name
//-               dd.project.h4
//-                 = nextTitle
//-               dt.client Client
//-               dd.client DVG Web
//-               dt.studio Studio
//-               dd.studio Six Leaves


footer(role="contentinfo").band.hr

  .segment.type
    p
      = "Made by Chris Droom "
      sup &copy;
      = "2016"
      br
      a(href="https://github.com/droom/mayday" aria-label="View code on GitHub").pull Judge code
