.band.hr.turn
  hr
  .segment.type.ceiling
    .half
      h4 GiveReceipt Web/App
      small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam quo placeat officiis quia unde illo quod facere, distinctio iste odit earum fuga impedit a nesciunt, neque vero dolorum suscipit.
    .half
      h4 GiveReceipt Web/App
      small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam quo placeat officiis quia unde illo quod facere, distinctio iste odit earum fuga impedit a nesciunt, neque vero dolorum suscipit.
.band.hr
  hr
  footer(role="contentinfo")
    p.hide-desktop
      a(href="#top" aria-label="Back to top") Back to top
    p
      = "Made by Chris Droom "
      &copy;
      = "2015."
      br
      a(href="http://github.com/droom" aria-label="View code on GitHub") Judge code
      = ". "
