//- include _page

if !index
  footer(role="contentinfo").band.hr
    .segment.type
      p
        &copy;
        = "2016. "
        a(href="https://github.com/droom/mayday" aria-label="View code on GitHub") Judge code
        = "."