if project
  .band.hr.relative.turn
    ul.reset.page
      li
        a.plain(href=prevURL)
          .segment.type
            dl.credits
              dt.hide Project name
              dd.project.h4
                = prevTitle
              dt.client Client
              dd.client DVG Web
              dt.studio Studio
              dd.studio Six Leaves

      li
        a.plain(href=nextURL)
          .segment.type
            dl.credits
              dt.hide Project name
              dd.project.h4
                = nextTitle
              dt.client Client
              dd.client DVG Web
              dt.studio Studio
              dd.studio Six Leaves


footer(role="contentinfo").band.hr
  .segment.type
    p
      = "Made by Chris Droom "
      sup &copy;
      = "2016"
      br
      a(href="https://github.com/droom/mayday" aria-label="View code on GitHub").pull Judge code
