.band.hr
  hr
  footer(role="contentinfo")
    p.hide-desktop
      a(href="#top") Back to top
    p
      = "Made by Chris Droom "
      &copy;
      = "2015."
      br
      a(href="http://github.com/droom") Judge code
      = ". "

