footer(role="contentinfo")
	if index
		.band.hr
			include ../partials/_feed

	.band
		.segment.type
			small.block
				&copy;
				= "2016/7 "
				a(href="mailto:yo@droom.io").inline.dark Chris Droom
				= ". "
				span.github
					a(href="https://github.com/droom/mayday" aria-label="View code on GitHub").inline.dark Source
					= "."