footer(role="contentinfo")
	.band
		.segment.type
			ol.reset.flex
				li.unit
					small
						&copy;
						= "2016/7 "
						a(href="https://twitter.com/droomio").inline.dark Chris Droom

				if index
					li.unit.align-r
						small
							a(href="https://github.com/droom/mayday" aria-label="View code on GitHub").inline.dark Source
