link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' media='screen' type='text/css')

link(href='css/screen.css' rel='stylesheet' media='all' type='text/css')
link(href='css/print.css' rel='stylesheet' media='print' type='text/css')

link(rel="prefetch" href="http://droom.io/img/cover/ih-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/gg-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/gr-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/fo-cover-600.jpg")

include _meta