link(rel='stylesheet' type='text/css' media='screen' href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700')
link(rel='stylesheet' type='text/css' media='all' href='css/screen.css')
link(rel='stylesheet' type='text/css' media='print' href='css/print.css')

link(rel="prefetch" href="http://droom.io/img/cover/ih-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/gg-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/gr-cover-600.jpg")
link(rel="prefetch" href="http://droom.io/img/cover/fo-cover-600.jpg")

include _meta