//
	
	Made by Chris Droom, 2016/7
	github.com/droom/mayday/
	
	— Transport New (Heavy) by K-Type
	— Transport New (Medium) by K-Type
	MyFonts Webfont Build ID 3345287
	2017-02-15T08:32:50-0500
	
	K-Type's redrawing of the UK Transport font
	originally designed for British road signs by 
	Jock Kinneir and Margaret Calvert, and first 
	published on the Preston bypass in 1958.

	This site has a Konami code feature 🎮


include head/styles
include head/meta
include head/prefetch
include head/touch
//- script(type='text/javascript').
//-   setTimeout(function(){var a=document.createElement("script");
//-   var b=document.getElementsByTagName("script")[0];
//-   a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0066/6803.js?"+Math.floor(new Date().getTime()/3600000);
//-   a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);