meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="Chris Droom • 2016")

title The 2015 portfolio of Product Designer Chris Droom

link(rel='stylesheet', media='screen', type='text/css', href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic')
link(rel='stylesheet', media='screen', type='text/css', href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700')
//- link(rel='stylesheet', media='screen', type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic')
//- link(rel='stylesheet', media='screen', type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' )

link(rel='stylesheet', media='screen', type='text/css', href='css/style.css')
