.band.head.relative#head
  if workiso
    a(href="work.html").move.move-return

  nav(role="navigation").ghost
    .segment.type.ghost
      ol.reset.flex.ghost
        li.unit.align-l.ghost.prise.caps
          a(href="/").target#profile droom.io
        li.unit.align-r.ghost.work
          a(href="work").target#work Selected Work