.band.head.relative#head
	if workiso
		a(href="index.html").move.move-return

	nav(role="navigation").ghost
		.segment.type.ghost
			ol.reset.flex.ghost
				li.unit.align-l.ghost.prise.caps
					if index
						| droom.io
					else
						a(href="index.html").inline.dark.target#profile droom.io
				//- li.unit.align-r.ghost.work
				//- 	if index
				//- 		a(href="cv.html").inline.dark.target#work Profile
				//- 	else
				//- 		| Profile
