.band.head.relative#head
  if workiso
    a(href="work.html" tabindex="-1" data-animsition-out-class="fade-out-up-sm" data-animsition-out-duration="300").move.move-return.animsition-link

  nav(role="navigation").ghost
    .segment.type.ghost
      ol.nav.reset.ghost
        li.ghost.nolist.space.profile.caps
          h1
            a(href="index.html").target#profile Droom.io
        li.ghost.nolist.work
          a(href="work.html").target#work Work
        li.ghost.nolist.methods
          a(href="methods.html").target#methods Methods


//- .band.js.hr
//-   .segment.type
//-     h4 
//-       = "Hey there. There are some features on here that need JavaScript to work. Please enable it for the full experience." 
//-       a(href="http://enable-javascript.com/") View instructions
//-       = "."

