//- // - var order1 = [ "GiveReceipt Brand/Web" , "Ideahouse" , "GoGet Brand/Web" , "Foreign Office" ]
//- // - var order2 = [ "work-givereceipt.html" , "work-ideahouse.html" , "work-goget.html" , "work-foreign.html" ]

- var order1 = [ "GiveReceipt Brand/Web" , "GoGet Brand/Web" , "Foreign Office" ]
- var order2 = [ "work-givereceipt.html" , "work-goget.html" , "work-foreign.html" ]