if project
  .band.hr.relative.pager
    nav
      .segment.type

        a(href=prevURL tabindex="-1").move.move-left
        a(href=nextURL tabindex="-1").move.move-right
        
        ol.flex.reset.page.ghost
          li.unit.border.ghost
            label.block.h3 Previous
            a(href=prevURL).inline.dark.ghost=prevTitle
          li.unit.right.ghost.align-r
            label.block.h3 Next 
            a(href=nextURL).inline.dark.ghost=nextTitle

