if project
  .band.hr.relative.pager
    
    .segment.type
      a(href=prevURL tabindex="-1").move.move-left
      a(href=nextURL tabindex="-1").move.move-right

      ul.reset.page.ghost
        li.ghost
          label Previous 
          a(href=prevURL).h4.ghost=prevTitle
        li.ghost
          label Next 
          a(href=nextURL).h4.ghost=nextTitle

