aside.project(role="complementary")
  .segment.type

    if role
      dl.reset.credits
        dt Role
        each item in role
          dd!= item

    if stack
      dl.reset.credits
        dt Stack
        each item in stack
          dd= item

    if collab
      dl.reset.credits(itemscope itemprop="Person" itemtype="http://schema.org/Person")
        dt With
        each item in collab
          dd(itemprop="name")= item