script(src='js/droomio.min.js')
script(src='js/mixitup.js')
script(type='text/javascript').
  var _mfq = _mfq || [];
  (function() {
  var mf = document.createElement("script");
  mf.type = "text/javascript"; mf.async = true;
  mf.src = "//cdn.mouseflow.com/projects/a64d55a0-db10-4006-bee1-5f49b0f90c67.js";
  document.getElementsByTagName("head")[0].appendChild(mf);
  })();
