.band.head#top
  a(href="#head" tabindex="-1").move.move-top.glide
  .segment.type.ghost
    ol.nav.reset.ghost
      li.ghost.nolist.space.caps droom.io
      if project
        li.ghost.nolist= project