.band.head#top
	a(href="#head" tabindex="-1").move.move-top.glide
	nav.ghost
		.segment.type.ghost
			ol.reset.flex.ghost
				li.unit.align-l.ghost.prise.profile.caps droom.io
				if project
					li.unit.align-r.ghost!= project