body
html
  box-sizing: border-box
*
  box-sizing: inherit
  &:before, &:after
    box-sizing: inherit

html
  font-family: $running

body
  margin: 0
  padding: 0
  color: $copy
  background: $bg
  user-select: none
  main
    user-select: auto

figure
  margin: 0 auto
  padding: 0
  line-height: 0
    

::selection,
pre ::selection
  @include theme-A(0.7)
