body
html
  box-sizing: border-box
*
  box-sizing: inherit
  &:before, &:after
    box-sizing: inherit

html
  font-family: $running

body
  margin: 0
  padding: 0
  color: $copy
  background: $bg

figure
  margin: 0 auto
  padding: 0
  line-height: 0

body
  user-select: none

body
  main
    user-select: auto
    
::selection
  background-color: rgba(176,234,236, 0.7)
 
pre
  ::selection
    background-color: $hover
