.cover-photo
  min-height: 350px

  .segment.type
    padding-top: 1em
    
    dl.credits
      opacity: 0.5

  &.gr
    background: url("../img/cover/gr-cover.jpg") 50% 70% repeat-x #e7e7e7
  
  &.atop
    background: url("../img/cover/at-cover.jpg") 50% 40% repeat-x #e7e7e7
  
  &.ih
    background: url("../img/cover/ih-cover.jpg") 50% 10% repeat-x #e7e7e7


// FO

.cover-photo
  &.fo
    background: url("../img/cover/fo-cover-1800.jpg") 50% 52% repeat-x rgba(0,0,0,.05)

@media (max-width: 1600px)
  .cover-photo
    &.fo
      background: url("../img/cover/fo-cover-1600.jpg") 50% 52% repeat-x rgba(0,0,0,.05)

@media (max-width: 1200px)
  .cover-photo
    &.fo
      background: url("../img/cover/fo-cover-1200.jpg") 50% 52% repeat-x rgba(0,0,0,.05)

@media (max-width: 600px)
  .cover-photo
    &.fo
      background: url("../img/cover/fo-cover-600.jpg") 12% 52% repeat-x rgba(0,0,0,.05)



// GOGET

.cover-photo
  &.gg
    background: url("../img/cover/gg-cover-1800.jpg") 50% 0 repeat-x rgba(0,0,0,.05)

@media (max-width: 1200px)
  .cover-photo
    &.gg
      background: url("../img/cover/gg-cover-1200.jpg") 70% 10% repeat-x rgba(0,0,0,.05)

@media (max-width: 600px)
  .cover-photo
    &.gg
      background: url("../img/cover/gg-cover-600.jpg") 30% 40% repeat rgba(0,0,0,.05)



// Jacket

.jacket

  dl.credits
    opacity: 0.5

  background: url("../img/cover/chris_droom-cover-1000.gif") 50% 100% no-repeat $orange

@media (max-height: 750px)
  .jacket
    background: url("../img/cover/chris_droom-cover-1000.gif") 50% 50% no-repeat $orange


@media (max-width: 600px)
  .jacket
    background: url("../img/cover/chris_droom-cover-600.gif") 35% 100% no-repeat $orange





