.belly-photo
  background: #ddd
  min-height: 350px
  &.gg
    background: url("../img/cover/gg-cover.jpg") 50% 0 repeat-x #e8b373
  &.gr
    background: url("../img/cover/gr-cover.jpg") 50% 70% repeat-x #e8b373
  &.me
    background: url("../img/editorial/cover.gif") 50% 101% no-repeat $orange
  &.atop
    background: url("../img/cover/at-cover.jpg") 50% 40% repeat-x #e7e7e7
  &.fo
    background: url("../img/cover/fo-cover.jpg") 50% 10% repeat-x #e7e7e7
  &.ih
    background: url("../img/cover/ih-cover.jpg") 50% 10% repeat-x #e7e7e7


@media (max-height: 800px)
  .belly-photo
    &.me
      background: url("../img/editorial/cover.gif") 100% 101% no-repeat $orange
      background-size: 900px

@media (max-height: 700px)
  .belly-photo
    &.me
      background: url("../img/editorial/cover.gif") 100% 101% no-repeat $orange
      background-size: 650px

@media (max-width: 615px)
  .belly-photo
    min-height: 280px
    &.me
      background: url("../img/editorial/cover.gif") 0% 101% no-repeat $orange
      background-size: 500px
