ul.page
  display: flex
  padding: 0
  width: 100%
  overflow: visible
  li
    width: 50%
    overflow: visible
    list-style: none
    transition: 200ms all ease
    a.plain
      display: block 
      border: none
      .segment.type
        dl.credits
          min-width: auto
          width: 100%
          dt.client,
          dt.studio
            display: none
          dd.project
            width: 70% !important
            min-height: 4em
            margin: 0
            display: block
          dd.project,
          dd.client,
          dd.studio
            text-align: left
            display: block
            width: 100%

  li:nth-child(1)
    border-left: $border
    a.plain
      .segment.type
        background-image: url('../img/components/arrow-nav-prev.svg') 
        background-repeat: no-repeat 
        background-size: 28px
        background-position: 93% 14% 
    a.plain:hover
      .segment.type
        background-position: 93% 14%
    
  li:nth-child(2)
    border-left: $border
    border-right: $border

    a.plain
      .segment.type
        background-image: url('../img/components/arrow-nav-next.svg') 
        background-repeat: no-repeat 
        background-size: 28px
        background-position: 93% 14% 
    a.plain:hover
      .segment.type
        background-position: 93% 14%

  li + li
    margin-top: 0
  
// @media (max-width: 450px)
  // ul.page
    // display: flex
    // width: 100%
    // flex-flow: row wrap
    // li:nth-child(1),
    // li:nth-child(2)
    //   width: 100%
    //   text-align: left
    //   border-left: none
    //   transition: 300ms all ease
    //   a.plain
    //     display: block 
    //     border: none
    //     .segment.type
    //       background-image: url('../img/components/arrow-nav-next.svg') 
    //       background-repeat: no-repeat 
    //       background-size: 28px
    //       background-position: 96% 18% 
    //       dl.credits
    //         dd.project,
    //         dd.client,
    //         dd.studio
    //           text-align: left
    //           width: 100%
    //           display: block
    //   a.plain:hover
    //     .segment.type
    //       background-position: 96% 18%
    // li:nth-child(2)
    //   order: 1
    // li:nth-child(1)
    //   order: 2
    //   border-top: $border
    //   a.plain
    //     .segment.type
    //       background-image: url('../img/components/arrow-nav-prev.svg') 



