@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?al4xbw')
  src: url('../fonts/icomoon.eot?al4xbw#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?al4xbw') format('truetype'), url('../fonts/icomoon.woff?al4xbw') format('woff'), url('../fonts/icomoon.svg?al4xbw#icomoon') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CircularStd-Bold'
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CircularStd-Bold.otf')  format('opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf')  format('truetype'), url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg')
  font-weight: normal
  font-style: normal