a
  color: $copy
  text-decoration: none
  border-bottom-color: rgba(0, 0, 0, 0.4)
  border-bottom-style: solid
  border-bottom-width: 0.18em

  &:active,
  &:focus
    outline: 0

  &:hover
    color: $blue
    border-bottom-color: $blue


a.plain
  text-decoration: none
  color: $copy
  &:hover
    color: $copy
