a
  color: $copy
  text-decoration: none
  border-bottom: $copy solid 0.14em
  outline: 0

  &.inline
    border: none
    background-image: -webkit-linear-gradient(top, transparent 85%, rgba(129, 211, 235, 1) 85%, rgba(129, 211, 235, 1) 95%, transparent 95%)
    // text-shadow: 0 0.03em $bg, 0 -0.03em $bg, 0.06em 0 $bg, 0 -0.06em $bg, 0.03em 0 $bg, -0.03em 0 $bg, 0.06em 0 $bg, -0.06em 0 $bg, 0.09em 0 $bg, -0.09em 0 $bg, 0.12em 0 $bg, -0.12em 0 $bg, 0.15em 0 $bg, -0.15em 0 $bg

  &.plain
    border-bottom: none
    
  &:focus,
  &:hover
    background-color: $hover

  &.move
    position: absolute
    top: 0
    height: 100%
    border: none

    &.move-left,
    &.move-return,
    &.move-top
      left: 0
      
    &.move-return,
    &.move-top
      width: 100%

    &.move-left,
    &.move-right
      width: 50%
      &:hover
        background: none

    &.move-left
      &:hover
        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSIzNy4zMzQiIHZpZXdCb3g9Ijc4LjA2NiA5My41MjEgNDAgMzcuMzM0Ij48cGF0aCBmaWxsPSIjMkMyMjI1IiBkPSJNNzguMDY2IDExMi4xMWwyMC42MDgtMTguNTkuMDQuMDUyLjAyLS4wMi45NyAxLjE5NCAxLjUwNSAxLjc4My0uMDMuMDI3LjAzLjAzNy0xNS4zODQgMTMuNjEyaDMyLjI0djQuMjNIODYuMjJsMTQuOTkgMTMuMi0uMTEyLjEzNy4xMS4wOTctMi41MzQgMi45ODUtMjAuNjA2LTE4LjY3NXYtLjA3Ii8+PC9zdmc+'), w-resize
        
    &.move-right
      right: 0
      &:hover
        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSIzNy4zMzQiIHZpZXdCb3g9Ijc4LjA2NiA5My41MjIgNDAgMzcuMzM0Ij48cGF0aCBmaWxsPSIjMkMyMjI1IiBkPSJNMTE4LjA2NiAxMTIuMjY3bC0yMC42MDYgMTguNTktLjA0LS4wNS0uMDIuMDE4LS45NzItMS4xOTMtMS41MDQtMS43OC4wMy0uMDI3LS4wMy0uMDQgMTUuMzgzLTEzLjYxaC0zMi4yNHYtNC4yM2gzMS44NDZsLTE0Ljk5LTEzLjIuMTEtLjE0LS4xMS0uMDk4IDIuNTM3LTIuOTg1IDIwLjYwNCAxOC42Nzd2LjA2OCIvPjwvc3ZnPg=='), e-resize

    &.move-return
      right: 0
      &:hover
        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOS41MDEiIGhlaWdodD0iMjcuMjY1IiB2aWV3Qm94PSIwIDAgMjkuNTAxIDI3LjI2NSI+PHBhdGggZmlsbD0iIzJDMjIyNSIgZD0iTTEwLjAyNSAyNS4yOFY4LjYzN2w2LjYxIDcuMjEuMDE3LS4wMTUuMDEzLjAxNS44NjYtLjcwNC41OC0uNDU0LS4wMDgtLjAxLjAyNC0uMDJMOS4xMDIgNWgtLjAzNkwwIDE0LjY1NmwxLjQ1IDEuMTg4LjA0OC0uMDUuMDY2LjA1IDYuNDEtNy4wMjJ2MTguNDQzaDIuMDUiLz48L3N2Zz4='), n-resize

    &.move-top
      right: 0
      &:hover
        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC4xMjUiIGhlaWdodD0iMjUuODU5IiB2aWV3Qm94PSIwIDEuNDA2IDE4LjEyNSAyNS44NTkiPjxwYXRoIGZpbGw9IiMyQzIyMjUiIGQ9Ik0xMC4wMjUgMjUuMjhWOC42MzZsNi42MSA3LjIxLjAxNy0uMDE0LjAxMy4wMTQuODY3LS43MDMuNTgtLjQ1NC0uMDEtLjAxLjAyMy0uMDJMOS4xMDIgNWgtLjAzNkwwIDE0LjY1NmwxLjQ1IDEuMTg4LjA0OC0uMDUuMDY2LjA1IDYuNDEtNy4wMjJ2MTguNDQzaDIuMDVtOC4xLTIzLjgwN1YxLjQwNkgwdjIuMDUyIi8+PC9zdmc+'), n-resize








