.reset
  margin: 0 
  padding: 0
  li
    margin: 0 
    padding: 0
    list-style: none

ol.ref
  margin: 0
  padding: 0
  
  li
    font-size: $font-small
    line-height: 1.62em


@media (max-width: 820px)
  ol.ref
    margin: 0
    padding: 0 0 0 $gttr-ph

dl.credits
  font-family: $notes
  font-size: $font-small
  line-height: 16px
  vertical-align: top
  display: inline-block
  min-width: 210px

  dd
    display: inline
    margin: 0

  dd + dd
    display: block
    margin-left: 5.36em

  dd:after
    display: block
    content: ''

  dt
    display: inline-block
    min-width: 52px
    font-weight: bold

  dt.hide
    display: none
    
  dd.project
    margin: 0 0 45px -1px
    display: block

  dd.asia:after
    content: url('../img/components/asia-small.svg')
    display: inline
    position: absolute
    margin-top: 0.38%
    margin-left: 0.8%
    opacity: 0.7


