a.pan
  background: $blueSky
  width: 70px
  height: 70px
  position: absolute
  top: $gttr-dt
  left: $gttr-dt
  padding: 16px
  text-decoration: none
  border: none
  &:hover
    background: $hover
    
  img
    width: 100%
    opacity: 0.4


.drag:hover
  cursor: col-resize