main
  .segment
    &.type
      h3:first-child
        margin-top: 0

    &.intro
      & + .segment.type
        padding-top: 0

    &.surface,
    &.blueprint
      margin-top: 1.5em
      figure
        figcaption
          padding-top: 1em
          padding-bottom: 3em

    &.code
      margin-bottom: 1.5em

  .band.turn
    margin-top: 2em

  .band.ref
    margin-top: 2em
    padding: 1em 0

    & + .band.turn
      margin-top: 0

