.band
  &.hr
    border-top: $border
  &.head
    background: $blueSky
  &.ref
    background: rgba(200,200,200,0.1)
    padding: 0 0 1em 0
  &.relative
    position: relative

.segment
  margin: auto
  figure
    img
      max-width: 100%
    figcaption
      background: $bg
      padding-left: $gttr-dt
      padding-right: $gttr-dt
      width: 100%
      small
        max-width: 340px

  &.center
    text-align: center
    
  &.relative
    position: relative

  &.blueprint
    figure
      background: url('../img/components/tile-graph.gif') repeat 50% 50% $blueDark

  &.code
    background: $slate

  &.type,
  &.code
    padding: $gttr-dt

  &.type
    max-width: $narrow-unit
    z-index: 1

  &.code,
  &.surface,
  &.blueprint
    max-width: $wide-unit

    
.half
  display: flex
  
  .slice
    width: 50%
    align-self: flex-start
    
  .slice:nth-child(1)
    padding-right: 5px
    text-align: left
  
  .slice:nth-child(2)
    padding-left: 5px


@media (max-width: $phone-max)
  .segment
    &.type
      padding: $gttr-ph

    &.blueprint.wire
      .warn
        display: block
      figure
        img
          opacity: 0.4


    &.blueprint
      figure
        figcaption
          padding: $gttr-ph

    &.surface
      figure
        figcaption
          padding: $gttr-ph
          margin-top: 0
