h1, h2, h3, h4, h5, h6, nav, nav ol li, .h1, .h2, .h3, .h4, .h5, .h6, .nav
  font-family: $display
  font-weight: normal !important

h1, .h1,
nav, .nav
  font-size: 1rem
  margin: 0
  padding: 0

@media (max-width: $phone-max)
  h1, .h1,
  nav, .nav
    font-size: 0.85rem

h2, .h2
  letter-spacing: -0.035em
  line-height: 1.15em
  font-size: 3rem
  color: $copy
  margin: 0
  margin-left: -0.03em
  margin-bottom: 0.07em

@media (max-width: $phone-max)
  h2, .h2
    font-size: 1.8rem
    line-height: 1.212em
    padding: 0
    max-width: 320px

h3, .h3
  font-size: 1.8rem
  font-weight: 600
  line-height: 2rem
  letter-spacing: -0.02em
  margin: 0
  
@media (max-width: $phone-max)
  h3, .h3
    font-size: 1.255rem
    line-height: 1.5rem

h4, .h4
  font-size: 1.255rem
  line-height: 1.5rem  
  padding-top: 0px
  padding-bottom: 0px
  text-align: center
  
  
p, .p
  font-size: 1em
  line-height: 1.65em

.bind
  max-width: 400px
  margin-top: 0

.welcome
  margin-left: 4.95556em


pre
  font-family: $technical
  margin: 0
  font-size: 13px
  line-height: 21px
  border-radius: 1px
  word-wrap: break-word
  color: #08bfca
  text-align: left

  &.comment
    color: grey

  & + pre.comment
    padding-top: 15px

small
  font-family: $running
  font-size: $font-small
  line-height: 16px
  display: inline-block

figcaption
  text-align: left
  font-weight: 200
  font-size: 11px
  letter-spacing: 0.04em
  line-height: 1.62em
  letter-spacing: .03em
  counter-increment: cards
  opacity: 1
  
figcaption:before
  content: "fig. " counter(cards)
  display: block

blockquote
  text-align: center
  margin: 0 auto 
  padding: 0

  background: #eee
  font-size: 1em
  font-weight: 600
  quotes: "\201C""\201D""\2018""\2019"

blockquote::before,
blockquote::after
  display: inline
  vertical-align: top

blockquote::before
  content: open-quote
  margin-left:    -0.7em
  margin-right:   0.2em

blockquote::after
  content: close-quote


cite
  display: block
  margin: 0.75em 0 2.5em 0
  font-style: normal  

cite:before
  content: "\2013"
  margin-left:    -0.7em
  margin-right:   0.2em

sup
  vertical-align: top
  margin: -0.3em 0 0 0.4em
  display: inline-block
  font-size: $font-small


.dark
  dt, dd, p, a, small, h1, h2, h3, h4
    color: $copy

.light
  dt, dd, p, a, small, h1, h2, h3, h4
    color: white


.ndash
  position: relative
  top: -0.09em
  padding: 0 0.1em
.accent
  color: $blue
  font-weight: 400
  text-rendering: optimizeLegibility
  font-family: arial
  
.br
  display: block

.hide-desktop
  display: none

.nolist
  list-style: none

.space
  letter-spacing: 0.06em

.caps
  text-transform: uppercase

.ghost
  pointer-events: none
  
.target
  pointer-events: auto