h1, h2, h3, .h3
  font-family: $serif

h2
  font-weight: 700
  letter-spacing: -0.035em
  line-height: 1.2em
  font-size: 3rem
  color: $copy
  margin: 0
  padding: 0 0 0.15em 0
  min-height: 2.5em
  margin-left: -0.03em

  & + small
    margin-top: 40px
    display: block

  & + dl.credits
    margin-top: 40px
    display: block

@media (max-width: $phone-max)
  h2
    font-size: 1.8rem
    line-height: 1.212em
    padding: 0
    max-width: 320px

h3, .h3
  font-size: 1.8rem
  font-weight: 600
  line-height: 1.3em
  letter-spacing: -0.02em
  margin: 10px 0 30px 0

h4, .h4
  margin: 0px 0 20px 0

@media (max-width: $phone-max)
  h3, .h3
    margin: 0 0 10px 0
    font-size: 1.2rem

sup
  vertical-align: top
  a
    vertical-align: top
    font-size: 0.5em

p
  line-height: 1.5em
  font-size: 1rem

.bind
  p
    max-width: 400px

hr
  height: 1px
  border: 0
  margin: 0
  padding: 0
  background: 0
  border-bottom: $faint-border

pre,
pre.comment
  margin: 0
  font-size: 14px
  line-height: 21px
  border-radius: 1px
  font-family: 'InputMonoNarrow-Regular', 'InputMonoNarrow-Thin', georgia, inconsolata, monospace
  word-wrap: break-word
  color: #08bfca
  text-align: left

pre.comment
  color: grey

pre + pre.comment,
  padding-top: 15px


small
  font-family: $serif
  font-size: 11px
  line-height: 16px
  display: inline-block

a.view-large,
figcaption
  text-align: left
  font-weight: 200
  font-size: 11px
  font-family: $serif
  letter-spacing: 0.04em
  line-height: 1.65em
  letter-spacing: 0.02em
  max-width: 400px
  counter-increment: cards

  opacity: 0.9

figcaption:before
  content: "fig. " counter(cards)
  display: block

blockquote
  font-size: 20px
  font-weight: 600
  letter-spacing: -0.025em
blockquote::before
  content: ""


/* Dressing */
.ndash
  position: relative
  top: -0.09em
  padding: 0 0.1em

.accent
  color: $blue
  font-weight: 400

.accent.slim
  letter-spacing: -0.2em
  margin-right: 0.2em


/* Adjustments */

.br
  display: block

.hide-desktop
  display: none
@media (max-width: $phone-max)
  .hide-desktop
    display: block


h1
  .hide-mobile
    opacity: 1
    transition: $transition

@media (max-width: 360px)
  h1
    .hide-mobile
      opacity: 0
